!.gitignore
.vscode
.vscode-server
__pycache__
*.pyc
*.pyo
.viminfo
.cache
.local
.bash*
data/
test.*
.idea
.env
prod.env
dev.env
localhost.crt
localhost.key
sqlite3.db
*.db
venv/
plugin_states.json
plugin_states.json.lock
log_config.ini
uvicorn.log
log/
