!.gitignore
.vscode
.vscode-server
__pycache__
*.pyc
*.pyo
.viminfo
.cache
.local
.bash*
data/
test*.py
.idea
.env
prod.env
dev.env
test.py
localhost.crt
localhost.key
sqlite3.db
*.db
venv/
plugins_state.json
