{% extends "base.html" %}

{% block title %}회원정보 찾기{% endblock title %}
{% block subtitle %}회원정보 > 아이디 찾기{% endblock subtitle %}

{% block content %}
<div id="find_info" class="new_win">
    <div class="new_win_con">
        <form name="fidlost" action="/bbs/id_lost" onsubmit="return fidlost_submit(this);" method="post" autocomplete="off">
            <input type="hidden" name="token" value="">
            <h3>회원가입정보로 ID 찾기</h3>
            <fieldset id="info_fs">
                <p>
                    회원가입 시 등록하신 이름, 이메일 주소를 입력해주세요.<br>
                    회원정보와 입력한 정보가 같아야, ID를 찾을 수 있습니다.
                </p>
                <label for="mb_name" class="sound_only">이름<strong class="sound_only">필수</strong></label>
                <input type="text" name="mb_name" id="mb_name" required="" class="required frm_input half_input" size="30" placeholder="이름">
                <label for="mb_email" class="sound_only">E-mail 주소<strong class="sound_only">필수</strong></label>
                <input type="text" name="mb_email" id="mb_email" required="" class="required frm_input full_input email" size="100" placeholder="E-mail 주소">
            </fieldset>

            <!-- Captcha Start -->
            <fieldset id="captcha" class="captcha">
                {% include captcha_widget(request) ignore missing %}
            </fieldset>
            <!-- Captcha End -->

            <div class="win_btn">
                <button type="submit" class="btn_submit">ID 찾기</button>
            </div>
        </form>
    </div>
</div>
<script>    
function fidlost_submit(f) {
    // captcha 사용시
    if (typeof check_captcha === "function") {
        if (!check_captcha(f)) {
            return false;
        }
    }

    f.token.value = generate_token();

    return true;
}
</script>
{% endblock content %}