<section id="visit" class="ft_cnt">
    <h2>접속자집계</h2>
    <dl>
        <dt><span></span> 오늘</dt>
        <dd><strong>{{ today|number_format }}</strong></dd>
        <dt><span></span> 어제</dt>
        <dd><strong>{{ yesterday|number_format }}</strong></dd>
        <dt><span></span> 최대</dt>
        <dd><strong>{{ max|number_format }}</strong></dd>
        <dt><span></span> 전체</dt>
        <dd><strong>{{ total|number_format }}</strong></dd>
    </dl>
    {% if request.state.is_super_admin %}
        <a href="/admin/visit_list" class="btn_admin btn">
            <i class="fa fa-cog fa-spin fa-fw"></i>
            <span class="sound_only">관리자</span>
        </a>
    {% endif %}
</section>