{% extends "base.html" %}

{% block title %}
    회원관리
{% endblock %}

{% block content %}

<h1 id="container_title">회원관리</h1>
<div class="container_wr">

    <div class="local_ov01 local_ov">
    <a href="/admin/member_list" class="ov_listall">전체목록</a>    <span class="btn_ov01"><span class="ov_txt">총회원수 </span><span class="ov_num"> 2명 </span></span>
    <a href="?sst=mb_intercept_date&amp;sod=desc&amp;sfl=&amp;stx=" class="btn_ov01" data-tooltip-text="차단된 순으로 정렬합니다.&#xa;전체 데이터를 출력합니다."> <span class="ov_txt">차단 </span><span class="ov_num">0명</span></a>
    <a href="?sst=mb_leave_date&amp;sod=desc&amp;sfl=&amp;stx=" class="btn_ov01" data-tooltip-text="탈퇴된 순으로 정렬합니다.&#xa;전체 데이터를 출력합니다."> <span class="ov_txt">탈퇴 </span><span class="ov_num">0명</span></a>
</div>

<form id="fsearch" name="fsearch" class="local_sch01 local_sch" method="get">

    <label for="sfl" class="sound_only">검색대상</label>
    <select name="sfl" id="sfl">
        <option value="mb_id" >회원아이디</option>
        <option value="mb_nick" >닉네임</option>
        <option value="mb_name" >이름</option>
        <option value="mb_level" >권한</option>
        <option value="mb_email" >E-MAIL</option>
        <option value="mb_tel" >전화번호</option>
        <option value="mb_hp" >휴대폰번호</option>
        <option value="mb_point" >포인트</option>
        <option value="mb_datetime" >가입일시</option>
        <option value="mb_ip" >IP</option>
        <option value="mb_recommend" >추천인</option>
    </select>
    <label for="stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
    <input type="text" name="stx" value="" id="stx" required class="required frm_input">
    <input type="submit" class="btn_submit" value="검색">

</form>

<div class="local_desc01 local_desc">
    <p>
        회원자료 삭제 시 다른 회원이 기존 회원아이디를 사용하지 못하도록 회원아이디, 이름, 닉네임은 삭제하지 않고 영구 보관합니다.
    </p>
</div>


<form name="fmemberlist" id="fmemberlist" action="/admin/member_list_update" onsubmit="return fmemberlist_submit(this);" method="post">
    <input type="hidden" name="sst" value="mb_datetime">
    <input type="hidden" name="sod" value="desc">
    <input type="hidden" name="sfl" value="">
    <input type="hidden" name="stx" value="">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="token" value="">

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>회원관리 목록</caption>
            <thead>
                <tr>
                    <th scope="col" id="mb_list_chk" rowspan="2">
                        <label for="chkall" class="sound_only">회원 전체</label>
                        <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                    </th>
                    <th scope="col" id="mb_list_id" colspan="2"><a href="/admin/member_list?sst=mb_id&sod=asc&sfl=&stx=&sca=&page=1">아이디</a></th>
                    <th scope="col" rowspan="2" id="mb_list_cert"><a href="/admin/member_list?sst=mb_certify&sod=desc&sfl=&stx=&sca=&page=1">본인확인</a></th>
                    <th scope="col" id="mb_list_mailc"><a href="/admin/member_list?sst=mb_email_certify&sod=desc&sfl=&stx=&sca=&page=1">메일인증</a></th>
                    <th scope="col" id="mb_list_open"><a href="/admin/member_list?sst=mb_open&sod=desc&sfl=&stx=&sca=&page=1">정보공개</a></th>
                    <th scope="col" id="mb_list_mailr"><a href="/admin/member_list?sst=mb_mailling&sod=desc&sfl=&stx=&sca=&page=1">메일수신</a></th>
                    <th scope="col" id="mb_list_auth">상태</th>
                    <th scope="col" id="mb_list_mobile">휴대폰</th>
                    <th scope="col" id="mb_list_lastcall"><a href="/admin/member_list?sst=mb_today_login&sod=desc&sfl=&stx=&sca=&page=1">최종접속</a></th>
                    <th scope="col" id="mb_list_grp">접근그룹</th>
                    <th scope="col" rowspan="2" id="mb_list_mng">관리</th>
                </tr>
                <tr>
                    <th scope="col" id="mb_list_name"><a href="/admin/member_list?sst=mb_name&sod=asc&sfl=&stx=&sca=&page=1">이름</a></th>
                    <th scope="col" id="mb_list_nick"><a href="/admin/member_list?sst=mb_nick&sod=asc&sfl=&stx=&sca=&page=1">닉네임</a></th>
                    <th scope="col" id="mb_list_sms"><a href="/admin/member_list?sst=mb_sms&sod=desc&sfl=&stx=&sca=&page=1">SMS수신</a></th>
                    <th scope="col" id="mb_list_adultc"><a href="/admin/member_list?sst=mb_adult&sod=desc&sfl=&stx=&sca=&page=1">성인인증</a></th>
                    <th scope="col" id="mb_list_auth"><a href="/admin/member_list?sst=mb_intercept_date&sod=desc&sfl=&stx=&sca=&page=1">접근차단</a></th>
                    <th scope="col" id="mb_list_deny"><a href="/admin/member_list?sst=mb_level&sod=desc&sfl=&stx=&sca=&page=1">권한</a></th>
                    <th scope="col" id="mb_list_tel">전화번호</th>
                    <th scope="col" id="mb_list_join"><a href="/admin/member_list?sst=mb_datetime&sod=asc&sfl=&stx=&sca=&page=1">가입일</a></th>
                    <th scope="col" id="mb_list_point"><a href="/admin/member_list?sst=mb_point&sod=desc&sfl=&stx=&sca=&page=1"> 포인트</a></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    {% set background_color = 'bg0' if loop.index0 % 2 == 0 else 'bg1' %}
                    <tr class="{{ background_color }}">
                    <td headers="mb_list_chk" class="td_chk" rowspan="2">
                        <input type="hidden" name="mb_id[{{ loop.index0 }}]" value="{{ member.mb_id }}" id="mb_id_{{ loop.index0 }}">
                        <label for="chk_0" class="sound_only">{{ member.mb_name }} {{ member.mb_nick }}님</label>
                        <input type="checkbox" name="chk[]" value="0" id="chk_0">
                    </td>
                    <td headers="mb_list_id" colspan="2" class="td_name sv_use">{{ member.mb_id }}</td>
                    <td headers="mb_list_cert" rowspan="2" class="td_mbcert">
                        <input type="radio" name="mb_certify[{{ loop.index0 }}]" value="simple" id="mb_certify_sa_{{ loop.index0 }}" >
                        <label for="mb_certify_sa_{{ loop.index0 }}">간편인증</label><br>
                        <input type="radio" name="mb_certify[{{ loop.index0 }}]" value="hp" id="mb_certify_hp_{{ loop.index0 }}" >
                        <label for="mb_certify_hp_{{ loop.index0 }}">휴대폰</label><br>
                        <input type="radio" name="mb_certify[{{ loop.index0 }}]" value="ipin" id="mb_certify_ipin_{{ loop.index0 }}" >
                        <label for="mb_certify_ipin_{{ loop.index0 }}">아이핀</label>
                    </td>
                    <td headers="mb_list_mailc"><span class="txt_true">Yes</span></td>
                    <td headers="mb_list_open">
                        <label for="mb_open_{{ loop.index0 }}" class="sound_only">정보공개</label>
                        <input type="checkbox" name="mb_open[{{ loop.index0 }}]" value="1" id="mb_open_{{ loop.index0 }}" {{ 'checked' if member.mb_open else '' }}>
                    </td>
                    <td headers="mb_list_mailr">
                        <label for="mb_mailling_0" class="sound_only">메일수신</label>
                        <input type="checkbox" name="mb_mailling[{{ loop.index0 }}]" value="1" id="mb_mailling_{{ loop.index0 }}" {{ 'checked' if member.mb_mailling else '' }}>
                    </td>
                    <td headers="mb_list_auth" class="td_mbstat">
                        정상                        </td>
                    <td headers="mb_list_mobile" class="td_tel"></td>
                    <td headers="mb_list_lastcall" class="td_date">23-09-11</td>
                    <td headers="mb_list_grp" class="td_numsmall"></td>
                    <td headers="mb_list_mng" rowspan="2" class="td_mng td_mng_s"><a href="/admin/member_form/{{ member.mb_id }}?sst=&amp;sod=&amp;sfl=&amp;stx=&amp;page=&amp;w=u" class="btn btn_03">수정</a><a href="/admin/boardgroupmember_form?mb_id=kagla" class="btn btn_02">그룹</a></td>
                </tr>
                <tr class="{{ background_color }}">
                    <td headers="mb_list_name" class="td_mbname">{{ member.mb_name }}</td>
                    <td headers="mb_list_nick" class="td_name sv_use">
                        <div><span class="sv_wrap">
                            <a href="/bbs/profile/{{ member.mb_id }}" class="sv_member" title="{{ member.mb_nick }} 자기소개" target="_blank" rel="nofollow" onclick="return false;">
                                <span class="profile_img"><img src="/static/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> {{ member.mb_nick }}</a>
                                <span class="sv"><a href="/bbs/memo_form?me_recv_mb_id={{ member.mb_id }}" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                            <a href="/bbs/formmail?mb_id=kagla&amp;name=%EA%B8%B8%EB%8F%99%EC%9D%B4&amp;email=m8ac0sJyp8XZl6qSmaHQ" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                            <a href="/bbs/profile/kagla" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                            <a href="/bbs/new?mb_id=kagla" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                            <a href="/admin/member_form?w=u&amp;mb_id=kagla" target="_blank" rel="nofollow">회원정보변경</a>
                            <a href="/admin/point_list?sfl=mb_id&amp;stx=kagla" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://g5.pypot.com/bbs/memo_form.php?me_recv_mb_id=kagla" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                            <a href="/bbs/formmail?mb_id=kagla&amp;name=%EA%B8%B8%EB%8F%99%EC%9D%B4&amp;email=m8ac0sJyp8XZl6qSmaHQ" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                            <a href="/bbs/profile/kagla" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                            <a href="/bbs/new?mb_id=kagla" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                            <a href="/admin/member_form?w=u&amp;mb_id=kagla" target="_blank" rel="nofollow">회원정보변경</a>
                            <a href="/admin/point_list?sfl=mb_id&amp;stx=kagla" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                    </td>

                    <td headers="mb_list_sms">
                        <label for="mb_sms_0" class="sound_only">SMS수신</label>
                        <input type="checkbox" name="mb_sms[{{ loop.index0 }}]"  value="1" id="mb_sms_{{ loop.index0 }}" {{ 'checked' if member.mb_sms else '' }}>
                    </td>
                    <td headers="mb_list_adultc">
                        <label for="mb_adult_0" class="sound_only">성인인증</label>
                        <input type="checkbox" name="mb_adult[{{ loop.index0 }}]"  value="1" id="mb_adult_{{ loop.index0 }}" {{ 'checked' if member.mb_adult else '' }}>
                    </td>
                    <td headers="mb_list_deny">
                        <input type="checkbox" name="mb_intercept_date[{{ loop.index0 }}]"  value="{{ member.mb_intercept_date }}" id="mb_intercept_date_{{ loop.index0 }}" title="차단하기">
                        <label for="mb_intercept_date_{{ loop.index0 }}" class="sound_only">접근차단</label>
                    </td>
                    <td headers="mb_list_auth" class="td_mbstat">
                        <select id="mb_level[{{ loop.index0 }}]" name="mb_level[{{ loop.index0 }}]">
                        <option value="1">1</option>
                        <option value="2" selected="selected">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        </select>
                    </td>
                    <td headers="mb_list_tel" class="td_tel">{{ member.mb_tel }}</td>
                    <td headers="mb_list_join" class="td_date">{{ member.mb_datetime }}</td>
                    <td headers="mb_list_point" class="td_num"><a href="/admin/point_list?sfl=mb_id&amp;stx=kagla">1,000</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn_fixed_top">
        <input type="submit" name="act_button" value="선택수정" onclick="document.pressed=this.value" class="btn btn_02">
        <input type="submit" name="act_button" value="선택삭제" onclick="document.pressed=this.value" class="btn btn_02">
                    <a href="/admin/member_form" id="member_add" class="btn btn_01">회원추가</a>
        
    </div>


</form>


<script>
    function fmemberlist_submit(f) {
        if (!is_checked("chk[]")) {
            alert(document.pressed + " 하실 항목을 하나 이상 선택하세요.");
            return false;
        }

        if (document.pressed == "선택삭제") {
            if (!confirm("선택한 자료를 정말 삭제하시겠습니까?")) {
                return false;
            }
        }

        return true;
    }
</script>

<noscript>
    <p>
        귀하께서 사용하시는 브라우저는 현재 <strong>자바스크립트를 사용하지 않음</strong>으로 설정되어 있습니다.<br>
        <strong>자바스크립트를 사용하지 않음</strong>으로 설정하신 경우는 수정이나 삭제시 별도의 경고창이 나오지 않으므로 이점 주의하시기 바랍니다.
    </p>
</noscript>

</div>


{% endblock %}