{% extends "base.html" %}
{% if board.bo_use_sideview %}
    {% import "/sideview/macros.html" as sideview %}
{% endif %}

{% block title %}{{ board.subject }} {{ current_page }} 페이지{% endblock title %}
{% block subtitle %}{{ board.subject }}{% endblock subtitle %}

{% block head %}
    <link rel="stylesheet" href="{{ theme_asset(request, 'mobile/css/board_common.css?ver=1.0.0') }}">
    <link rel="stylesheet" href="{{ theme_asset(request, 'mobile/css/board_skin_gallery.css?ver=1.0.0') }}">
{% endblock head %}

{% block content %}
{% set is_admin=get_admin_type(request, request.state.login_member.mb_id, board=board) %}
{% set sca=request.query_params.sca %}
{% set sod_reverse="asc" if request.query_params.sod == "desc" else "desc" %}

<div id="bo_gallery_list" class="bo_common bo_list" style="width:{{ table_width }}">

    {% if board.bo_use_category %}
    <div class="list_category">
        <h2 class="blind">{{ board.subject }} 카테고리</h2>
        <ul>
            <li>
                <a href="{{ request.url.replace_query_params() }}" {% if not sca %}class="active"{% endif %}>전체</a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{{ request.url.replace_query_params(sca=category) }}" {% if sca == category %}class="active"{% endif %}>{{ category }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form name="fboardlist" id="fboardlist" action="" onsubmit="return fboardlist_submit(this);" method="post">

        <input type="hidden" name="bo_table" value="{{ board.bo_table }}">
        <input type="hidden" name="sw" value="">
        <input type="hidden" name="sfl" value="{{ request.query_params.sfl }}">
        <input type="hidden" name="stx" value="{{ request.query_params.stx }}">
        <input type="hidden" name="spt" value="{{ request.query_params.spt }}">
        <input type="hidden" name="sca" value="{{ request.query_params.sca }}">
        <input type="hidden" name="sst" value="{{ request.query_params.sst }}">
        <input type="hidden" name="sod" value="{{ request.query_params.sod }}">
        <input type="hidden" name="page" value="{{ current_page }}">
        <input type="hidden" name="token" value="">
        <input type="hidden" name="act_button" value="">

        <div class="list_header">

            <div class="total">
                <span>Total {{ total_count|number_format }}건</span>
                {{ current_page|number_format }} 페이지
            </div>

            <ul>
                <li>
                    <button type="button" class="search_opener btn_b01 btn" title="게시판 검색">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="blind">게시판 검색</span>
                    </button>
                </li>
                {% if is_write %}
                <li>
                    <a href="{{ url_for('write_form_add', bo_table=board.bo_table)|set_query_params(request) }}" class="btn_b01 btn" title="글쓰기">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="blind">글쓰기</span>
                    </a>
                </li>
                {% endif %}
                {% if is_admin %}
                <li class="buttons_more">
                    <button type="button" class="more_opener btn_b01 btn" title="게시판 리스트 옵션">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="blind">게시판 리스트 옵션</span>
                    </button>
                    <ul class="more">
                        <li>
                            <button type="submit" name="btn_submit" value="선택삭제" onclick="document.pressed=this.value"><i class="fa fa-regular fa-trash-can" aria-hidden="true"></i> 선택삭제</button>
                        </li>
                        <li>
                            <button type="submit" name="btn_submit" value="선택복사" onclick="document.pressed=this.value"><i class="fa fa-regular fa-file" aria-hidden="true"></i> 선택복사</button>
                        </li>
                        <li>
                            <button type="submit" name="btn_submit" value="선택이동" onclick="document.pressed=this.value"><i class="fa fa-arrows" aria-hidden="true"></i> 선택이동</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('board_form', bo_table=board.bo_table) }}" class="btn_admin btn" title="관리자">
                        <i class="fa fa-cog fa-spin fa-fw"></i>
                        <span class="blind">관리자</span>
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>

        {% if is_admin %}
        <div class="list_all_check chk_box">
            <input type="checkbox" id="chkall" onclick="if (this.checked) all_checked(true); else all_checked(false);">
            <label for="chkall">
                <span></span>
                <b class="blind">현재 페이지 게시물 </b> 전체선택
            </label>
        </div>
        {% endif %}

        <ul class="list_grid" style="grid-template-columns: repeat({{ board.bo_gallery_cols }}, 1fr);">
            {% for write in writes %}

            <li class="grid_item {% if wr_id == write.wr_id %}grid_now{% endif %}">

                <div class="item_chk chk_box">
                    <input type="checkbox" name="chk_wr_id[]" value="{{ write.wr_id }}" id="chk_wr_id_{{ loop.index }}">
                    <label for="chk_wr_id_{{ loop.index }}">
                        <span></span>
                        <b class="blind">{{ write.subject }}</b>
                        선택
                    </label>
                    <span class="blind">
                        {% if wr_id == write.wr_id %}
                        열람중
                        {% else %}
                        {{ write.num }}
                        {% endif %}
                    </span>
                </div>

                <a href="{{ url_for('read_post', bo_table=board.bo_table, wr_id=write.wr_id)|set_query_params(request) }}" class="item_link item_img">
                    {% set thumbnail=get_list_thumbnail(request, board, write, gallery_width, gallery_height) %}
                    {% if thumbnail.src %}
                    <img src="/{{ thumbnail.src }}" alt="{{ thumbnail.alt }}">
                    {% if thumbnail.noimg %}
                    <span class="is_label is_noimage">No Image</span>
                    {% endif %}
                    {% else %}
                    <img src="{{ url_for('static', path='/img/dummy-donotremove.png?ver=1.0.0') }}" alt="" width="{{ gallery_width }}" height="{{ gallery_height }}">
                    <span class="is_label is_noimage">No Image</span>
                    {% endif %}
                </a>

                {% if write.icon_new or write.icon_hot %}
                <div class="item_icon">
                    <div>

                        {% if write.icon_new %}
                        <span class="new_icon">N</span>
                        <span class="blind">새글</span>
                        {% endif %}

                        {% if write.icon_hot %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="blind">인기글</span>
                        {% endif %}

                        <!-- TODO: 비밀글 아이콘 -->

                    </div>
                </div>
                {% endif %}

                {% if write.ca_name %}
                <a href="{{ request.url.replace_query_params(sca=write.ca_name) }}">{{ write.ca_name }}</a>
                {% endif %}

                <a href="{{ url_for('read_post', bo_table=board.bo_table, wr_id=write.wr_id)|set_query_params(request) }}" class="item_link item_subject">
                    {% if write.wr_reply %}
                        <i class="fa fa-reply"></i>
                        <span class="blind">답변</span>
                    {% endif %}

                    {% if write.wr_id|string in board.bo_notice %}
                        [공지]
                    {% endif %}

                    {{ write.subject }}

                    {% if write.wr_comment %}
                    <span class="blind">댓글</span>
                    <span class="count_comment">{{ write.wr_comment }}</span>
                    <span class="blind">개</span>
                    {% endif %}
                </a>

                <div class="item_footer">

                    <div class="item_writer">
                        <span class="blind">작성자 </span>
                        {% if board.bo_use_sideview %}
                            {{ sideview.get(request, write.mb_id, write.name, write.wr_email, write.wr_homepage)|safe }}
                        {% else %}
                            <span class="{% if write.mb_id %}sv_member{% else %}sv_guest{% endif %}">
                                {{ write.name }}
                            </span>
                        {% endif %}
                    </div>

                    <div class="item_info">
                        <div class="info_panel">
                            <span class="datetime">
                                <span class="blind">작성일 </span>
                                <i class="fa fa-regular fa-clock" aria-hidden="true"></i>
                                {{ write.wr_datetime|datetime_format('%y-%m-%d') }}
                            </span>

                            <span class="hit">
                                <span class="blind">조회 </span>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{ write.wr_hit|number_format }}
                            </span>
                        </div>

                        {% if board.bo_use_good or board.bo_use_nogood %}
                        <div class="info_react">
                            {% if board.bo_use_good %}
                            <span class="blind">추천</span>
                            <strong class="react_good">
                                <i class="fa fa-regular fa-thumbs-up" aria-hidden="true"></i>
                                {{ write.wr_good|number_format }}
                            </strong>
                            {% endif %}
                            {% if board.bo_use_nogood %}
                            <span class="blind">비추천</span>
                            <strong class="react_nogood">
                                <i class="fa fa-regular fa-thumbs-down" aria-hidden="true"></i>
                                {{ write.wr_nogood|number_format }}
                            </strong>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>

                </div>

            </li>

            {% else %}
            <li class="grid_empty">게시글이 없습니다.</li>
            {% endfor %}
        </ul>

        {{ paging|safe }}

        <div class="list_footer">
            <div>
                {% if prev_spt %}
                <a href="{{ request.url.include_query_params(spt=prev_spt) }}" class="btn02">이전검색</a>
                {% endif %}
                {% if next_spt %}
                <a href="{{ request.url.include_query_params(spt=next_spt) }}" class="btn02">다음검색</a>
                {% endif %}
            </div>

            <ul>
                {% if is_admin %}
                <li>
                    <a href="{{ url_for('board_form', bo_table=board.bo_table) }}" class="btn_admin btn" title="관리자">
                        <i class="fa fa-cog fa-spin fa-fw"></i><span class="blind">관리자</span>
                    </a>
                </li>
                {% endif %}
                {% if board.bo_use_rss_view %}
                <li>
                    <a href="" class="btn_b01 btn" title="RSS">
                        <i class="fa fa-rss" aria-hidden="true"></i><span class="blind">RSS</span>
                    </a>
                </li>
                {% endif %}
                {% if is_write %}
                <li>
                    <a href="{{ url_for('write_form_add', bo_table=board.bo_table)|set_query_params(request) }}" class="btn_b01 btn" title="글쓰기">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="blind">글쓰기</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </form>

    <div class="list_search">

        <form name="fsearch" method="get" class="search_modal">
            <input type="hidden" name="sca" value="{{ request.query_params.sca }}">
            <input type="hidden" name="sop" value="{{ request.query_params.sop }}">

            <div class="modal_title">검색</div>

            <label for="sfl" class="blind">검색대상</label>
            <select name="sfl" id="sfl">
                <option value="wr_subject" {{ get_selected(request.query_params.sfl, "wr_subject")|safe }}>제목</option>
                <option value="wr_content" {{ get_selected(request.query_params.sfl, "wr_content")|safe }}>내용</option>
                <option value="wr_subject||wr_content" {{ get_selected(request.query_params.sfl, "wr_subject||wr_content")|safe }}>제목+내용</option>
                <option value="wr_name,1" {{ get_selected(request.query_params.sfl, "wr_name,1")|safe }}>글쓴이</option>
                <option value="wr_name,0" {{ get_selected(request.query_params.sfl, "wr_name,0")|safe }}>글쓴이(코)</option>
            </select>

            <div class="modal_keyword">
                <label for="stx" class="blind">검색어<strong> 필수</strong></label>
                <input type="text" name="stx" value="{{ request.query_params.stx }}" required id="stx" size="25" maxlength="20" placeholder=" 검색어를 입력해주세요">

                <button type="submit" value="검색">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="blind">검색</span>
                </button>
            </div>

            <button type="button" class="modal_close">
                <i class="fa fa-xmark" aria-hidden="true"></i>
                <span class="blind">닫기</span>
            </button>
        </form>

        <div class="search_mask"></div>

    </div>

    <script>
        jQuery(function($){
            $(".search_opener").on("click", function() {
                $(".list_search").toggle();
            })
            $('.search_modal .modal_close, .list_search .search_mask').click(function(){
                $('.list_search').hide();
            });
        });
    </script>

</div>

{% if is_admin %}
<noscript>
    <p>자바스크립트를 사용하지 않는 경우<br>별도의 확인 절차 없이 바로 선택삭제 처리하므로 주의하시기 바랍니다.</p>
</noscript>
<script>
function all_checked(sw) {
    var f = document.fboardlist;

    for (var i = 0; i < f.length; i++) {
        if (f.elements[i].name == "chk_wr_id[]")
            f.elements[i].checked = sw;
    }
}

function fboardlist_submit(f) {
    var chk_count = 0;

    for (var i = 0; i < f.length; i++) {
        if (f.elements[i].name == "chk_wr_id[]" && f.elements[i].checked)
            chk_count++;
    }

    if (!chk_count) {
        alert(document.pressed + "할 게시물을 하나 이상 선택하세요.");
        return false;
    }

    if(document.pressed == "선택복사") {
        select_copy("copy");
        return;
    }

    if(document.pressed == "선택이동") {
        select_copy("move");
        return;
    }

    if(document.pressed == "선택삭제") {
        if (!confirm("선택한 게시물을 정말 삭제하시겠습니까?\n\n한번 삭제한 자료는 복구할 수 없습니다\n\n답변글이 있는 게시글을 선택하신 경우\n답변글도 선택하셔야 게시글이 삭제됩니다."))
            return false;

        f.removeAttribute("target");
        f.action = "{{ url_for('list_delete', bo_table=board.bo_table)|set_query_params(request)|safe }}";
    }

    f.token.value = generate_token();

    return true;
}

// 선택한 게시물 복사 및 이동
function select_copy(sw) {
    var f = document.fboardlist;
    var sub_win = window.open("", "move", "left=50, top=50, width=500, height=550, scrollbars=1");

    f.sw.value = sw;
    f.target = "move";
    f.action = "{{ url_for('move_post', bo_table=board.bo_table)|safe }}";
    f.submit();
}

jQuery(function($){
    $(".buttons_more .more_opener").on("click", function(e) {
        e.stopPropagation();
        $(this).next(".more").toggle();
    })
    $(document).on("click", function (e) {
        if(!$(e.target).closest(".more_opener").length) {
            $(".buttons_more .more").hide();
        }
    });
});
</script>
{% endif %}
<!-- } 게시판 목록 끝 -->
{% endblock content %}