{% extends "base.html" %}
{% import editor_macro(request) as editor %}

{% block head %}
    <link rel="stylesheet" href="{{ theme_asset(request, 'css/qa.css') }}">
    {{ editor.head() }}
{% endblock head %}

{% block title %}{{ qa_config.qa_title }}{% endblock title %}

{% block subtitle %}{{ qa_config.qa_title }}{% endblock subtitle %}

{% block content %}
    {% if qa_config.qa_content_head %}
        {{ qa_config.qa_content_head|safe }}
    {% endif %}

    <section id="bo_w">
        <h2>{{ qa_config.qa_title }} 작성</h2>
        <!-- 게시물 작성/수정 시작 { -->
        <form name="fwrite" id="fwrite" action="{{ url_for('qa_write_update') }}?{{ request.query_params }}" onsubmit="return fwrite_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off">
            <input type="hidden" name="token" value="">
            <input type="hidden" name="qa_id" value="{{ qa.qa_id }}">
            <input type="hidden" name="qa_related" value={{ request.query_params.get('qa_related', '') }}>
            <input type="hidden" name="qa_html" value="1">
            <div class="form_01">
                <ul>
                    <li class="bo_w_select write_div">
                        <label for="qa_category" class="sound_only">분류<strong>필수</strong></label>
                        <select name="qa_category" id="qa_category" required="">
                            <option value="">분류를 선택하세요</option>
                            {% for category in categories %}
                                <option value="{{ category }}" {{ get_selected(qa.qa_category, category) }}>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {% if qa_config.qa_use_email and qa.qa_type != 1 %}
                    {% set required = "required" if qa_config.qa_req_email else "" %}
                    <li class="bo_w_mail chk_box">
                        <label for="qa_email" class="sound_only">이메일 </label>
                        <input type="text" name="qa_email" value="{{ qa.qa_email|default(request.state.login_member.mb_email) }}" id="qa_email" class="{{ required }} frm_input full_input email" size="50" maxlength="100" placeholder="이메일" {{ required }}>
                        <input type="checkbox" name="qa_email_recv" id="qa_email_recv" value="1" class="selec_chk" {{ "checked" if qa.qa_email_recv else "" }}>
                        <label for="qa_email_recv" class="frm_info"><span>&nbsp;</span>답변받기</label>
                    </li>
                    {% endif %}
                    {% if qa_config.qa_use_hp and qa.qa_type != 1 %}
                    {% set required = "required" if qa_config.qa_req_hp else "" %}
                    <li class="bo_w_hp chk_box">
                        <label for="qa_hp" class="sound_only">휴대폰</label>
                        <input type="text" name="qa_hp" value="{{ qa.qa_hp|default(request.state.login_member.mb_hp) }}" id="qa_hp" class="{{ required }} frm_input full_input" size="30" placeholder="휴대폰" {{ required }}>
                        <input type="checkbox" name="qa_sms_recv" id="qa_sms_recv" value="1" class="selec_chk" {{ "checked" if qa.qa_sms_recv else "" }}>
                        {% if qa_config.qa_sms %}
                            <label for="qa_sms_recv" class="frm_info"><span>&nbsp;</span>답변등록 SMS알림 수신</label>
                        {% endif %}
                    </li>
                    {% endif %}
                    <li class="bo_w_sbj">
                        <label for="qa_subject" class="sound_only">제목<strong class="sound_only">필수</strong></label>
                        <input type="text" name="qa_subject" value="{{ qa.qa_subject|default("") }}" id="qa_subject" required="" class="frm_input full_input required" size="50" maxlength="255" placeholder="제목">        
                    </li>
                    <li class="qa_content_wrap">
                        <label for="qa_content" class="sound_only">내용<strong class="sound_only">필수</strong></label>
                        {% if qa_config.qa_use_editor %}
                            {{ editor.body("qa_content", content) }}
                        {% else %}
                            <textarea id="qa_content" name="qa_content" style="width: 100%; height: 300px;">
                                {{- content|safe -}}
                            </textarea>    
                        {% endif %}
                    </li>
                    <li class="bo_w_flie">
                        <div class="file_wr">
                            <label for="qa_file_1" class="lb_icon">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="sound_only"> 파일 #1</span>
                            </label>
                            <input type="file" name="file1" id="qa_file_1" title="파일첨부 1 :  용량 {{ qa_config.qa_upload_size }} 바이트 이하만 업로드 가능" class="frm_file">
                            {% if qa.qa_file1 %}
                                <input type="checkbox" id="qa_file_del1" name="qa_file_del1" value="1">
                                <label for="qa_file_del1"><span class="elip" title="{{ qa.qa_source1 }}">{{ qa.qa_source1 }}</span> 파일 삭제</label>
                            {% endif %}
                        </div>
                    </li>
                    <li class="bo_w_flie">
                        <div class="file_wr">
                            <label for="qa_file_2" class="lb_icon">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="sound_only"> 파일 #2</span>
                            </label>
                            <input type="file" name="file2" id="qa_file_2" title="파일첨부 2 :  용량 {{ qa_config.qa_upload_size }} 바이트 이하만 업로드 가능" class="frm_file">
                            {% if qa.qa_file2 %}
                                <input type="checkbox" id="qa_file_del2" name="qa_file_del2" value="1">
                                <label for="qa_file_del2"><span class="elip" title="{{ qa.qa_source2 }}">{{ qa.qa_source2 }}</span> 파일 삭제</label>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn_confirm write_div">
                <a href="{{ url_for('qa_list') }}" class="btn_cancel btn">취소</a>
                <button type="submit" id="btn_submit" accesskey="s" class="btn_submit btn">작성완료</button>
            </div>
        </form>

        <script>
        function html_auto_br(obj)
        {
            if (obj.checked) {
                result = confirm("자동 줄바꿈을 하시겠습니까?\n\n자동 줄바꿈은 게시물 내용중 줄바뀐 곳을<br>태그로 변환하는 기능입니다.");
                if (result)
                    obj.value = "2";
                else
                    obj.value = "1";
            }
            else
                obj.value = "";
        }

        function fwrite_submit(f)
        {
            /*
            var hp = f.qa_hp.value.replace(/[0-9\-]/g, "");
            if(hp.length > 0) {
                alert("휴대폰번호는 숫자, - 으로만 입력해 주십시오.");
                return false;
            }
            */
            // document.getElementById("btn_submit").disabled = "disabled";

            f.token.value = generate_token();

            return true;
        }
        </script>
    </section>

    {% if qa_config.qa_content_tail %}
        {{ qa_config.qa_content_tail|safe }}
    {% endif %}
{% endblock content %}