{% extends "base.html" %}
{% import editor_macro(request) as editor %}

{% block head %}
    <link rel="stylesheet" href="{{ theme_asset(request, 'css/qa.css') }}">
    <script rel="stylesheet" src="/static/js/viewimageresize.js"></script>
    {{ editor.head() }}
{% endblock head %}

{% block title %}{{ qa_config.qa_title }}{% endblock title %}

{% block subtitle %}{{ qa_config.qa_title }}{% endblock subtitle %}

{% block content %}
    {% if qa_config.qa_content_head %}
        {{ qa_config.qa_content_head|safe }}
    {% endif %}

    <!-- 게시물 읽기 시작 { -->
    <article id="bo_v">
        <header>
            <h2 id="bo_v_title"><span class="bo_v_cate">{{ qa.qa_category }}</span> {{ qa.qa_subject }}</h2>
        </header>
        <section id="bo_v_info">
            <h2>페이지 정보</h2>
            <span class="sound_only">작성자</span>
            <strong> {{ qa.qa_name }}</strong>
            <span class="sound_only">작성일</span>
            <strong class="bo_date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ qa.qa_datetime }}</strong>
            {% if qa.qa_email %}
                <span class="sound_only">이메일</span>
                <strong><i class="fa fa-regular fa-envelope" aria-hidden="true"></i> {{ qa.qa_email }}</strong>
            {% endif %}
            {% if qa.qa_hp %}
                <span class="sound_only">휴대폰</span>
                <strong><i class="fa fa-phone" aria-hidden="true"></i> {{ qa.qa_hp }}</strong>
            {% endif %}
            <!-- 게시물 상단 버튼 시작 { -->
            <div id="bo_v_top">
                <ul class="bo_v_com">
                    <li>
                        <a href="{{ url_for('qa_list') }}?{{ request.query_params }}" class="btn_b01 btn" title="목록">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="sound_only">목록</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('qa_form_write') }}?{{ request.query_params }}" class="btn_b01 btn" title="글쓰기">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <span class="sound_only">글쓰기</span>
                        </a>
                    </li>
                    {% if request.state.is_super_admin or qa.mb_id == request.state.login_member.mb_id %}
                    <li>
                        <button type="button" class="btn_more_opt btn_b01 btn" title="게시판 읽기 옵션">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            <span class="sound_only">게시판 읽기 옵션</span>
                        </button>
                        <ul class="more_opt">
                            <li>
                                <a href="{{ url_for('qa_form_edit', qa_id=qa.qa_id) }}" class="btn_b01 btn" title="수정">
                                    수정
                                    <i class="fa fa-pen-to-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('qa_delete', qa_id=qa.qa_id) }}" class="btn_b01 btn" onclick="del(this.href); return false;" title="삭제">
                                    삭제
                                    <i class="fa fa-regular fa-trash-can" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <script>
                    // 게시판 리스트 옵션
                    $(".more_opt").hide();
                    $(".btn_more_opt").on("click", function() {
                        $(".more_opt").toggle();
                    })
                </script>
            </div>
            <!-- } 게시물 상단 버튼 끝 -->
        </section>

        <section id="bo_v_atc">
            <h2 id="bo_v_atc_title">본문</h2>
            <div id="bo_v_img">
                {% for image in qa.image %}
                    <a href="javascrip:;" target="_blank" class="view_image">
                        <img src="/{{ image }}" max-width="{{ qa_config.qa_image_width }}">
                    </a>
                {% endfor %}
            </div>
            <!-- 본문 내용 시작 { -->
            <div id="bo_v_con">{{ qa.qa_content|safe }}</div>
            <!-- } 본문 내용 끝 -->
            
            <!-- 첨부파일 시작 { -->
            <section id="bo_v_file">
                <h2>첨부파일</h2>
                <ul>
                    {% for file in qa.file %}
                        <li>
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <a href="/{{ file.path }}" class="view_file_download" download="{{ file.name }}">
                                <strong>{{ file.name }}</strong>
                            </a>
                            <br>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <!-- } 첨부파일 끝 -->
        </section>

        <ul class="bo_v_nb">
              {% if prev %}
                <li class="btn_prv">
                  <a href="{{ url_for('qa_view', qa_id=prev.qa_id) }}?{{ request.query_params }}" class="btn_b01 btn">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="nb_tit">이전글</span>
                  </a>
                </li>
              {% endif %}
              {% if next %}
                <li class="btn_next">
                  <a href="{{ url_for('qa_view', qa_id=next.qa_id) }}?{{ request.query_params }}" class="btn_b01 btn">
                    <span class="nb_tit">다음글</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
                </li>
              {% endif %}
        </ul>

        {% if answer %}
            <section id="bo_v_ans">
                <h2><span class="bo_v_reply">답변</span> {{ answer.qa_subject }}</h2>
                <header>
                    <div id="ans_datetime">
                        <i class="fa fa-regular fa-clock" aria-hidden="true"></i> {{ answer.qa_datetime }}
                    </div>
                    {% if request.state.is_super_admin %}
                    <div id="ans_add">
                        <button type="button" class="btn_more_add btn_more_opt btn_b01 btn" title="답변 옵션"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><span class="sound_only">답변 옵션</span></button>
                        <ul class="more_add">
                            <li><a href="{{ url_for('qa_form_edit', qa_id=answer.qa_id) }}" class="btn_b01 btn" title="답변수정">답변수정</a></li>
                            <li><a href="{{ url_for('qa_delete', qa_id=answer.qa_id) }}" class="btn_b01 btn" onclick="del(this.href); return false;" title="답변삭제">답변삭제</a></li>
                        </ul>
                    </div>
                    <script>
                        // 답변하기 옵션
                        $(".btn_more_add").on("click", function() {
                            $(".more_add").toggle();
                        })
                    </script>
                    {% endif %}
                </header>

                <div id="ans_con">
                    <div id="bo_v_img">
                        {% for image in answer.image %}
                            <a href="javascrip:;" target="_blank" class="view_image">
                                <img src="/{{ image }}">
                            </a>
                        {% endfor %}
                    </div>
                    {{ answer.qa_content|safe }}
                    <!-- 첨부파일 시작 { -->
                    <section id="bo_v_file">
                        <h2>첨부파일</h2>
                        {% for file in answer.file %}
                            <li>
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <a href="/{{ file.path }}" class="view_file_download" download="{{ file.name }}">
                                    <strong>{{ file.name }}</strong>
                                </a>
                            </li>
                        {% endfor %}
                    </section>
                    <!-- } 첨부파일 끝 -->
                </div>

            </section>
            <div class="bo_v_btn">
                <a href="{{ url_for('qa_form_write') }}?qa_related={{ qa.qa_id }}" class="add_qa" title="추가질문">추가질문</a>  
            </div>
        {% elif request.state.is_super_admin %}
            <section id="bo_v_ans_form">
                <h2>답변등록</h2>
        
                <form name="fanswer" method="post" action="{{ url_for('qa_write_update') }}?{{ request.query_params }}" onsubmit="return fwrite_submit(this);" enctype="multipart/form-data" autocomplete="off">
                    <input type="hidden" name="token" value="">
                    <input type="hidden" name="qa_parent" value="{{ qa.qa_id }}">
                    <input type="hidden" name="qa_category" value="{{ qa.qa_category }}">
                    <input type="hidden" name="qa_html" value="1">

                    <div class="form_01">
                        <ul>
                            <li>
                                <label for="qa_subject" class="sound_only">제목</label>
                                <input type="text" name="qa_subject" value="" id="qa_subject" required="" class="frm_input required full_input" size="50" maxlength="255" placeholder="제목">
                            </li>
                            <li class="qa_content_wrap smarteditor2">
                                <label for="qa_content" class="sound_only">내용<strong>필수</strong></label>
                                {% if qa_config.qa_use_editor %}
                                    {{ editor.body("qa_content", "") }}
                                {% else %}
                                    <textarea id="qa_content" name="qa_content" style="width: 100%; height: 300px;"></textarea>
                                {% endif %}
                            </li>
                            <li class="bo_w_flie">
                                <div class="file_wr">
                                    <label for="qa_file_1" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span class="sound_only"> 파일 #1</span></label>
                                    <input type="file" name="file1" id="qa_file_1" title="파일첨부 1 :  용량 {{ qa_config.qa_upload_size }} 바이트 이하만 업로드 가능" class="frm_file">
                                </div>
                            </li>
                            <li class="bo_w_flie">
                                <div class="file_wr">
                                    <label for="qa_file_2" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span class="sound_only"> 파일 #2</span></label>
                                    <input type="file" name="file2" id="qa_file_2" title="파일첨부 2 :  용량 {{ qa_config.qa_upload_size }} 바이트 이하만 업로드 가능" class="frm_file">
                                </div>
                            </li>
                        </ul>
                    </div>
        
                    <div class="btn_confirm">
                        <button type="submit" id="btn_submit" accesskey="s" class="btn_submit">답변등록</button>
                    </div>
                </form>
        
                <script>
                    function html_auto_br(obj)
                    {
                        if (obj.checked) {
                            result = confirm("자동 줄바꿈을 하시겠습니까?\n\n자동 줄바꿈은 게시물 내용중 줄바뀐 곳을<br>태그로 변환하는 기능입니다.");
                            if (result)
                                obj.value = "2";
                            else
                                obj.value = "1";
                        }
                        else
                            obj.value = "";
                    }
            
                    function fwrite_submit(f)
                    {
                        f.token.value = generate_token();

                        return true;
                    }
                </script>
            </section>
        {% endif %}
        
        {% if related_list %}
            <section id="bo_v_rel">
                <h2>연관질문</h2>
                <div class="tbl_head01 tbl_wrap">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상태</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for related in related_list %}
                                <tr>
                                    <td>
                                        <span class="bo_cate_link">{{ related.qa_category }}</span>
                                        <a href="{{ url_for('qa_view', qa_id=related.qa_id) }}?{{ request.query_params }}" class="bo_tit">
                                            {{ related.qa_subject }}
                                        </a>
                                    </td>
                                    <td class="td_date">{{ related.qa_datetime }}</td>
                                    <td class="td_stat">
                                        {% if related.qa_status %}
                                            <span class="txt_done">답변완료</span>
                                        {% else %}
                                            <span class="txt_rdy">답변대기</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endif %}
    </article>
    <!-- } 게시판 읽기 끝 -->
    <script>
    $(function() {
        $("a.view_image").click(function() {
            window.open(this.href, "large_image", "location=yes,links=no,toolbar=no,top=10,left=10,width=10,height=10,resizable=yes,scrollbars=no,status=no");
            return false;
        });

        // 이미지 리사이즈
        $("#bo_v_atc").viewimageresize();
    });
    </script>

    {% if qa_config.qa_content_tail %}
        {{ qa_config.qa_content_tail|safe }}
    {% endif %}
{% endblock content %}