<div class="lat">
    <h2 class="lat_title"><a href="/board/{{ bo_table }}">{{ bo_subject }}</a></h2>
    <ul>
    {% for write in writes %}
        <li class="basic_li">
            {% if write.icon_secret %}<i class="fa fa-lock" aria-hidden="true"></i><span class="sound_only">비밀글</span>{% endif %}

            <a href="/board/{{ bo_table }}/{{ write.wr_id }}">
            {% if write.is_notice %}<strong>{{ write.subject }}</strong>{% else %}{{ write.subject }}{% endif %}
            {% if write.icon_hot %}<span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>{% endif %}
            {% if write.icon_new %}<span class="new_icon">N<span class="sound_only">새글</span></span>{% endif %}
            {% if write.icon_file %}<span class="file_icon"><i class="fa fa-download" aria-hidden="true"></i><span class="sound_only">파일첨부</span></span>{% endif %}
            {% if write.icon_link %}<span class="link_icon"><i class="fa fa-link" aria-hidden="true"></i><span class="sound_only">링크</span></span>{% endif %}
            {% if write.icon_reply %}<span class="reply_icon"><i class="fa fa-commenting-o" aria-hidden="true"></i><span class="sound_only">답변</span></span>{% endif %}
            {% if write.wr_comment %}<span class="lt_cmt"><span class="sound_only">댓글</span>{{ write.wr_comment }}</span>{% endif %}
            <div class="lt_info">
				<span class="lt_nick">{{ write.wr_name }}</span>
            	<span class="lt_date">{{ write.datetime }}</span>              
            </div>
        </li>
    {% endfor %}
    {% if not writes %}
        <li class="empty_li">게시물이 없습니다.</li>
    <{% endif %}>
    </ul>
    <a href="/board/{{ bo_table }}" class="lt_more"><span class="sound_only">{{ bo_subject }}</span>더보기</a>
</div>
