@charset "utf-8";

@font-face {
    font-family:'NotoSansCJKkr';
    src: url('https://cdn.kcp.co.kr/font/NotoSansCJKkr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'NotoSansCJKkr';
    src: url('https://cdn.kcp.co.kr/font/NotoSansCJKkr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'NotoSansCJKkr';
    src: url('https://cdn.kcp.co.kr/font/NotoSansCJKkr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* reset */
html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,input{margin:0;padding:0;-webkit-text-size-adjust:none;word-break:keep-all;}
body,h1,h2,h3,h4,h5,h6,input,button,select,textarea{font-family:'NotoSansCJKkr','돋움',Dotum,AppleSDGothicNeo,Helvetica,sans-serif;font-size:12px;line-height:1.3;}
body{color:#000;word-wrap:break-word;word-break:break-all;}
input,textarea{background-image:linear-gradient(transparent, transparent);border-radius:0;resize:none;}
caption,legend{font-size:0;line-height:0;text-indent:-5000px;}
img,fieldset,iframe{border:0 none;vertical-align:top;}
fieldset{font-size:0;}
ul,ol{list-style:none;}
a{color:#000;text-decoration:none;}
i,em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0;}
hr{display:none;}
.hidden{position:absolute;overflow:hidden;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);}
.oh{overflow:hidden;}

/* 포커스 */
/* *:focus{outline:1px dotted #000;outline:-webkit-focus-ring-color auto;} */
/* webkit 자동 완성 색 제거 */
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px white inset;}
/* ie10+ input입력시 x버튼 지우기 */
input[type="text"]::-ms-clear{display:none;}
input[type="tel"]::-ms-clear{display:none;}
/* ie textarea 기본화살표 지우기 */
textarea{overflow:auto;}
/* submit, 버튼 배경 지우기 */
input[type="submit"],button{border:0;cursor:pointer;}
/* ie 버튼 클릭시 누르기 동작 제거 */
button:active span,
button:focus span{position:relative;}
/* ff 포커스 점선 지우기 */
button::-moz-focus-inner{border:0;padding:0;}
select::-moz-focus-inner{border:0;padding:0;}
/* placeholder */
::-webkit-input-placeholder{color:#949494;}/* WebKit browsers */
:-moz-placeholder{color:#949494;opacity:1;}/* Mozilla Firefox 4 to 18 */
::-moz-placeholder{color:#949494;opacity:1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder{color:#949494 !important;}/* Internet Explorer 10+ */

/* skip */
.skip a{position:absolute;left:-3000%}
.skip a:focus{display:inline-block;top:0;left:0;z-index:9999;width:100%;height:30px;background:#000;line-height:30px;color:#fff;text-align:center}

/* [mobile first] */
/* common */
.pc-only-show{display:none;}
.m-only-show{display:block;}
.wrap{position:relative;min-height:100%;}
.header{position:relative;min-height:18px;padding:10px 50px 11px 50px;border-bottom:1px solid #dfdfdf;}
.header .title{font-size:14px;line-height:18px;color:#000;font-weight:500;text-align:center;}
.header .btn-back{position:absolute;top:0;left:0;padding:9px 20px 10px 20px;}
.header .btn-back > span{position:relative;display:inline-block;width:10px;height:20px;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top;}
.header .btn-back > span:before{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:1px;margin-top:0;background:#000;border-radius:0;-ms-transform:rotate(40deg);transform:rotate(40deg);-ms-transform-origin:0% 0%;transform-origin:0% 0%;}
.header .btn-back > span:after{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:1px;margin-top:0;background:#000;border-radius:0;-ms-transform:rotate(-40deg);transform:rotate(-40deg);-ms-transform-origin:0% 100%;transform-origin:0% 100%;}
.contents{padding:17px 20px 0 20px;}
.footer{padding:18px 0;text-align:center;font-size:11px;line-height:18px;color:#919191;}

/* title */
.title-type-1{font-size:40px;line-height:50px;color:#fa2828;font-weight:bold;}
.title-type-2{font-size:30px;line-height:38px;color:#585858;font-weight:normal;}
.title-type-3{margin-top:18px;padding-bottom:5px;border-bottom:2px solid #fa2828;font-size:15px;line-height:19px;color:#fa2828;font-weight:bold;}

/* txt */
.txt-type-1{font-size:12px;line-height:18px;color:#919191;}
.txt-type-2{font-size:12px;line-height:18px;color:#000;}

/* btn */
.btn-type-1{position:relative;display:block;box-sizing:border-box;width:100%;padding:14px 40px;border:1px solid #fa2828;border-radius:30px;font-size:20px;line-height:30px;color:#fa2828;font-weight:bold;text-align:center;transition:background-color 0.2s ease, color 0.2s ease;}
.btn-type-1 .icon-arrow{position:absolute;top:50%;right:25px;width:10px;height:20px;margin-top:-11px;}
.btn-type-1 .icon-arrow:before{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:2px;margin-top:0;background:#fa2828;border-radius:1px;-ms-transform:rotate(33deg);transform:rotate(33deg);-ms-transform-origin:100% 0%;transform-origin:100% 0%;transition:background-color 0.2s ease;}
.btn-type-1 .icon-arrow:after{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:2px;margin-top:-1px;background:#fa2828;border-radius:1px;-ms-transform:rotate(-33deg);transform:rotate(-33deg);-ms-transform-origin:100% 100%;transform-origin:100% 100%;transition:background-color 0.2s ease;}
.btn-type-1:hover,
.btn-type-1:focus{background-color:#fa2828;color:#fff;}
.btn-type-1:hover .icon-arrow:before,
.btn-type-1:focus .icon-arrow:before{background-color:#fff;}
.btn-type-1:hover .icon-arrow:after,
.btn-type-1:focus .icon-arrow:after{background-color:#fff;}
.btn-type-2{display:block;box-sizing:border-box;padding:8px 10px;background:#fa2828;border-radius:4px;font-size:15px;line-height:22px;color:#fff;font-weight:bold;text-align:center;transition:background-color 0.2s ease;}
.btn-type-2:hover,
.btn-type-2:focus{background-color:#8e0606;}
.btn-type-2.disable{background-color:#fc9393;}
.btn-type-3{display:block;box-sizing:border-box;padding:8px 10px;background:#858585;border-radius:4px;font-size:15px;line-height:22px;color:#fff;font-weight:bold;text-align:center;transition:background-color 0.2s ease;}
.btn-type-3:hover,
.btn-type-3:focus{background-color:#5e5e5e;}
.btn-type-3.disable{background-color:#c1c1c1;}

/* input */
.ipt-type-1{position:relative;}
.ipt-type-1 > input{box-sizing:border-box;width:100%;padding:5px 29px 5px 9px;border:1px solid #f5f5f5;border-radius:3px;background-color:#f5f5f5;font-size:12px;line-height:18px;color:#000;}
.ipt-type-1 > input:focus{border-color:#fa2828;outline:0;}
.ipt-type-1 > input:disabled{opacity:1;-webkit-text-fill-color:#c6c6c6;color:#c6c6c6;} /* ios bug fix*/
.ipt-type-1 .btn-clear{display:none;position:absolute;top:50%;right:0;margin-top:-15px;padding:10px;font-size:12px;line-height:0;}
.ipt-type-1 .btn-clear > span{position:relative;display:inline-block;width:10px;height:10px;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top;}
.ipt-type-1 .btn-clear > span:before{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:2px;margin-top:-1px;background:#fa2828;border-radius:1px;-ms-transform:rotate(45deg);transform:rotate(45deg);-ms-transform-origin:50% 50%;transform-origin:50% 50%;}
.ipt-type-1 .btn-clear > span:after{content:'';position:absolute;top:50%;left:0;display:block;width:100%;height:2px;margin-top:-1px;background:#fa2828;border-radius:1px;-ms-transform:rotate(-45deg);transform:rotate(-45deg);-ms-transform-origin:50% 50%;transform-origin:50% 50%;}
.ipt-type-1 .txt-price{position:absolute;top:50%;right:5px;margin-top:-9px;font-size:12px;line-height:18px;color:#000;font-weight:bold;}
.ipt-type-1.active .btn-clear{display:block;}
.ipt-type-1.gap-2 > input{padding-right:calc(29px + 1.5em);}
.ipt-type-1.gap-2 .btn-clear{right:1.5em;}

/* check */
input[type="checkbox"].ipt-check-1{position:absolute;width:0;height:0;margin:0;padding:0;border:0;z-index:-1;overflow:hidden;opacity:0;}
input[type="checkbox"].ipt-check-1 + label{position:relative;display:inline-block;min-height:20px;padding-left:25px;font-size:12px;line-height:18px;color:#474747;font-weight:normal;cursor:pointer;}
input[type="checkbox"].ipt-check-1 + label .ico-check{position:absolute;top:0;left:0;display:inline-block;width:18px;height:18px;border:1px solid #afafaf;border-radius:50%;cursor:pointer;vertical-align:top;}
input[type="checkbox"].ipt-check-1 + label .ico-check > span{position:absolute;top:5px;left:4px;width:10px;height:6px;-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
input[type="checkbox"].ipt-check-1 + label .ico-check > span:before{content:'';position:absolute;top:0;left:0;height:100%;width:1px;background:#afafaf;border-radius:0;}
input[type="checkbox"].ipt-check-1 + label .ico-check > span:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background:#afafaf;border-radius:0;}
input[type="checkbox"].ipt-check-1:checked + label .ico-check{border-color:#fa2828;background-color:#fa2828;}
input[type="checkbox"].ipt-check-1:checked + label .ico-check > span{}
input[type="checkbox"].ipt-check-1:checked + label .ico-check > span:before{animation:check-checked-1 0.1s ease;background-color:#fff;}
input[type="checkbox"].ipt-check-1:checked + label .ico-check > span:after{animation:check-checked-2 0.2s ease;background-color:#fff;}
input[type="checkbox"].ipt-check-1:disabled + label .ico-check{opacity:0.33;}

/* radio */
input[type="radio"].ipt-radio-1{position:absolute;width:0;height:0;margin:0;padding:0;border:0;z-index:-1;overflow:hidden;opacity:0;}
input[type="radio"].ipt-radio-1 + label{position:relative;display:inline-block;min-height:20px;padding-left:25px;font-size:12px;line-height:18px;color:#474747;font-weight:normal;cursor:pointer;}
input[type="radio"].ipt-radio-1 + label .ico-radio{position:absolute;top:0;left:0;display:inline-block;width:18px;height:18px;border:1px solid #afafaf;border-radius:50%;cursor:pointer;vertical-align:top;}
input[type="radio"].ipt-radio-1 + label .ico-radio > span{position:absolute;top:4px;left:4px;right:4px;bottom:4px;background:transparent;border-radius:50%;transition:background-color 0.2s ease;}
input[type="radio"].ipt-radio-1:checked + label .ico-radio{border-color:#fa2828;}
input[type="radio"].ipt-radio-1:checked + label .ico-radio > span{background-color:#fa2828;}
input[type="radio"].ipt-radio-1:disabled + label .ico-radio{opacity:0.33;}

/* list */
.list-type-1{padding:10px 0 10px 0;}
.list-type-1 > li{display:table;width:100%;}
.list-type-1 > li .title{font-size:12px;line-height:18px;color:#343434;font-weight:bold;}
.list-type-1 > li > .left{display:table-cell;width:21%;padding:5px 0;vertical-align:middle;}
.list-type-1 > li > .left.vt{vertical-align:top;}
.list-type-1 > li > .right{display:table-cell;width:79%;padding:5px 0;vertical-align:middle;}
.list-type-1 > li > .right.vt{vertical-align:top;}
.list-ipt-1{}
.list-ipt-1 > li{margin-top:5px;}
.list-ipt-1 > li:first-child{margin-top:0;}
.list-check-1{margin-top:15px;margin-left:-10px;;padding-bottom:15px;}
.list-check-1:after{content:'';display:block;clear:both;}
.list-check-1 > li{float:left;box-sizing:border-box;width:50%;margin-top:8px;padding-left:10px;}
.list-check-1 > li:nth-child(1){margin-top:0;}
.list-check-1 > li:nth-child(2){margin-top:0;}
.list-check-1 > li:nth-child(2n-1){clear:both;}
.list-notice-1{margin-top:7px;}
.list-notice-1 > li{position:relative;padding-left:1.2em;font-size:12px;line-height:18px;color:#919191;}
.list-notice-1 > li:before{content:'※';position:absolute;top:0;left:0;}
.list-btn-1{margin-top:38px;}
.list-btn-1 > li{margin-top:24px;}
.list-btn-1 > li:first-child{margin-top:0;}
.list-btn-2{margin-top:27px;}

/* line */
.line-type-1{height:1px;background:#ebeaea;}

/* grid */
.grid-middle{position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;white-space:nowrap;overflow:auto;z-index:1000;}
.grid-middle > .inner{position:relative;box-sizing:border-box;display:inline-block;width:100%;padding:20px;vertical-align:middle;white-space:normal;}
.grid-middle .footer{margin-top:30px;}
.grid-middle .verticalAlign{display:inline-block;height:100%;vertical-align:middle;}
.grid-footer{height:54px;}
.grid-footer > .inner{position:absolute;bottom:0;left:0;right:0;}

/* content */
.box-price{margin-top:11px;font-size:12px;line-height:18px;color:#1a1a1a;font-weight:bold;}
.box-price:after{content:'';display:block;clear:both;}
.box-price > .left{float:left;}
.box-price > .right{float:right;}
.box-price .txt-point{font-size:14px;color:#fa2828;}

.submit {-webkit-appearance: none;-webkit-border-radius:0;}
.submit {padding:16px 20px;font-size:20px;line-height:28px;}
.submit {display:block;box-sizing:border-box;padding:8px 10px;background:#fa2828;border-radius:4px;font-size:15px;line-height:22px;color:#fff;font-weight:bold;text-align:center;transition:background-color 0.2s ease;}
.submit:hover,
.submit:focus{background-color:#8e0606;}
.submit.disable{background-color:#fc9393;}
.list-btn-2 .submit{min-width:100%;}

/* [pc: ~950px] */
@media screen and (min-width:950px) {
    /* common */
    .pc-only-show{display:block;}
    .m-only-show{display:none;}
    .wrap{max-width:950px;margin:0 auto;}
    .header{padding:60px 0 0 0;border-bottom:0;}
    .header .title{font-size:30px;line-height:40px;color:#fa2828;text-align:left;}
    .header .btn-back{display:none;}
    .contents{padding:11px 0 0 0;}
    .footer{font-size:12px;}

    /* title */
    .title-type-1{font-size:58px;line-height:70px;}
    .title-type-2{font-size:43px;line-height:53px;}
    .title-type-3{margin-top:40px;font-size:20px;line-height:24px;}

    /* txt */
    .txt-type-1{font-size:13px;line-height:20px;}
    .txt-type-2{font-size:13px;line-height:20px;}

    /* btn */
    .btn-type-1{padding:23px 50px;border-radius:43px;font-size:28px;line-height:38px;}
    .btn-type-1 .icon-arrow{right:36px;width:14px;}
    .btn-type-1 .icon-arrow:before{height:4px;margin-top:0;border-radius:2px;}
    .btn-type-1 .icon-arrow:after{height:4px;margin-top:-2px;border-radius:2px;}
    .btn-type-2{padding:16px 20px;font-size:20px;line-height:28px;}
    .btn-type-3{padding:16px 20px;font-size:20px;line-height:28px;}

    /* input */
    .ipt-type-1{}
    .ipt-type-1 > input{padding:10px 29px 10px 9px;font-size:14px;}
    .ipt-type-1 .btn-clear{}
    .ipt-type-1 .btn-clear > span{}
    .ipt-type-1 .btn-clear > span:before{}
    .ipt-type-1 .btn-clear > span:after{}
    .ipt-type-1 .txt-price{right:10px;font-size:14px;}
    .ipt-type-1.gap-2 > input{padding-right:calc(29px + 2em);}
    .ipt-type-1.gap-2 .btn-clear{right:2em;}
    .ipt-type-1.pc-wd-2{max-width:360px;}
    .ipt-type-1.pc-wd-3{max-width:500px;}

    /* check */
    input[type="checkbox"].ipt-check-1{}
    input[type="checkbox"].ipt-check-1 + label{min-height:22px;padding-left:29px;font-size:14px;line-height:20px;}
    input[type="checkbox"].ipt-check-1 + label .ico-check{width:20px;height:20px;}
    input[type="checkbox"].ipt-check-1 + label .ico-check > span{width:12px;height:7px;}
    input[type="checkbox"].ipt-check-1 + label .ico-check > span:before{}
    input[type="checkbox"].ipt-check-1 + label .ico-check > span:after{}
    input[type="checkbox"].ipt-check-1:checked + label .ico-check{}
    input[type="checkbox"].ipt-check-1:checked + label .ico-check > span{}
    input[type="checkbox"].ipt-check-1:checked + label .ico-check > span:before{width:2px;border-radius:1px;}
    input[type="checkbox"].ipt-check-1:checked + label .ico-check > span:after{height:2px;border-radius:1px;}

    /* radio */
    input[type="radio"].ipt-radio-1{}
    input[type="radio"].ipt-radio-1 + label{min-height:22px;padding-left:29px;font-size:14px;line-height:20px;}
    input[type="radio"].ipt-radio-1 + label .ico-radio{width:20px;height:20px;}
    input[type="radio"].ipt-radio-1 + label .ico-radio > span{}
    input[type="radio"].ipt-radio-1:checked + label .ico-radio{}
    input[type="radio"].ipt-radio-1:checked + label .ico-radio > span{}

    /* list */
    .list-type-1{margin-left:30px;margin-right:30px;padding-top:14px;padding-bottom:14px;}
    .list-type-1 > li{}
    .list-type-1 > li .title{font-size:16px;line-height:24px;}
    .list-type-1 > li > .left{padding:6px 0;width:25%;}
    .list-type-1 > li > .right{padding:6px 0;width:75%;}
    .list-check-1{margin-top:20px;margin-left:20px;margin-right:30px;padding-bottom:20px;}
    .list-check-1:after{}
    .list-check-1 > li{margin-top:26px;width:25%;}
    .list-check-1 > li:nth-child(1){margin-top:0;}
    .list-check-1 > li:nth-child(2){margin-top:0;}
    .list-check-1 > li:nth-child(3){margin-top:0;}
    .list-check-1 > li:nth-child(4){margin-top:0;}
    .list-check-1 > li:nth-child(2n-1){clear:none;}
    .list-check-1 > li:nth-child(4n-3){clear:both;}
    .list-notice-1{margin-top:10px;}
    .list-notice-1 > li{font-size:13px;line-height:20px;}
    .list-notice-1 > li:before{}
    .list-btn-2{margin-top:27px;text-align:center;font-size:0;line-height:0;}
    .list-btn-2 > li{display:inline-block;margin:0 5px;vertical-align:top;}
    .list-btn-2 > li:first-child{margin-left:0;}
    .list-btn-2 > li:last-child{margin-right:0;}
    .list-btn-2 .pc-wd-2{min-width:180px;}
    .list-btn-2 .pc-wd-3{min-width:400px;}

    /* grid */
    .grid-middle{}
    .grid-middle > .inner{max-width:462px;padding:0;}
    .grid-middle .footer{}
    .grid-footer{height:105px;}
    .grid-footer > .inner{}

    /* content */
    .box-price{margin-top:19px;font-size:20px;line-height:28px;}
    .box-price:after{}
    .box-price > .left{}
    .box-price > .right{}
    .box-price .txt-point{font-size:24px;}
    
    .submit {-webkit-appearance: none;-webkit-border-radius:0;}
    .submit {padding:16px 20px;font-size:20px;line-height:28px;}
    .submit {display:block;box-sizing:border-box;padding:8px 10px;background:#fa2828;border-radius:4px;font-size:20px;line-height:22px;color:#fff;font-weight:bold;text-align:center;transition:background-color 0.2s ease;}
    .submit:hover,
    .submit:focus{background-color:#8e0606;}
    .submit.disable{background-color:#fc9393;}
    .list-btn-2 .submit{min-width:400px; min-height:60px}
}

/* animate keyframe */
@keyframes check-checked-1{
    0%{height:0%;}
    100%{height:100%;}
}
@keyframes check-checked-2{
    0%{width:0%;}
    50%{width:0%;}
    100%{width:100%;}
}
