{% extends "admin/base.html" %}

{% block title %}
    게시판관리
{% endblock %}

{% block content %}
<form name="fboardlist" id="fboardlist" action="/admin/board_list_update" onsubmit="return fboardlist_submit(this);" method="post">
    <input type="hidden" name="sst" value="a.gr_id, a.bo_table">
    <input type="hidden" name="sod" value="asc">
    <input type="hidden" name="sfl" value="">
    <input type="hidden" name="stx" value="">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="token" value="">

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>게시판관리 목록</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <label for="chkall" class="sound_only">게시판 전체</label>
                        <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                    </th>
                    <th scope="col"><a href="/admin/board_list?sst=a.gr_id&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">그룹</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_table&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">TABLE</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_skin&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">스킨</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_mobile_skin&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">모바일<br>스킨</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_subject&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">제목</a></th>
                    <th scope="col">읽기P<span class="sound_only">포인트</span></th>
                    <th scope="col">쓰기P<span class="sound_only">포인트</span></th>
                    <th scope="col">댓글P<span class="sound_only">포인트</span></th>
                    <th scope="col">다운P<span class="sound_only">포인트</span></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_use_sns&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">SNS<br>사용</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_use_search&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">검색<br>사용</a></th>
                    <th scope="col"><a href="/admin/board_list?sst=bo_order&amp;sod=asc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">출력<br>순서</a></th>
                    <th scope="col">접속기기</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                
                    <tr class="bg0">
                        <td class="td_chk">
                            <label for="chk_0" class="sound_only">{{ board.bo_subject }}</label>
                            <input type="checkbox" name="chk[]" value="0" id="chk_0">
                        </td>
                        <td>
                                                            <!-- <select id="gr_id[0]" name="gr_id[0]" >
<option value="">선택</option><option value="community" selected="selected">커뮤니티</option>
</select>                                                    </td> -->
                        <td>
                            <input type="hidden" name="board_table[0]" value="{{ board.bo_table }}">
                            <a href="/board/{{ board.bo_table }}">{{ board.bo_table }}</a>
                        </td>
                        <td>
                            <label for="bo_skin_0" class="sound_only">스킨</label>
                            <select id="bo_skin_0" name="bo_skin[0]" >
<option value="">선택</option><option value="theme/basic">(테마) basic</option>
<option value="theme/gallery">(테마) gallery</option>
<option value="basic" selected="selected">basic</option>
<option value="gallery">gallery</option>
</select>                        </td>
                        <td>
                            <label for="bo_mobile_skin_0" class="sound_only">모바일 스킨</label>
                            <select id="bo_mobile_skin_0" name="bo_mobile_skin[0]" >
<option value="">선택</option><option value="theme/basic">(테마) basic</option>
<option value="theme/gallery">(테마) gallery</option>
<option value="basic" selected="selected">basic</option>
<option value="gallery">gallery</option>
</select>                        </td>
                        <td>
                            <label for="bo_subject_0" class="sound_only">게시판 제목<strong class="sound_only"> 필수</strong></label>
                            <input type="text" name="bo_subject[0]" value="{{ board.bo_subject }}" id="bo_subject_0" required class="required tbl_input bo_subject full_input" size="10">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_read_point_0" class="sound_only">읽기 포인트</label>
                            <input type="text" name="bo_read_point[0]" value="0" id="bo_read_point_0" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_write_point_0" class="sound_only">쓰기 포인트</label>
                            <input type="text" name="bo_write_point[0]" value="0" id="bo_write_point_0" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_comment_point_0" class="sound_only">댓글 포인트</label>
                            <input type="text" name="bo_comment_point[0]" value="0" id="bo_comment_point_0" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_download_point_0" class="sound_only">다운<br>포인트</label>
                            <input type="text" name="bo_download_point[0]" value="0" id="bo_download_point_0" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_use_sns_0" class="sound_only">SNS<br>사용</label>
                            <input type="checkbox" name="bo_use_sns[0]" value="1" id="bo_use_sns_0" >
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_use_search_0" class="sound_only">검색<br>사용</label>
                            <input type="checkbox" name="bo_use_search[0]" value="1" id="bo_use_search_0" >
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_order_0" class="sound_only">출력<br>순서</label>
                            <input type="text" name="bo_order[0]" value="0" id="bo_order_0" class="tbl_input" size="2">
                        </td>
                        <td class="td_mngsmall">
                            <label for="bo_device_0" class="sound_only">접속기기</label>
                            <select name="bo_device[0]" id="bo_device_0">
                                <option value="both"  selected="selected">모두</option>
                                <option value="pc" >PC</option>
                                <option value="mobile" >모바일</option>
                            </select>
                        </td>
                        <td class="td_mng td_mng_m">
                            <a href="/admin/board_form/{{ board.bo_table }}" class="btn btn_03">수정</a>                            
                            <a href="/admin/board_copy/{{ board.bo_table }}" class="board_copy btn btn_02" target="win_board_copy">복사</a>                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <div class="btn_fixed_top">
        <input type="submit" name="act_button" value="선택수정" onclick="document.pressed=this.value" class="btn_02 btn">
                    <input type="submit" name="act_button" value="선택삭제" onclick="document.pressed=this.value" class="btn_02 btn">
            <a href="/admin/board_form" id="bo_add" class="btn_01 btn">게시판 추가</a>
            </div>

</form>
{% endblock %}
