{% extends "base.html" %}
{% set query_params=request.query_params %}

{% block title %}새글{% endblock title %}
{% block subtitle %}새글{% endblock subtitle %}

{% block content %}
<!-- 전체게시물 검색 시작 { -->
<fieldset id="new_sch">
    <legend>상세검색</legend>
    <form name="fnew" method="get">
        <label for="gr_id" class="sound_only">그룹</label>
        {{ get_group_select('gr_id', query_params.gr_id)|safe }}

        <label for="view" class="sound_only">검색대상</label>
        <select name="view" id="view">
            <option value="">전체게시물</option>
            <option value="write" {{ get_selected(query_params.view, "write") }}>원글만</option>
            <option value="comment" {{ get_selected(query_params.view, "comment") }}>코멘트만</option>
        </select>
        <label for="mb_id" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
        <input type="text" name="mb_id" value="{{ query_params.mb_id }}" id="mb_id" class="frm_input" size="40">
        <button type="submit" class="btn_submit">
            <i class="fa fa-search" aria-hidden="true"></i> 검색
        </button>
        <p>회원 아이디만 검색 가능</p>
    </form>
</fieldset>
<!-- } 전체게시물 검색 끝 -->

<!-- 전체게시물 목록 시작 { -->
<form name="fnewlist" id="fnewlist" method="post" action="#" onsubmit="return fnew_submit(this);">
    <input type="hidden" name="view" value="{{ query_params.view }}">
    <input type="hidden" name="token" value="">

    <div class="admin_new_btn">
        <button type="submit" title="선택삭제" class="btn_b01 btn">
            <i class="fa fa-regular fa-trash-can" aria-hidden="true"></i>
            <span class="sound_only">선택삭제</span>
        </button>
    </div>
    <div class="tbl_head01 tbl_wrap">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="chk_box">
                        <input type="checkbox" id="all_chk" class="selec_chk">
                        <label for="all_chk">
                            <span>&nbsp;</span>
                            <b class="sound_only">목록 전체</b>
                        </label>
                    </th>
                    <th scope="col">그룹</th>
                    <th scope="col">게시판</th>
                    <th scope="col">제목</th>
                    <th scope="col">이름</th>
                    <th scope="col">일시</th>
                </tr>
            </thead>
            <tbody>
                {% for board_new in board_news %}
                <tr>
                    <td class="td_chk chk_box">
                        <input type="checkbox" name="chk_bn_id[]" value="{{ board_new.bn_id }}" id="chk_bn_id_{{ loop.index }}" class="selec_chk">
                        <label for="chk_bn_id_{{ loop.index }}">
                            <span>&nbsp;</span>
                            <b class="sound_only">{{ board_new.num }}번</b>
                        </label>
                    </td>
                    <td class="td_group">
                        <a href="/bbs/new?gr_id={{ board_new.board.gr_id }}">{{ board_new.board.group.gr_subject }}</a>
                    </td>
                    <td class="td_board">
                        <a href="/board/{{ board_new.bo_table }}">{{ board_new.board.bo_subject }}</a>
                    </td>
                    <td>
                        <a href="{{ board_new.link }}" class="new_tit">{{ board_new.subject }}</a>
                    </td>
                    <td class="td_name">{{ board_new.name }}</td>
                    <td class="td_date">{{ board_new.datetime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ paging|safe }}

    <div class="admin_new_btn">
        <button type="submit" title="선택삭제" class="btn_b01 btn">
            <i class="fa fa-regular fa-trash-can" aria-hidden="true"></i>
            <span class="sound_only">선택삭제</span>
        </button>
    </div>
</form>

<script>
    $(function(){
        $('#all_chk').click(function(){
            $('[name="chk_bn_id[]"]').attr('checked', this.checked);
        });
    });

    function fnew_submit(f)
    {
        var cnt = 0;
        for (var i =0; i < f.length; i++) {
            if (f.elements[i].name == "chk_bn_id[]" && f.elements[i].checked)
                cnt++;
        }

        if (!cnt) {
            alert("삭제할 게시물을 하나 이상 선택하세요.");
            return false;
        }

        if (!confirm("선택한 게시물을 정말 삭제 하시겠습니까?\n\n한번 삭제한 자료는 복구할 수 없습니다")) {
            return false;
        }

        f.token.value = generate_token();
        f.action = "./new_delete?{{ query_params|safe }}";

        return true;
    }
</script>
{% endblock content %}