{% extends "base.html" %}

{% block title %}{{ group.gr_subject }}{% endblock title %}
{% block subtitle %}{{ group.gr_subject }}{% endblock subtitle %}

{% block content %}
    <div class="latest_wr">
        {% for board in boards %}
            <div style="float:left; {{ loop.cycle("", "margin-left:2%", "margin-left:2%") }}" class="lt_wr">
                {{ render_latest_posts(request, 'basic', board.bo_table, 6, 25)|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}