{% if board.bo_use_sideview %}
    {% import "/sideview/macros.html" as sideview %}
{% endif %}

{% set thumb_width, thumb_height = 210, 150 %}

<div class="pic_lt">
    <h2 class="lat_title"><a href="{{ url_for('list_post', bo_table=bo_table) }}">{{ board.subject }}</a></h2>
    <ul>
        {% for write in writes -%}
        <li class="galley_li">
            <a href="{{ url_for('read_post', bo_table=bo_table, wr_id=write.wr_id) }}" class="lt_img">
                {% set thumbnail=get_list_thumbnail(request, board, write, thumb_width, thumb_height) %}
                {% if thumbnail.src %}
                <img src="/{{ thumbnail.src }}" alt="{{ thumbnail.alt }}">
                {% else %}
                <img src="{{ url_for('static', path='/img/no_img.png') }}" alt="이미지가 없습니다." width="{{ thumb_width }}" height="{{ thumb_height }}">
                {% endif %}
            </a>
            {% if write.icon_secret -%}
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span class="sound_only">비밀글</span>
            {%- endif -%}
            <a href="{{ url_for('read_post', bo_table=bo_table, wr_id=write.wr_id) }}">
                {% if write.is_notice %}<strong>{{ write.subject }}</strong>{% else %}{{ write.subject }}{% endif %}
            </a>
            {% if write.icon_new %}<span class="new_icon">N<span class="sound_only">새글</span></span>{% endif %}
            {% if write.icon_hot %}<span class="hot_icon">H<i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>{% endif %}
            {% if write.wr_comment %}<span class="lt_cmt"><span class="sound_only">댓글</span>{{ write.wr_comment }}</span>{% endif %}
            <div class="lt_info">
                <span class="lt_nick">
                    {% if board.bo_use_sideview %}
                        {{ sideview.get(request, write.mb_id, write.name, write.wr_email, write.wr_homepage)|safe }}
                    {% else %}
                        <span class="{% if write.mb_id %}member{% else %}guest{% endif %}">
                            {{ write.name }}
                        </span>
                    {% endif %}
                </span>
                <span class="lt_date">{{ write.datetime }}</span>              
            </div>
        </li>
        {% else -%}
            <li class="empty_li">게시물이 없습니다.</li>
        {%- endfor %}
    </ul>
    <a href="{{ url_for('list_post', bo_table=bo_table) }}" class="lt_more">
        <span class="sound_only">{{ board.subject }}</span>더보기
    </a>
</div>