{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

{% if content.co_include_head %}
    {#% include content.co_include_head %#}
{% endif %}

{% if co_himg_url %}
    <div id="ctt_himg">
        <img src="{{ co_himg_url }}" alt="" />
    </div>
{% endif %}

<article id="ctt" class="ctt_{{ content.co_id }}">
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div id="ctt_con">
        {{ content.co_content|safe }} 
    </div>
</article>

{% if co_timg_url %}
    <div id="ctt_timg">
        <img src="{{ co_timg_url }}" alt="" />
    </div>
{% endif %}

{% if content.co_inclue_tail %}
    {#% include content.co_inclue_tail %#}
{% endif %}

{% endblock %}