@charset "utf-8";

/* 메인 슬라이드 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

input, button, select, fieldset {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    background-color:transparent;
}

fieldset {
    padding:0;
    margin:0;
}

.blind, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 12px;
    clip: rect(1px, 1px, 1px, 1px);
}

button {
    cursor:pointer;
    padding:0;
    font-size:inherit;
}

.con-min-width {
    min-width:320px;
}

html {
    overflow-x:hidden;
}

.main_bn {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

/* 메인 배너 슬라이더 */
.slider-wrap {
    position:relative;
}

.main-slider {
    position:relative;
    margin-bottom:0 !important;
}

.main-slider .slide-item .slide-con {
    position:relative;
    height: 548px;
}

.main-slider .slide-item .slide-con .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider .slide-item > .slide-con > .slide-txt {
    position:absolute;
    bottom: 7%;
    left: 4%;
    width: 100%;
    max-width: 500px;
    z-index:50;
    color: #fff;
    text-align: left;
}

.main-slider .slide-item .slide-con .img-box::after {
    content:'';
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 47.92%, rgba(0, 0, 0, 0.8) 100%);
}

.main-slider .slide-item-1 > .slide-con > .slide-txt {
    left:50%;
    transform:translatex(-50%);
    padding:0;
    text-align:center;
}

.main-slider .slide-item > .slide-con > .slide-txt > h2.txt-tt {
    font-size:24px;
}

.main-slider .slide-item > .slide-con > .slide-txt > h2.txt-tt a {
  color: #ffffff;
}

.main-slider .slide-item > .slide-con > .slide-txt > p.txt-desc {
    font-size:16px;
    font-weight:300;
    margin-top:16px;
    width: 100%;
    line-height: 1.4;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn {
    margin-top:32px;
    border: 1px solid #eeeeee60;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn:hover {
    background: #ff8269;
    color: #000000;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn a {
    display: block;
    padding: 8px 24px;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a {
    font-size:14px;
    display:inline-block;
    color: #ffffff;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1 {
    position:relative;
    margin-right:31px;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1::after {
    content:"";
    width:0;
    height:1px;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translatex(-50%);
    background-color:#555;
}


.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2 {
    padding:12px 38px;
    border:1px solid #fff;
    border-radius:45px;
    line-height:1;
    letter-spacing:.05rem;
    color:#fff;
    transition:all .5s;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2:hover {
    background-color:#555;
}

/* 사이드 버튼 */
.main-slider .slick-arrow {
   display: none !important;
}

/* 페이지 버튼 */
.main-slider .slick-dots {
    font-size:0;
    position:absolute;
    right: 0;
    top: 0;
    max-width: 240px;
    width:100%;
    height: 100%;
    background: rgba(46, 42, 42, 0.8);
    z-index:50;
}

.main-slider .slick-dots > li {
    width:100%;
    height: 25%;
    margin:0;
    box-sizing:border-box;
}

.main-slider .slick-dots > li > button {
    width:100%;
    height:1px;
    background-color:rgba(255,255,255,.3);
    outline:none;
    position:relative;
    padding:0;
    color:inherit;
    line-height:normal;
}


.main-slider .slick-dots > li > button::before {
    display:none;
}

.main-slider .slick-dots > li > button > .s-line-fill {
    content:"";
    width:0;
    height:100%;
    background-color:#fff;
    position:absolute;
    top:0;
    left:0;
    opacity:1;
}

.slider-wrap .slick-dots .slick-active {background: #ff8269;}

.slider-wrap .slick-dots .slick-active > button > .s-line-fill {
    animation:slick-progressbar 4s 1;
    animation-fill-mode: forwards;
}

.slider-wrap[data-slick-autoplay-status="N"] .slick-dots .slick-active > button > .s-line-fill {
    animation-play-state:paused;
}

@keyframes slick-progressbar {
    0% {
        width:0%;
    }
    100% {
        width:100%;
    }
}

/* 페이지 버튼 인디케이터 */
.main-slider .slick-dots > li > button > .s-indicator {
    margin-top: 10px;
    width:100%;
    overflow:hidden;
}

.main-slider .slick-dots > li > button > .s-indicator > .inner-txt {
    font-size:14px;
    font-weight:bold;
    display:block;
    color:#ffffff75;
    text-align: left;
}

.main-slider .slick-dots > li > button > .s-indicator > .inner-txt:first-child {
    margin: 8px 18px;
}

.main-slider .slick-dots .slick-active > button > .s-indicator > .inner-txt {
    color:#ffffff;
}


.slider-wrap[data-slick-autoplay-status="Y"] .s-autoplay-btn:after {
    content:"■";
    display:block;
}

.slider-wrap[data-slick-autoplay-status="N"] .s-autoplay-btn:after {
    content:"▶";
    display:block;
    font-size:15px;
}

.slider-wrap .slide-dummy {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:90%;
}

 @media (max-width: 1200px) {
  .main_bn {border-radius: 0px;}
 }

 @media (max-width: 1000px) {
  .main-slider .slick-dots {max-width: 200px;}
 }

 @media (max-width: 800px) {
  .main-slider .slick-dots {visibility: hidden;}
  .main-slider .slide-item > .slide-con > .slide-txt {width: 90%;}
 }
