@charset "utf-8";

/* 아웃로그인 스킨 */
#aside .ol {position:relative;margin-bottom:15px;border-radius:8px;background: var(--contBg);color: var(--fontColor);border: var(--border);}
#aside .ol h2 {width:50%;float:left;padding:15px 0;text-align:center}
#aside .ol .join {width:50%;float:right;padding:15px 0;text-align:center;background:var(--bovHover);color:#6e6e6e}
#aside .ol #ol_be_cate:after {display:block;visibility:hidden;clear:both;content:""}
#aside .ol form {padding:20px}
#aside .ol a.btn_admin {display:inline-block;padding:0 10px;height:25px;text-decoration:none;line-height:25px;vertical-align:middle} /* 관리자 전용 버튼 */
#aside .ol a.btn_admin:focus, #aside .ol a.btn_admin:hover {text-decoration:none}
#aside .ol .login-sns{padding-bottom:0px}

#aside #ol_before {}
#aside #ol_before:after {display:block;visibility:hidden;clear:both;content:""}
#aside #ol_before .ol_wr {position:relative;margin-bottom:5px}
#aside #ol_id {display:block;width:100%;background: var(--inputBg);border:var(--inputBorder);color: var(--fontColor);padding:0 10px;height:35px;margin-bottom:5px;border-radius:3px}
#aside #ol_pw {display:block;width:100%;background: var(--inputBg);border:var(--inputBorder);color: var(--fontColor);padding:0 10px;height:35px;margin-bottom:5px;border-radius:3px}
#aside #ol_submit {width:100%;height:35px;background:#ff8269;border-left:1px solid #ccc;color:#fff;font-weight:bold;font-size:1.167em;border-radius:3px}
#aside #ol_svc {float:right;line-height:20px}
#aside #ol_svc a {display:inline-block;border:var(--border);color:#ff8269;border-radius:2px;padding:2px 5px}
#aside #ol_auto {float:left;line-height:20px;margin-top:5px}
#aside #ol_auto label {color:var(--shareColor);vertical-align:baseline}
#aside #ol_auto input {width:13px;height:13px} 
#aside .ol_auto_wr:after {display:block;visibility:hidden;clear:both;content:""}
#aside #sns_login {margin-top:0 !important;border-top:0 !important}
#aside #sns_login h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#aside #ol_after {}
#aside #ol_after_hd {position:relative;padding:10px;padding-left:80px;height:80px}
#aside #ol_after_hd strong {display:block;margin:5px 0 10px}
#aside #ol_after_hd .profile_img {position:absolute;top:15px;left:15px;display:inline-block}
#aside #ol_after_hd .profile_img img {border:1px solid #bbb;border-radius:50%;width:50px;height:50px}
#aside #ol_after_hd .profile_img a {text-align:center;font-size:17px;width:30px;line-height:30px;color:#777}
#aside #ol_after_info {display:inline-block;height:28px;line-height:22px;border:var(--border);color:#ff8269;border-radius:2px;padding:2px 5px}
#aside #ol_after h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#aside #ol_after_hd .btn_admin {border-radius:3px;height:28px;line-height:28px;vertical-align:baseline}
#aside #ol_after_hd .btn_b04 {line-height:23px;padding:0 5px}
#aside #ol_after_private {zoom:1}
#aside #ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#aside #ol_after_private li {text-align:left;position:relative;text-align:left}
#aside #ol_after_private li:first-child a {border-left:0}
#aside #ol_after_private a {display:block;color:var(--prFontColor);line-height:18px;padding:10px 10px 10px 20px}
#aside #ol_after_private a strong {display:inline-block;float:right;max-width:87px;overflow:hidden;white-space:nowrap;text-overflow:clip;color:#f16245;padding:0 5px;border-radius:15px;font-size:0.92em}
#aside #ol_after_private a:hover strong {background:#4b8bff}
#aside #ol_after_private li a:hover {color:#ff8269;background:var(--bovHover)}
#aside #ol_after_private li a:hover:after {position:absolute;left:-1px;top:0;width:2px;height:38px;background:#ff8269;content:""}
#aside #ol_after_private li i {width:25px;color:#8c9eb0;margin-right:5px}
#aside #ol_after_private li:hover i {color:#ff8269}
#aside #ol_after_private .win_point:hover strong {background:#37bc9b;color:#fff}
#aside #ol_after_private .win_memo:hover strong {background:#8cc152;color:#fff}
#aside #ol_after_private .win_scrap:hover strong {background:#ff8b77;color:#fff}

#aside #ol_after_logout {text-align:center;font-weight:bold;display:block;padding:15px 0;color:#a0a0a1;border-top:var(--border)}
#aside #ol_after_logout:hover {color:#e7664d}
#aside #ol_after_memo {margin-right:1px}
#aside #ol_after_pt {margin-right:1px}

.selec_chk {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
.chk_box {position:relative}
.chk_box input[type="checkbox"] + label {padding-left:20px;color:#676e70}
.chk_box input[type="checkbox"] + label:hover{color:#ff8269}
.chk_box input[type="checkbox"] + label span {position:absolute;top:2px;left:0;width:15px;height:15px;display:block;margin:0;background:#fff;border:1px solid #d0d4df;border-radius:3px}
.chk_box input[type="checkbox"]:checked + label {color:var(--fontColor)}
.chk_box input[type="checkbox"]:checked + label span {background:url(/static/img/chk.png) no-repeat 50% 50% #3a8afd;border-color:#1471f6;border-radius:3px}
.chk_box input[type="checkbox"]:checked + label span {
  background: url(/static/img/chk.png) no-repeat 50% 50% #ff8269;
  border-color: #ff8269;
  border-radius: 3px;
}

.gnb_mo .ol{border-radius: 0;border: none;border-bottom: var(--border);}
.gnb_mo .ol {position:relative;margin:0 0 10px;text-align:center}
.gnb_mo .ol h2 {width:0;height:0;overflow:hidden}

.gnb_mo #ol_before {background:#212020;padding:11px 15px;text-align:left}
.gnb_mo #ol_before input[type=text], #ol_before input[type=password] {width:100%;border:0;border-bottom:1px solid #434242;background:none;height:40px;;margin:0 0 10px;color:#fff}
.gnb_mo #ol_submit {width:100%;height:40px;border-radius:23px;font-weight:bold;font-size:1.083em; }
.gnb_mo #ol_svc {text-align:left;color:#dadada;font-size:0.92em;margin:5px 0 20px}
.gnb_mo .ol_before_btn {margin:15px 0 0;color:#aaa;line-height:1em}
.gnb_mo .ol_before_btn a {color:#fff;display:inline-block;width:50%;float:left}
.gnb_mo #ol_password_lost {border-left:1px solid #777}

.gnb_mo #ol_after_hd {position:relative;background:#212020;padding:10px 15px}
.gnb_mo #ol_after_hd:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_mo #ol_after_hd strong {display:block;float:left;color:#fff;padding:0 0 0 15px;line-height:40px}
.gnb_mo #ol_after_hd .btn_admin {float:left;display:block;padding:0 !important;text-align:center;color:#fff;margin-right:10px;background:#d13f4a;width:30px}
.gnb_mo #ol_after_hd .profile_img {position:relative;float:left;display:inline-block}
.gnb_mo #ol_after_hd .profile_img img {width:37px;height:37px;border-radius:50%}
.gnb_mo #ol_after_info {position:absolute;bottom:-5px;right:-5px;width:20px;height:20px;line-height:18px;text-align:center;border-radius:50%;background:#212020}
.gnb_mo #ol_after_info i {color:#fff;font-size:1em} 
.gnb_mo #ol_after_private {clear:both;margin-top:15px;background:var(--contBg);padding:0;list-style:none;border-bottom:var(--border)}
.gnb_mo #ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_mo #ol_after_private li {position:relative;float:left;width:33.333%;text-align:left;border-right:var(--border)}
.gnb_mo #ol_after_private li a {color:var(--fontColor)}
.gnb_mo #ol_after_private i {margin:0 5px 0 0;color:#b9bcbf;font-size:1.2em}
.gnb_mo #ol_after_private strong {position:absolute;top:16px;right:10px}
.gnb_mo #ol_after_private li strong{color:#fff;padding:0 5px;border-radius:15px;font-size:0.92em}
.gnb_mo #ol_after_private li:nth-child(1) strong {background:#8cc152;}
.gnb_mo #ol_after_private li:nth-child(2) strong {background:#37bc9b;}
.gnb_mo #ol_after_private li:nth-child(3) strong {background:#ff8b77;}

.gnb_mo #ol_after_private a {display:inline-block;padding:15px 10px}

.gnb_mo #ol_after_btn {position:absolute;top:15px;right:55px}
.gnb_mo #ol_after_btn a {display:inline-block;padding:0 10px;line-height:30px;color:#fff;border-radius:3px;font-weight:bold}
.gnb_mo #ol_after_logout {background:#ff8269;color:#fff}