{% extends "_layout.html" %}

{% block content %}
    <h1 class="install_uncnf">라이센스 안내</h1>

    <form action="{{ url_for('install_form') }}" method="post" onsubmit="return frm_submit(this);">
        <div class="ins_inner">
            <p>
                <strong class="st_strong">{{ app_name }} 버전의 라이센스(License)를 확인하세요.</strong>
                <br>라이센스에 동의하시는 경우에만 설치할 수 있습니다.
            </p>
            <div class="ins_ta ins_license">
                <textarea name="textarea" id="ins_license" readonly>
                    {{- license -}}
                </textarea>
            </div>
        
            <div id="ins_agree">
                <label for="agree">동의합니다.</label>
                <input type="checkbox" name="agree" value="동의함" id="agree">
            </div>
        
            <div class="inner_btn">
                <input type="submit" value="다음">
            </div>
        </div>
    </form>
    <script>
    function frm_submit(f) {
        if (!f.agree.checked) {
            alert("라이센스 내용에 동의하셔야 설치가 가능합니다.");
            return false;
        }
        return true;
    }
    </script>
{% endblock content %}