{% extends "base.html" %}

{% block title %}
    그누보드
{% endblock %}

{% block content %}

user_device = 'mobile'
        
<h2 class="sound_only">최신글</h2>

<div class="latest_top_wr">

    {{ latest(request, 'basic', 'free', 5, 30)|safe }}
    
<div class="pic_li_lt">
    <h2 class="lat_title"><a href="/board/free">자유게시판</a></h2>
    <ul>
            <li>
            <a href="/board/free?wr_id=1" class="lt_img" ><img src="/static/img/no_img.png" alt="이미지가 없습니다." ></a>            <a href="http://g5.pypot.com/bbs/board.php?bo_table=free&amp;wr_id=1" class="pic_li_tit"> 제목제목제목</a>
            <div class="lt_info">
				<span class="lt_nick"><span class="sv_member">최고관리자</span></span>
            	<span class="lt_date">09-12</span>              
            </div>
        </li>
            </ul>
    <a href="/board/free" class="lt_more"><span class="sound_only">자유게시판</span>더보기</a>

</div>

<div class="pic_li_lt">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=qa">질문답변</a></h2>
    <ul>
            <li class="empty_li">게시물이 없습니다.</li>
        </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=qa" class="lt_more"><span class="sound_only">질문답변</span>더보기</a>

</div>

<div class="pic_li_lt">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=notice">공지사항</a></h2>
    <ul>
            <li class="empty_li">게시물이 없습니다.</li>
        </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=notice" class="lt_more"><span class="sound_only">공지사항</span>더보기</a>

</div>
</div>
<div class="latest_wr">
    <!-- 사진 최신글2 { -->
    
<div class="pic_lt">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=gallery">갤러리</a></h2>
    <ul>
            <li class="empty_li">게시물이 없습니다.</li>
        </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=gallery" class="lt_more"><span class="sound_only">갤러리</span>더보기</a>

</div>
    <!-- } 사진 최신글2 끝 -->
</div>

<div class="latest_wr">
<!-- 최신글 시작 { -->
        <div style="float:left;" class="lt_wr">
        
<div class="lat">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=free">자유게시판</a></h2>
    <ul>
            <li class="basic_li">
            <a href="http://g5.pypot.com/bbs/board.php?bo_table=free&amp;wr_id=1"> 제목제목제목</a>             <div class="lt_info">
				<span class="lt_nick"><span class="sv_member">최고관리자</span></span>
            	<span class="lt_date">09-12</span>              
            </div>
        </li>
            </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=free" class="lt_more"><span class="sound_only">자유게시판</span>더보기</a>

</div>
    </div>
        <div style="float:left;margin-left:2%" class="lt_wr">
        
<div class="lat">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=qa">질문답변</a></h2>
    <ul>
            <li class="empty_li">게시물이 없습니다.</li>
        </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=qa" class="lt_more"><span class="sound_only">질문답변</span>더보기</a>

</div>
    </div>
        <div style="float:left;margin-left:2%" class="lt_wr">
        
<div class="lat">
    <h2 class="lat_title"><a href="http://g5.pypot.com/bbs/board.php?bo_table=zzz">zzz</a></h2>
    <ul>
            <li class="empty_li">게시물이 없습니다.</li>
        </ul>
    <a href="http://g5.pypot.com/bbs/board.php?bo_table=zzz" class="lt_more"><span class="sound_only">zzz</span>더보기</a>

</div>
    </div>
        <!-- } 최신글 끝 -->
</div>

{% endblock %}