{% extends "base.html" %}

{% block title %}{{ request.state.title }}{% endblock title %}

{% block content %}
    <h2 class="sound_only">최신글</h2>
    <div class="latest_top_wr">
      {{ render_latest_posts(request, 'main_list', 'notice', 4, 23)|safe }}
    </div>
    <div class="latest_wr">
        {{ render_latest_posts(request, 'pic_list', 'free', 4, 23)|safe }}
        {{ render_latest_posts(request, 'pic_list', 'qa', 4, 23)|safe }}
        {{ render_latest_posts(request, 'pic_list', 'notice', 4, 23)|safe }}
    </div>
    <div class="latest_wr">
        {{ render_latest_posts(request, 'pic_block', 'gallery', 4, 23)|safe }}
    </div>
    <div class="latest_wr">
        {% for board in boards %}
        <div style="float:left; {{ loop.cycle("", "margin-left:2%", "margin-left:2%") }}" class="lt_wr">
            {{ render_latest_posts(request, 'basic', board.bo_table, 6, 24)|safe }}
        </div>
        {% endfor %}
    </div>
{% endblock content %}