@charset "utf-8";

/* 목록 */
.bo_list .list_table { margin:0 0 20px; }
.bo_list .list_table .is_notice { background:var(--boNoticeBg) !important; border-bottom:1px solid #f8e6ee; }
.bo_list .list_table .is_notice .table_subject a { font-weight:bold; }
.bo_list .list_table .is_notice .table_wrid { font-weight:bold; color:#f9267f }

@media (min-width:1101px) {
    .bo_list .list_table { width:100%; border-collapse:collapse; border-spacing:0 5px; background:var(--contBg); border-top:var(--border); border-bottom:var(--border) }
    .bo_list .list_table thead th { padding:20px 0; font-weight:normal; text-align:center; border-bottom:var(--border); height:40px; color: var(--fontColor); }
    .bo_list .list_table tfoot th,
    .bo_list .list_table tfoot td { padding:10px 0; border-top:1px solid #c1d1d5; border-bottom:1px solid #c1d1d5; background:#d7e0e2; text-align:center }
    .bo_list .list_table tbody th { padding:8px 0; border-bottom:1px solid #e8e8e8 }
    .bo_list .list_table tbody tr { border-left:2px solid transparent }
    .bo_list .list_table tbody tr:hover { border-left:2px solid var(--primaryColor) }
    .bo_list .list_table tbody .even td { background:var(--evenTdBg) }
    .bo_list .list_table td { color:var(--tdColor); padding:10px 5px; border-top:var(--border); border-bottom:var(--border); line-height:1.6rem; height:60px; word-break:break-all }
    .bo_list .list_table tbody tr:hover td { background:var(--bovHover) }
    .bo_list .list_table a:hover { text-decoration:underline }
    .bo_list .list_table .table_check { width:40px; text-align:center; }
    .bo_list .list_table .table_wrid { width:40px; text-align:center; }
    .bo_list .list_table .table_category { width:100px; text-align:center; }
    .bo_list .list_table .table_writer { width:100px; }
    .bo_list .list_table .table_hit { width: 80px; text-align:center; }
    .bo_list .list_table .table_good,
    .bo_list .list_table .table_nogood { width: 50px; text-align: center; }
    .bo_list .list_table .table_datetime { width: 80px; text-align: center; }
    .bo_list .list_table .table_status { width: 80px; text-align: center; }
}

@media (max-width:1100px) {
    .bo_list .list_table { display:block; }
    .bo_list .list_table thead { display:none; }
    .bo_list .list_table tbody { display:block; }
    .bo_list .list_table tr { display:block; padding:10px; border-bottom: var(--border); }
    .bo_list .list_table td { display:inline-block; position: relative; line-height: 22px; vertical-align:middle; }
    .bo_list .list_table .table_subject { display:block; margin:5px 0; font-size:1.6rem; }
    .bo_list .list_table .table_hit::before,
    .bo_list .list_table .table_good::before,
    .bo_list .list_table .table_nogood::before { display:inline-block; margin:0 3px; content:attr(data-label); }
    .bo_list .list_table .is_notice .table_check { display:none; }
}

/* 읽기 */
#bo_qa_view #view_header { grid-template-columns: 1fr 170px; }
#bo_qa_view #view_header .header_info { flex-direction: row; align-items: center; justify-content:flex-start;}

#bo_qa_view #article_contact { display: flex; flex-direction: column; gap:5px; padding:20px; background:#eee; }
#bo_qa_view #article_contents { padding: 15px 0 0; }

#bo_qa_answer_view { margin:15px 0 30px;border:var(--border);background:var(--contBg);border-radius:3px; }
#bo_qa_answer_view #answer_view_header { display:flex; justify-content: space-between; position:relative; padding:20px; border-bottom:var(--border); }
#bo_qa_answer_view .header_subject .subject { font-size:1.9rem; color: var(--fontColor); font-weight:bold; }
#bo_qa_answer_view .header_subject .label { font-size:1.1rem }
#bo_qa_answer_view .header_subject .datetime { display:block; margin:5px 0 0; font-size:1.1rem; color:var(--bovTitColor); }
#bo_qa_answer_view #answer_view_contents { margin:0 0 10px;padding:15px;line-height:2.1rem;color: var(--fontColor); }
#bo_qa_answer_view #answer_view_contents img { max-width:100%;height:auto; }
#bo_qa_answer_view #answer_view_contents .view_filelink li { margin-bottom: 0; }

#bo_qa_answer_view #qa_continue { margin:0 0 15px; text-align: center; }
#bo_qa_answer_view #qa_continue a { display:inline-block;background:var(--primaryColor);color:#fff;text-align:center;border-radius:3px;width:280px;height:57px;line-height:57px;font-size:1.4rem;margin:0 auto;font-weight:bold; }