{% extends "base_sub.html" %}

{% block body_html %}
<div id="hd_login_msg">{{ request.state.login_member.mb_nick }} 로그인 중 <a href="/bbs/logout">로그아웃</a></div>
<script>
    var admin_csrf_token_key = "";
    var tempX = 0;
    var tempY = 0;

    function imageview(id, w, h) {

        menu(id);

        var el_id = document.getElementById(id);

        //submenu = eval(name+".style");
        submenu = el_id.style;
        submenu.left = tempX - (w + 11);
        submenu.top = tempY - (h / 2);

        selectBoxVisible();

        if (el_id.style.display != 'none')
            selectBoxHidden(id);
    }
</script>

<div id="to_content"><a href="#container">본문 바로가기</a></div>



<script>
    jQuery(function($) {

        var menu_cookie_key = 'g6_admin_btn_gnb';

        $(".tnb_mb_btn").click(function() {
            $(".tnb_mb_area").toggle();
        });

        $("#btn_gnb").click(function() {

            var $this = $(this);

            try {
                if (!$this.hasClass("btn_gnb_open")) {
                    set_cookie(menu_cookie_key, 1, 60 * 60 * 24 * 365);
                } else {
                    delete_cookie(menu_cookie_key);
                }
            } catch (err) {}

            $("#hd").toggleClass("hd_small");
            $("#container").toggleClass("container-small");
            $("#gnb").toggleClass("gnb_small");
            $this.toggleClass("btn_gnb_open");

        });

        $(".gnb_ul li .btn_op").click(function() {
            $(this).parent().addClass("on").siblings().removeClass("on");
        });

    });
</script>

{% if errors %}
<div class="errors">
    {% for error in errors %}
        <li>{{ errors|safe }}</li>
    {% endfor %}
</div>
{% endif %}
<div id="tnb">
  <div id="hd_top">
    <button type="button" id="btn_gnb" class="btn_gnb_close ">메뉴</button>
    <div id="logo"><a href="/admin/"><img src="/static/admin/img/logo.png" alt="{{ request.state.title }} 관리자"></a></div>
</div>
  <ul>
      <!-- <li class="tnb_li"><a href="/shop/" class="tnb_shop" target="_blank" title="쇼핑몰 바로가기">쇼핑몰 바로가기</a></li> -->
      <li class="tnb_li"><a href="/" class="tnb_community" target="_blank" title="커뮤니티 바로가기">커뮤니티 바로가기</a></li>
      <li class="tnb_li"><a href="/admin/service" class="tnb_service">부가서비스</a></li>
      <li class="tnb_li"><button type="button" class="tnb_mb_btn">관리자<span class="./img/btn_gnb.png">메뉴열기</span></button>
          <ul class="tnb_mb_area">
              <li><a href="/admin/member_form?w=u&amp;mb_id=admin">관리자정보</a></li>
              <li id="tnb_logout"><a href="/bbs/logout">로그아웃</a></li>
          </ul>
      </li>
      <li class="tnb_li">
        <label id="darkmode_btn" class="toggle-switch light-mode">
          <input type="checkbox" id="dark-mode-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" class="visible bright" viewBox="0 0 20 20" fill="currentColor"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="visible dark" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path></svg>
        </label>
      </li>
  </ul>
</div>
<div id="wrapper">
  <header id="hd">
    <h1>{{ request.state.title }}</h1>
   
        <nav id="gnb" class="gnb_large ">
            <h2>관리자 주메뉴</h2>
            <ul class="gnb_ul">
                {% macro render_admin_menu(menu_key, submenus, loop_index) %}
                <li class="gnb_li {{ 'on' if request_menu_key == menu_key else '' }}">
                    <button type="button" class="btn_op menu-{{ menu_key }} menu-order-{{ loop_index }}" title="{{ submenus[0]['name'] }}">{{ submenus[0]['name'] }}</button>
                    <div class="gnb_oparea_wr">
                        <div class="gnb_oparea">
                            <!-- <h3>{{ submenus[0]['name'] }}</h3> -->
                            <ul>
                                {% for submenu in submenus[1:] %}
                                    <li data-menu="{{ submenu['id'] }}">
                                        <a href="/admin{{ submenu['url'] }}" class="gnb_2da">{{ submenu['name'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% endmacro %}
                
                {# 관리자 메뉴 #}
                {% set request_menu_key = request.session.get('menu_key', '')[:3] %}
                {% if get_admin_menus %}
                    {% set admin_menus=get_admin_menus() %}
                {% endif %}
                {% for menu_key, submenus in admin_menus.items() %}
                    {{ render_admin_menu(menu_key[4:], submenus, loop.index) }}
                {% endfor %}
        
                {# 플러그인 메뉴 #}
                {% set request_menu_key = request.session.get('menu_key', '') %}
                {% if get_admin_plugin_menus %}
                    {% set plugin_menus=get_admin_plugin_menus() %}
                {% endif %}
                    
                {% for plugin in plugin_menus %}
                    {% for menu_key, submenus in plugin.items() %}
                        {{ render_admin_menu(menu_key, submenus, loop.index) }}
                    {% endfor %}
                {% endfor %}
            </ul>
        </nav>

    </header>
    <div id="container" class="">
     
        <h1 id="container_title" class="container_title top">{% block subtitle %}관리자메인{% endblock subtitle %}</h1>
        <div class="container_wr top">
            {% block content %}{% endblock content %}
        </div>
        <footer id="ft">
            <p>
                Copyright &copy; {{ request.url.hostname }}. All rights reserved. Version {{ version }}<br>
                <button type="button" class="scroll_top"><span class="top_img"></span><span class="top_txt">TOP</span></button>
            </p>
        </footer>
    </div>
</div>

<script>
    $(".scroll_top").click(function() {
        $("body,html").animate({
            scrollTop: 0
        }, 400);
    })

</script>
<script>
  // 다크모드 설정
  const $checkbox = document.querySelector('#dark-mode-toggle');

  const isUserColorTheme = localStorage.getItem('color-theme');
  const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

  const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

  document.addEventListener('DOMContentLoaded', function () {
  const initialTheme = getUserTheme();
    if (initialTheme === 'dark') {
        $checkbox.checked = true;
        localStorage.setItem('color-theme', 'dark');
        document.documentElement.setAttribute('color-theme', 'dark');
    } else {
        $checkbox.checked = false;
        localStorage.setItem('color-theme', 'light');
        document.documentElement.setAttribute('color-theme', 'light');
    }
  }); 

  $checkbox.addEventListener('click', e => {
    if (e.target.checked) {
      localStorage.setItem('color-theme', 'dark');
      document.documentElement.setAttribute('color-theme', 'dark');
    } else {
      localStorage.setItem('color-theme', 'light');
      document.documentElement.setAttribute('color-theme', 'light');
    }
  });
</script>




<script src="/static/admin/admin.js"></script>
<script src="/static/js/jquery.anchorScroll.js"></script>
<script>
    $(function() {

        var admin_head_height = $("#hd_top").height() + $("#container_title").height() + 5;

        $("a[href^='#']").anchorScroll({
            scrollSpeed: 0, // scroll speed
            offsetTop: admin_head_height, // offset for fixed top bars (defaults to 0)
            onScroll: function() {
                // callback on scroll start
            },
            scrollEnd: function() {
                // callback on scroll end
            }
        });

        
        // 현재 페이지 메뉴 활성화
        const current_menu = "{{ request.session.get('menu_key', '') }}"
        current_menu_element = document.querySelector(`li[data-menu="${current_menu}"] > a`)
        if (current_menu_element) {
            current_menu_element.classList.add('on');
        }
        
        var hide_menu = false;
        var mouse_event = false;
        var oldX = oldY = 0;

        $(document).mousemove(function(e) {
            if (oldX == 0) {
                oldX = e.pageX;
                oldY = e.pageY;
            }

            if (oldX != e.pageX || oldY != e.pageY) {
                mouse_event = true;
            }
        });

        // 주메뉴
        var $gnb = $(".gnb_1dli > a");
        $gnb.mouseover(function() {
            if (mouse_event) {
                $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
                $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
                menu_rearrange($(this).parent());
                hide_menu = false;
            }
        });

        $gnb.mouseout(function() {
            hide_menu = true;
        });

        $(".gnb_2dli").mouseover(function() {
            hide_menu = false;
        });

        $(".gnb_2dli").mouseout(function() {
            hide_menu = true;
        });

        $gnb.focusin(function() {
            $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
            $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
            menu_rearrange($(this).parent());
            hide_menu = false;
        });

        $gnb.focusout(function() {
            hide_menu = true;
        });

        $(".gnb_2da").focusin(function() {
            $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
            var $gnb_li = $(this).closest(".gnb_1dli").addClass("gnb_1dli_over gnb_1dli_on");
            menu_rearrange($(this).closest(".gnb_1dli"));
            hide_menu = false;
        });

        $(".gnb_2da").focusout(function() {
            hide_menu = true;
        });

        $('#gnb_1dul>li').bind('mouseleave', function() {
            submenu_hide();
        });

        $(document).bind('click focusin', function() {
            if (hide_menu) {
                submenu_hide();
            }
        });

        // 폰트 리사이즈 쿠키있으면 실행
        var font_resize_act = get_cookie("ck_font_resize_act");
        if (font_resize_act != "") {
            font_resize("container", font_resize_act);
        }
    });

    function submenu_hide() {
        $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
    }

    function menu_rearrange(el) {
        var width = $("#gnb_1dul").width();
        var left = w1 = w2 = 0;
        var idx = $(".gnb_1dli").index(el);

        for (i = 0; i <= idx; i++) {
            w1 = $(".gnb_1dli:eq(" + i + ")").outerWidth();
            w2 = $(".gnb_2dli > a:eq(" + i + ")").outerWidth(true);

            if ((left + w2) > width) {
                el.removeClass("gnb_1dli_over").addClass("gnb_1dli_over2");
            }

            left += w1;
        }
    }
</script>
{% endblock body_html %}
