{% extends "base_sub.html" %}

{% block body_html %}
<div id="hd_login_msg">{{ request.state.login_member.mb_nick }} 로그인 중 <a href="{{ url_for('logout') }}">로그아웃</a></div>
<script>
    var admin_csrf_token_key = "";
</script>

<div id="to_content"><a href="#container">본문 바로가기</a></div>

<script>
    jQuery(function($) {
        const menu_cookie_key = 'g6_admin_btn_gnb';

        $(".tnb_mb_btn").click(function() {
            $(".tnb_mb_area").toggle();
        });

        $("#btn_gnb").click(function() {
            var $this = $(this);

            try {
                if (!$this.hasClass("btn_gnb_open")) {
                    set_cookie(menu_cookie_key, 1, 60 * 60 * 24 * 365);
                } else {
                    delete_cookie(menu_cookie_key);
                }
            } catch (err) {}

            $("#hd").toggleClass("hd_small");
            $("#container").toggleClass("container-small");
            $("#gnb").toggleClass("gnb_small");
            $this.toggleClass("btn_gnb_open");

        });

        $("#gnb .gnb_btn").click(function() {
            $(".gnb_li").removeClass("on");
            $(this).parents(".gnb_li").addClass("on");
        });
    });
</script>

{% if errors %}
<div class="errors">
    {% for error in errors %}
        <li>{{ errors|safe }}</li>
    {% endfor %}
</div>
{% endif %}

<div id="tnb">

    <div id="hd_top">
        <button type="button" id="btn_gnb" class="btn_gnb_close "><span class="blind">메뉴</span></button>
        <div id="logo"><a href="{{ url_for('admin_index') }}"><img src="{{ url_for('static', path='/admin/img/logo.png') }}" alt="{{ request.state.title }} 관리자"></a></div>
    </div>

    <ul>
        <!-- <li class="tnb_li"><a href="/shop/" class="tnb_shop" target="_blank" title="쇼핑몰 바로가기">쇼핑몰 바로가기</a></li> -->
        <li class="tnb_li"><a href="{{ url_for('index') }}" class="tnb_community" target="_blank" title="커뮤니티 바로가기"><span class="blind">커뮤니티 바로가기</span></a></li>
        <li class="tnb_li"><a href="{{ url_for('service_view') }}" class="tnb_service">부가서비스</a></li>
        <li class="tnb_li"><button type="button" class="tnb_mb_btn">관리자<span class="./img/btn_gnb.png">메뉴열기</span></button>
            <ul class="tnb_mb_area">
                <li><a href="{{ url_for('member_form') }}?w=u&amp;mb_id=admin">관리자정보</a></li>
                <li id="tnb_logout"><a href="{{ url_for('logout') }}">로그아웃</a></li>
            </ul>
        </li>
        <li class="tnb_li">
        <button type="button" class="darkmode-toggle-switch">
            <i class="fa-solid fa-moon visible bright"></i>
            <i class="fa-solid fa-sun visible dark"></i>
        </button>
        </li>
    </ul>

</div>

<div id="wrapper">
    <header id="hd">

        <h1>{{ request.state.title }}</h1>

        <nav id="gnb_wrapper">

            <h2 class="blind">관리자 주메뉴</h2>

            <style>
                @media (max-width:1100px) {

                    /* 이 곳에 위치해야 하는 코드입니다. */
                    {% for i in range(2, 10) %}
                    .gnb_li:nth-child({{ i }}) .gnb_btn {
                        margin:0 0 0 {{ i*56 - 56 }}px;
                    }
                    {% endfor %}

                }
            </style>

            <ul id="gnb">

            {% macro render_admin_menu(menu_key, submenus, loop_index) %}
                <li class="gnb_li {{ 'on' if request_menu_key == menu_key else '' }}">

                    <button type="button" class="gnb_btn menu_{{ menu_key }} menu_order_{{ loop_index }}" title="{{ submenus[0]['name'] }}">
                        <span class="blind_mo">{{ submenus[0]['name'] }}</span>
                    </button>

                    <ul class="gnb_sub">
                    {% for submenu in submenus[1:] %}
                        <li class="gnb_sub_li current_{{ submenu['id'] }}">
                            <a href="{{ url_for('admin_index') }}{{ submenu['url'] }}" class="gnb_sub_link">{{ submenu['name'] }}</a>
                        </li>
                    {% endfor %}
                    </ul>

                </li>
            {% endmacro %}

            {# 관리자 메뉴 #}
            {% set request_menu_key = request.session.get('menu_key', '')[:3] %}
            {% if get_admin_menus %}
                {% set admin_menus=get_admin_menus() %}
            {% endif %}
            {% for menu_key, submenus in admin_menus.items() %}
                {{ render_admin_menu(menu_key[4:], submenus, loop.index) }}
            {% endfor %}
    
            {# 플러그인 메뉴 #}
            {% set request_menu_key = request.session.get('menu_key', '') %}
            {% if get_admin_plugin_menus %}
                {% set plugin_menus=get_admin_plugin_menus() %}
            {% endif %}
                
            {% for plugin in plugin_menus %}
                {% set plugin_menu_index = loop.index0 + 4 %}  {# 플러그인 메뉴순서는 4번 부터 시작한다. #}
                {% for menu_key, submenus in plugin.items() %}
                    {{ render_admin_menu(menu_key, submenus, plugin_menu_index) }}
                {% endfor %}
            {% endfor %}

            </ul>

        </nav>

    </header>

    <div id="container" class="">
     
        <h1 id="container_title" class="container_title top">{% block subtitle %}관리자메인{% endblock subtitle %}</h1>
        <div class="container_wr top">
            {% block content %}{% endblock content %}
        </div>
        <footer id="ft">
            <p>
                Copyright &copy; {{ request.url.hostname }}. All rights reserved. Version {{ version }}<br>
                <button type="button" class="scroll_top"><span class="top_img"></span><span class="top_txt">TOP</span></button>
            </p>
        </footer>
    </div>
</div>

<script>
    $(".scroll_top").click(function() {
        $("body,html").animate({
            scrollTop: 0
        }, 400);
    })
</script>

<script src="{{ url_for('static', path='/admin/admin.js?ver=1.0.0') }}" ></script>
<script src="{{ url_for('static', path='/js/jquery.anchorScroll.js?ver=1.0.0') }}" ></script>
<script>
    $(function() {

        var admin_head_height = $("#hd_top").height() + $("#container_title").height() + 5;

        $("a[href^='#']").anchorScroll({
            scrollSpeed: 0, // scroll speed
            offsetTop: admin_head_height, // offset for fixed top bars (defaults to 0)
            onScroll: function() {
                // callback on scroll start
            },
            scrollEnd: function() {
                // callback on scroll end
            }
        });

        // 현재 페이지 메뉴 활성화
        const current_menu = "{{ request.session.get('menu_key', '') }}"
        const $current_menu_element = $(".current_" + current_menu);
        if ($current_menu_element) {
            $current_menu_element.children(".gnb_sub_link").addClass("on");
        }

        // 폰트 리사이즈 쿠키있으면 실행
        var font_resize_act = get_cookie("ck_font_resize_act");
        if (font_resize_act != "") {
            font_resize("container", font_resize_act);
        }
    });
</script>
{% endblock body_html %}
