<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}관리자 base{% endblock title %} | {{ request.state.title }}</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/admin/admin.css">
<link rel="stylesheet" href="{{ theme_asset(request, 'js/font-awesome/css/font-awesome.min.css?ver=4.7.0') }}">
<script>
// 자바스크립트에서 사용하는 전역변수 선언
const g6_url       = "{{ request.base_url }}";
const g6_bbs_url   = "{{ request.base_url }}bbs";
const g6_is_member = "{{ 1 if request.state.login_member else '' }}";
const g6_is_mobile = "{{ 1 if request.state.is_mobile else '' }}";
const g6_editor    = "{{ request.state.editor }}";
const g6_cookie_domain = "{{ request.state.cookie_domain }}";
const g6_shop_url = "{{ request.base_url }}shop";
</script>
<script src="/static/js/jquery.min.js?ver=3.7.1"></script>
<script src="/static/js/jquery-migrate.min.js?ver=3.4.0"></script>
<script src="/static/js/jquery.menu.js"></script>
<script src="/static/js/common.js"></script>
{% block head -%}
{% endblock head -%}
{% include "plugin_menu_header.html" %}
</head>
<body>
{% block body_html %}
    {% block content %}
    {% endblock content %}
{% endblock body_html %}
</body>
</html>
