{% extends "base.html" %}

{% block title %}게시판 관리{% endblock title %}
{% block subtitle %}게시판 관리{% endblock subtitle %}

{% block content %}
    {% set sfl = request.query_params.get("sfl", "") %}
    {% set stx = request.query_params.get("stx", "") %}

    <div class="local_ov01 local_ov">
        <a href="/admin/board_list" class="ov_listall">전체목록</a>    
        <span class="btn_ov01"><span class="ov_txt">생성된 게시판수</span><span class="ov_num"> {{ total_count|number_format }}개</span></span>
    </div>

    <form name="fsearch" id="fsearch" class="local_sch01 local_sch" method="get">
        <label for="sfl" class="sound_only">검색대상</label>
        <select name="sfl" id="sfl">
        <option value="bo_subject" {{ get_selected('bo_subject', sfl) }}>제목</option>
        <option value="bo_table" {{ get_selected('bo_table', sfl) }}>TABLE</option>
        <option value="gr_id" {{ get_selected('gr_id', sfl) }}>그룹ID</option>
        </select>
        <label for="stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
        <input type="text" name="stx" value="{{ stx }}" id="stx" required class="required frm_input">
        <input type="submit" value="검색" class="btn_submit">   
    </form>

    <form name="fboardlist" id="fboardlist" action="/admin/board_list_update" onsubmit="return fboardlist_submit(this);" method="post">
        <input type="hidden" name="token" value="">
        <div class="tbl_head01 tbl_wrap">
            <table>
                <caption>게시판관리 목록</caption>
                <thead>
                    <tr>
                        <th scope="col">
                            <label for="chkall" class="sound_only">게시판 전체</label>
                            <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                        </th>
                        <th scope="col">{{ subject_sort_link(request, 'gr_id')|safe }}그룹</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_table')|safe }}TABLE</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_skin')|safe }}스킨</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_mobile_skin')|safe }}모바일<br>스킨</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_subject')|safe }}제목</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_read_point')|safe }}읽기P<span class="sound_only">포인트</span></a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_write_point')|safe }}쓰기P<span class="sound_only">포인트</span></a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_comment_point')|safe }}댓글P<span class="sound_only">포인트</span></a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_download_point')|safe }}다운P<span class="sound_only">포인트</span></a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_use_sns')|safe }}SNS<br>사용</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_use_search')|safe }}검색<br>사용</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_order')|safe }}출력<br>순서</a></th>
                        <th scope="col">{{ subject_sort_link(request, 'bo_device')|safe }}접속기기</a></th>
                        <th scope="col">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                    <tr class="bg{{ loop.cycle('0', '1') }}">
                        <td class="td_chk">
                            <label for="chk_{{ loop.index0 }}" class="sound_only">{{ board.bo_subject }}</label>
                            <input type="checkbox" name="chk[]" value="{{ loop.index0 }}" id="chk_{{ loop.index0 }}">
                        </td>
                        <td>
                            {{ get_group_select('gr_id[]', board.gr_id, 'required')|safe }}
                        </td>
                        <td>
                            <input type="hidden" name="bo_table[]" value="{{ board.bo_table }}">
                            <a href="/board/{{ board.bo_table }}">{{ board.bo_table }}</a>
                        </td>
                        <td>
                            <label for="bo_skin[{{ loop.index0 }}]" class="sound_only">스킨</label>
                            {{ get_skin_select('board', 'bo_skin[]', board.bo_skin, attribute='required')|safe }}
                        </td>
                        <td>
                            <label for="bo_mobile_skin[]" class="sound_only">모바일 스킨</label>
                            {{ get_skin_select('board', 'bo_mobile_skin[]', board.bo_mobile_skin, device='mobile')|safe }}
                        </td>
                        <td>
                            <label for="bo_subject_{{ loop.index0 }}" class="sound_only">게시판 제목<strong class="sound_only"> 필수</strong></label>
                            <input type="text" name="bo_subject[]" value="{{ board.bo_subject }}" id="bo_subject_{{ loop.index0 }}" required class="required tbl_input bo_subject full_input" size="10">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_read_point_{{ loop.index0 }}" class="sound_only">읽기 포인트</label>
                            <input type="text" name="bo_read_point[]" value="{{ board.bo_read_point }}" id="bo_read_point_{{ loop.index0 }}" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_write_point_{{ loop.index0 }}" class="sound_only">쓰기 포인트</label>
                            <input type="text" name="bo_write_point[]" value="{{ board.bo_write_point }}" id="bo_write_point_{{ loop.index0 }}" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_comment_point_{{ loop.index0 }}" class="sound_only">댓글 포인트</label>
                            <input type="text" name="bo_comment_point[]" value="{{ board.bo_comment_point }}" id="bo_comment_point_{{ loop.index0 }}" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_download_point_{{ loop.index0 }}" class="sound_only">다운<br>포인트</label>
                            <input type="text" name="bo_download_point[]" value="{{ board.bo_download_point }}" id="bo_download_point_{{ loop.index0 }}" class="tbl_input" size="2">
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_use_sns_{{ loop.index0 }}" class="sound_only">SNS<br>사용</label>
                            <input type="checkbox" name="bo_use_sns[]" value="{{ loop.index0 }}" id="bo_use_sns_{{ loop.index0 }}" {{ 'checked' if board.bo_use_sns }}>
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_use_search_{{ loop.index0 }}" class="sound_only">검색<br>사용</label>
                            <input type="checkbox" name="bo_use_search[]" value="{{ loop.index0 }}" id="bo_use_search_{{ loop.index0 }}" {{ 'checked' if board.bo_use_search }}>
                        </td>
                        <td class="td_numsmall">
                            <label for="bo_order_{{ loop.index0 }}" class="sound_only">출력<br>순서</label>
                            <input type="text" name="bo_order[]" value="{{ board.bo_order }}" id="bo_order_{{ loop.index0 }}" class="tbl_input" size="2">
                        </td>
                        <td class="td_mngsmall">
                            <label for="bo_device_{{ loop.index0 }}" class="sound_only">접속기기</label>
                            <select id="bo_device_{{ loop.index0 }}" name="bo_device[]">
                                <option value="both" {{ get_selected(board.bo_device, 'both') }}>모두</option>
                                <option value="pc" {{ get_selected(board.bo_device, 'pc') }}>PC</option>
                                <option value="mobile" {{ get_selected(board.bo_device, 'mobile') }}>모바일</option>
                            </select>
                        </td>
                        <td class="td_mng td_mng_m">
                            <a href="/admin/board_form/{{ board.bo_table }}?{{ request.query_params }}" class="btn btn_03">수정</a>                            
                            <a href="/admin/board_copy/{{ board.bo_table }}" class="board_copy btn btn_02" target="win_board_copy">복사</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr><td colspan="15">자료가 없습니다.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <input type="submit" name="act_button" value="선택수정" onclick="document.pressed=this.value" class="btn_02 btn">
            <input type="submit" name="act_button" value="선택삭제" onclick="document.pressed=this.value" class="btn_02 btn">
            <a href="/admin/board_form" id="bo_add" class="btn_01 btn">게시판 추가</a>
        </div>
    </form>

    {{ paging|safe }}

    <script>
    function fboardlist_submit(f) {
        if (!is_checked("chk[]")) {
            alert(document.pressed + " 하실 항목을 하나 이상 선택하세요.");
            return false;
        }

        if (document.pressed == "선택삭제") {
            if (!confirm("선택한 자료를 정말 삭제하시겠습니까?")) {
                return false;
            }

            f.action = "/admin/board_list_delete";
        }

        f.token.value = generate_token();
        f.action += "?{{ request.query_params|safe }}";

        return true;
    }

    $(function() {
        $(".board_copy").click(function() {
            window.open(this.href, "win_board_copy", "left=100,top=100,width=550,height=450");
            return false;
        });
    });
    </script>
{% endblock content %}
