{% extends "base.html" %}

{% block title %}회원메일발송 보내기{% endblock title %}
{% block subtitle %}회원메일발송 보내기{% endblock subtitle %}

{% block content %}

<div class="local_ov01 local_ov">
    전체회원 {{ member_count|number_format }}명 , 탈퇴대기회원 {{ leave_count|number_format }}명,
    정상회원 {{ (member_count - leave_count)|number_format }}명 중 메일 발송 대상 선택
</div>

<form name="frmsendmailselectform" method="post" action="/admin/mail_select_list" onsubmit="return frmsendmailselectform_submit(this);" autocomplete="off">
    <input type="hidden" name="ma_id" value="{{ mail.ma_id }}">
    <input type="hidden" name="token" value="">

    <div class="tbl_frm01 tbl_wrap">
        <table>
            <tbody>
                <tr>
                    <th scope="row">회원 ID</th>
                    <td>
                        <input type="radio" name="mb_id1" value="1" id="mb_id1_all" {{ 'checked' if mb_id1 else '' }}> <label for="mb_id1_all">전체</label>
                        <input type="radio" name="mb_id1" value="0" id="mb_id1_section" {{ 'checked' if not mb_id1 else '' }}> <label for="mb_id1_section">구간</label>
                        <input type="text" name="mb_id1_from" value="{{ mb_id1_from }}" id="mb_id1_from" title="시작구간" class="frm_input"> 에서
                        <input type="text" name="mb_id1_to" value="{{ mb_id1_to }}" id="mb_id1_to" title="종료구간" class="frm_input"> 까지
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="mb_email">E-mail</label></th>
                    <td>
                        <div class="frm_info">메일 주소에 단어 포함 (예 : @{{ cleaned_host }})</div>
                        <input type="text" name="mb_email" value="{{ mb_email }}" id="mb_email" class="frm_input" size="50">
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="mb_mailling">메일링</label></th>
                    <td>
                        <select name="mb_mailling" id="mb_mailling">
                            <option value="1">수신동의한 회원만</option>
                            <option value="">전체</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">권한</th>
                    <td>
                        <label for="mb_level_from" class="sound_only">최소권한</label>
                        {{ get_member_level_select('mb_level_from', 1, 10, 1)|safe }} 에서
                        <label for="mb_level_to" class="sound_only">최대권한</label>
                        {{ get_member_level_select('mb_level_to', 1, 10, 10)|safe }} 까지
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="gr_id">게시판그룹회원</label></th>
                    <td>
                        {{ get_group_select('gr_id')|safe }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn_confirm01 btn_confirm">
        <input type="submit" value="확인" class="btn_submit">
        <a href="/admin/mail_list">목록 </a>
    </div>
</form>

<script>
    function frmsendmailselectform_submit(f) {
        f.token.value = generate_token();
        if (!f.token.value) {
            alert("토큰 생성에 실패하였습니다.");
            return false;
        }

        return true;
    }
</script>

{% endblock content %}