{% extends "base.html" %}

{% block head %}
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" async></script>
{% endblock head %}

{% block title %}회원관리{% endblock title %}
{% block subtitle %}회원 {{ '수정' if member else '추가' }}{% endblock subtitle %}

{% block content %}
<form name="fmember" id="fmember" action="/admin/member_form_update" onsubmit="return fmember_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off">
<input type="hidden" name="token" value="">

<div class="tbl_frm01 tbl_wrap">
    <table>
        <caption>회원 {{ '수정' if member else '추가' }}</caption>
        <colgroup>
            <col class="grid_4">
            <col>
            <col class="grid_4">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th scope="row"><label for="mb_id">아이디<strong class="sound_only">필수</strong></label></th>
                <td>
                    {% if member.mb_id %}
                        <input type="hidden" name="mb_id" value="{{ member.mb_id }}" id="mb_id">
                        <b>{{ member.mb_id }}</b>
                        <a href="/admin/boardgroupmember_form/{{ member.mb_id }}" class="btn_frmline">접근가능그룹보기</a>
                    {% else %}
                        <input type="text" name="mb_id" value="" id="mb_id" required class="frm_input required alnum_" size="15" maxlength="20">
                    {% endif %}
                </td>
                <th scope="row"><label for="mb_password">비밀번호<strong class="sound_only">필수</strong></label></th>
                <td>
                    <div>
                    {% set mb_password_required = 'required' if not member else '' %}
                    <input type="password" name="mb_password" id="mb_password" class="frm_input {{ mb_password_required }}" size="15" maxlength="20" {{ mb_password_required }}>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_name">이름(실명)<strong class="sound_only">필수</strong></label></th>
                <td><input type="text" name="mb_name" value="{{ member.mb_name }}" id="mb_name" required class="required frm_input" size="15" maxlength="20"></td>
                <th scope="row"><label for="mb_nick">닉네임<strong class="sound_only">필수</strong></label></th>
                <td><input type="text" name="mb_nick" value="{{ member.mb_nick }}" id="mb_nick" required class="required frm_input" size="15" maxlength="20"></td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_level">회원 권한</label></th>
                <td>
                    {{ get_member_level_select('mb_level', 2, 10, member.mb_level)|safe }}
                </td>
                <th scope="row">포인트</th>
                <td>
                    {% if member %}
                        <a href="/admin/point_list?sfl=mb_id&stx={{ member.mb_id }}" target="_blank">{{ member.mb_point|number_format }}</a> 점
                    {% else %}
                        <a href="/admin/config_form#anc_cf_join" target="_blank">{{ request.state.config.cf_register_point }}</a> 점
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_email">E-mail<strong class="sound_only">필수</strong></label></th>
                <td><input type="text" name="mb_email" value="{{ member.mb_email }}" id="mb_email" maxlength="100" required class="required frm_input email" size="30"></td>
                <th scope="row"><label for="mb_homepage">홈페이지</label></th>
                <td><input type="text" name="mb_homepage" value="{{ member.mb_homepage }}" id="mb_homepage" class="frm_input" maxlength="255" size="15"></td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_hp">휴대폰번호</label></th>
                <td><input type="text" name="mb_hp" value="{{ member.mb_hp }}" id="mb_hp" class="frm_input" size="15" maxlength="20"></td>
                <th scope="row"><label for="mb_tel">전화번호</label></th>
                <td><input type="text" name="mb_tel" value="{{ member.mb_tel }}" id="mb_tel" class="frm_input" size="15" maxlength="20"></td>
            </tr>
            <tr>
                <th scope="row">본인확인방법</th>
                <td>
                    {% if member.mb_certify == '' %}미인증{% endif %}
                    {% if member.mb_certify == 'simple' %}간편인증{% endif %}
                    {% if member.mb_certify == 'hp' %}휴대폰{% endif %}
                    {% if member.mb_certify == 'ipin' %}아이핀{% endif %}
                {#<input type="radio" name="mb_certify_case" value="simple" id="mb_certify_sa" {{ 'checked' if member.mb_certify == 'simple' }}>
                    <label for="mb_certify_sa">간편인증</label>
                    <input type="radio" name="mb_certify_case" value="hp" id="mb_certify_hp" {{ 'checked' if member.mb_certify == 'hp' }}>
                    <label for="mb_certify_hp">휴대폰</label>
                    <input type="radio" name="mb_certify_case" value="ipin" id="mb_certify_ipin" {{ 'checked' if member.mb_certify == 'ipin' }}>
                    <label for="mb_certify_ipin">아이핀</label>#}
                </td>
            {#</tr>
            <tr>
                <th scope="row">본인확인</th>
                <td>
                    <input type="radio" name="mb_certify" value="1" id="mb_certify_yes" {{ 'checked' if member.mb_certify else '' }}>
                    <label for="mb_certify_yes">예</label>
                    <input type="radio" name="mb_certify" value="0" id="mb_certify_no" {{ 'checked' if not member.mb_certify else '' }}>
                    <label for="mb_certify_no">아니오</label>
                </td>#}
                <th scope="row">성인인증</th>
                <td>
                    {#<input type="radio" name="mb_adult" value="1" id="mb_adult_yes" {{ 'checked' if member.mb_adult }}>
                    <label for="mb_adult_yes">예</label>
                    <input type="radio" name="mb_adult" value="0" id="mb_adult_no" {{ 'checked' if not member.mb_adult }}>
                    <label for="mb_adult_no">아니오</label>#}
                    {{ '예' if member.mb_adult else '아니오' }}
                </td>
            </tr>
            <tr>
                <th scope="row">주소</th>
                <td colspan="3" class="td_addr_line">
                    <label for="mb_zip" class="sound_only">우편번호</label>
                    <input type="text" name="mb_zip" value="{{ member.mb_zip1 ~ member.mb_zip2 }}" id="mb_zip" class="frm_input readonly" size="5" maxlength="6">
                    <button type="button" class="btn_frmline" onclick="win_zip('fmember', 'mb_zip', 'mb_addr1', 'mb_addr2', 'mb_addr3', 'mb_addr_jibeon');">주소 검색</button><br>
                    <input type="text" name="mb_addr1" value="{{ member.mb_addr1 }}" id="mb_addr1" class="frm_input readonly" size="60">
                    <label for="mb_addr1">기본주소</label><br>
                    <input type="text" name="mb_addr2" value="{{ member.mb_addr2 }}" id="mb_addr2" class="frm_input" size="60">
                    <label for="mb_addr2">상세주소</label>
                    <br>
                    <input type="text" name="mb_addr3" value="{{ member.mb_addr3 }}" id="mb_addr3" class="frm_input" size="60">
                    <label for="mb_addr3">참고항목</label>
                    <input type="hidden" name="mb_addr_jibeon" value=""><br>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_icon">회원아이콘</label></th>
                <td colspan="3">
                    <span class="frm_info">이미지 크기는 <strong>넓이 22픽셀 높이 22픽셀</strong>로 해주세요.</span>
                    <input type="file" name="mb_icon" id="mb_icon">
                    {% if member.mb_icon %}
                        <img src="{{ member.mb_icon|safe }}" title="{{ member.mb_id }}님 회원아이콘" target="_blank" 
                            width="{{ request.state.config.cf_member_icon_width }}" height="{{ request.state.config.cf_member_icon_height }}">
                        <label><input type="checkbox" name="del_mb_icon" value="1" id="del_mb_icon"> 삭제</label>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_img">회원이미지</label></th>
                <td colspan="3">
                    <span class="frm_info">이미지 크기는 <strong>넓이 60픽셀 높이 60픽셀</strong>로 해주세요.</span>
                    <input type="file" name="mb_img" id="mb_img">
                    {% if member.mb_img %}
                        <img src="{{ member.mb_img|safe }}" title="{{ member.mb_id }}님 회원아이콘" target="_blank"
                            width="{{ request.state.config.cf_member_img_width }}" height="{{ request.state.config.cf_member_img_height }}">>
                        <label><input type="checkbox" name="del_mb_icon" value="1" id="del_mb_icon"> 삭제</label>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">메일 수신</th>
                <td>
                    <input type="radio" name="mb_mailling" value="1" id="mb_mailling_yes" {{ 'checked' if member.mb_mailling }}>
                    <label for="mb_mailling_yes">예</label>
                    <input type="radio" name="mb_mailling" value="0" id="mb_mailling_no" {{ 'checked' if not member.mb_mailling }}>
                    <label for="mb_mailling_no">아니오</label>
                </td>
                <th scope="row"><label for="mb_sms_yes">SMS 수신</label></th>
                <td>
                    <input type="radio" name="mb_sms" value="1" id="mb_sms_yes" {{ 'checked' if member.mb_sms }}>
                    <label for="mb_sms_yes">예</label>
                    <input type="radio" name="mb_sms" value="0" id="mb_sms_no" {{ 'checked' if not member.mb_sms }}>
                    <label for="mb_sms_no">아니오</label>
                </td>
            </tr>
            <tr>
                <th scope="row">정보 공개</th>
                <td colspan="3">
                    <input type="radio" name="mb_open" value="1" id="mb_open_yes" {{ 'checked' if member.mb_open }}>
                    <label for="mb_open_yes">예</label>
                    <input type="radio" name="mb_open" value="0" id="mb_open_no" {{ 'checked' if not member.mb_open }}>
                    <label for="mb_open_no">아니오</label>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_signature">서명</label></th>
                <td colspan="3"><textarea name="mb_signature" id="mb_signature">{{ member.mb_signature }}</textarea></td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_profile">자기 소개</label></th>
                <td colspan="3"><textarea name="mb_profile" id="mb_profile">{{ member.mb_profile }}</textarea></td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_memo">메모</label></th>
                <td colspan="3"><textarea name="mb_memo" id="mb_memo">{{ member.mb_memo }}</textarea></td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_cert_history">본인인증 내역</label></th>
                <td colspan="3">본인인증 내역이 없습니다.</td>
            </tr>
            <tr>
                <th scope="row"><label for="mb_leave_date">탈퇴일자</label></th>
                <td>
                    <input type="text" name="mb_leave_date" value="{{ member.mb_leave_date }}" id="mb_leave_date" class="frm_input" maxlength="8">
                    <input type="checkbox" value="{{ today }}" id="mb_leave_date_set_today" onclick="if (this.form.mb_leave_date.value==this.form.mb_leave_date.defaultValue) { this.form.mb_leave_date.value=this.value; } else { this.form.mb_leave_date.value=this.form.mb_leave_date.defaultValue; }">
                    <label for="mb_leave_date_set_today">탈퇴일을 오늘로 지정</label>
                </td>
                <th scope="row">접근차단일자</th>
                <td>
                    <input type="text" name="mb_intercept_date" value="{{ member.mb_intercept_date }}" id="mb_intercept_date" class="frm_input" maxlength="8">
                    <input type="checkbox" value="{{ today }}" id="mb_intercept_date_set_today" onclick="if (this.form.mb_intercept_date.value==this.form.mb_intercept_date.defaultValue) { this.form.mb_intercept_date.value=this.value; } else { this.form.mb_intercept_date.value=this.form.mb_intercept_date.defaultValue; }">
                    <label for="mb_intercept_date_set_today">접근차단일을 오늘로 지정</label>
                </td>
            </tr>
            {% for i in range(1, 11) %}
            <tr>
                <th scope="row"><label for="mb_{{ i }}">여분 필드 {{ i }}</label></th>
                <td colspan="3"><input type="text" name="mb_{{ i }}" value="{{ getattr(member, 'mb_' ~ i) if member else "" }}" id="mb_{{ i }}" class="frm_input" size="30" maxlength="255"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn_fixed_top">
        <a href="/admin/member_list?sst=&amp;sod=&amp;sfl=&amp;stx=&amp;page=" class="btn btn_02">목록</a>
        <input type="submit" value="확인" class="btn_submit btn" accesskey='s'>
    </div>
</form>

<script>
    function check_member_id(mb_id) {
        return fetch(`/admin/check_member_id/${mb_id}`)
            .then(response => response.json())
            .then(data => data.result === 'exists')
            .catch(error => {
                console.error('Error:', error);
                return false;
            });
    }
    
    function fmember_submit(f) {
        if (!f.mb_icon.value.match(/\.(gif)$/i) && f.mb_icon.value) {
            alert('아이콘은 gif 파일만 가능합니다.');
            return false;
        }

        if (!f.mb_img.value.match(/\.(gif|jpe?g|png)$/i) && f.mb_img.value) {
            alert('회원이미지는 이미지 파일만 가능합니다.');
            return false;
        }

        {% if not member.mb_id %}
        // 아이디 중복 검증
        var mb_id = f.mb_id.value;
        var is_duplicated = false; // 중복 상태를 저장하는 변수
        
        $.ajax({
            <!-- url: '/admin/check_member_id/'+mb_id, -->
            url: `/admin/check_member_id/${mb_id}`,
            type: 'GET',
            async: false,
            cache: false,
            success: function(data) {
                if (data.result === 'exists') {
                    alert('이미 존재하는 회원아이디입니다.');
                    is_duplicated = true;
                }
            },
            error: function(error) {
                console.error('Error:', error);
                alert('회원아이디 중복 검증 중 에러가 발생했습니다.')
                is_duplicated = true; // 에러가 발생하면 중복 상태로 간주
            }
        });
        if (is_duplicated) {
            f.mb_id.focus();
            return false; // 중복이거나 에러가 발생한 경우 폼 제출 중지
        }
        {% endif %}

        // 닉네임 중복 검증
        if (f.mb_nick.value != '' && f.mb_nick.value != f.mb_nick.defaultValue) {
            var mb_id = f.mb_id.value;
            var mb_nick = f.mb_nick.value
            var is_duplicated = false; // 중복 상태를 저장하는 변수

            $.ajax({
                url: `/admin/check_member_nick/${mb_nick}/${mb_id}`,
                type: 'GET',
                async: false,
                cache: false,
                success: function(data) {
                    if (data.result === 'exists') {
                        alert('중복된 닉네임입니다.');
                        is_duplicated = true;
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                    alert('닉네임 중복 검증 중 에러가 발생했습니다.')
                    is_duplicated = true; // 에러가 발생하면 중복 상태로 간주
                }
            });
        }
        if (is_duplicated) {
            f.mb_nick.focus();
            return false; // 중복이거나 에러가 발생한 경우 폼 제출 중지
        }

        // 이메일 중복 검증
        if (f.mb_email.value != '' && f.mb_email.value != f.mb_email.defaultValue) {
            var mb_id = f.mb_id.value;
            var mb_email = f.mb_email.value
            var is_duplicated = false; // 중복 상태를 저장하는 변수

            $.ajax({
                url: `/admin/check_member_email/${mb_email}/${mb_id}`,
                type: 'GET',
                async: false,
                cache: false,
                success: function(data) {
                    if (data.result === 'exists') {
                        alert('중복된 이메일 주소입니다.');
                        is_duplicated = true;
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                    alert('이메일 중복 검증 중 에러가 발생했습니다.')
                    is_duplicated = true; // 에러가 발생하면 중복 상태로 간주
                }
            });
        }
        if (is_duplicated) {
            f.mb_email.focus();
            return false; // 중복이거나 에러가 발생한 경우 폼 제출 중지
        }

        f.token.value = generate_token();
        f.action += "?{{ request.query_params|safe }}";

        return true;
    }
</script>
{% endblock content %}