<div class="tbl_frm01 tbl_wrap">
    <table>
        <colgroup>
            <col class="grid_2">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th scope="row"><label for="me_name">메뉴<strong class="sound_only"> 필수</strong></label></th>
                <td><input type="text" name="me_name" id="me_name" required class="frm_input required"></td>
            </tr>
            <tr>
                <th scope="row"><label for="me_link">링크<strong class="sound_only"> 필수</strong></label></th>
                <td>
                    <span class="frm_info">링크는 http://를 포함해서 입력해 주세요.</span>
                    <input type="text" name="me_link" id="me_link" required class="frm_input full_input required">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn_win02 btn_win">
    <button type="button" id="add_manual" class="btn_submit btn">추가</button>
    <button type="button" class="btn_02 btn" onclick="window.close();">창닫기</button>
</div>