{% extends "base.html" %}
{% import editor_macro(request) as editor %}
{% set action_text='수정' if newwin else '입력' %}

{% block head %}
    {% include "datepicker.html" %}
    {{ editor.head() }}
{% endblock head %}
{% block title %}팝업레이어 {{ action_text }}{% endblock title %}
{% block subtitle %}팝업레이어 {{ action_text }}{% endblock subtitle %}

{% block content %}
    <form name="frmnewwin" action="{{ url_for('newwin_form_update') }}" onsubmit="return frmnewwin_check(this);" method="post" autocomplete="off">
        <input type="hidden" name="nw_id" value="{{ newwin.nw_id }}">
        <input type="hidden" name="token" value="">

        <div class="local_desc01 local_desc">
            <p>초기화면 접속 시 자동으로 뜰 팝업레이어를 설정합니다.</p>
        </div>

        <div class="tbl_frm01 tbl_wrap">
            <table>
                <caption>팝업레이어 {{ action_text }}</caption>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="nw_division">구분</label></th>
                        <td>
                            <span class="frm_info">커뮤니티에 표시될 것인지 쇼핑몰에 표시될 것인지를 설정합니다.</span>
                            <select name="nw_division" id="nw_division">
                                <option value="comm" {{ get_selected('newwin.nw_division', 'comm') }}>커뮤니티</option>
                                <option value="both" {{ get_selected('newwin.nw_division', 'both') }}>커뮤니티와 쇼핑몰</option>
                                <option value="shop" {{ get_selected('newwin.nw_division', 'shop') }}>쇼핑몰</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_device">접속기기</label></th>
                        <td>
                            <span class="frm_info">팝업레이어가 표시될 접속기기를 설정합니다.</span>
                            <select name="nw_device" id="nw_device">
                                <option value="both" {{ get_selected('newwin.nw_device', 'both') }} >PC와 모바일</option>
                                <option value="pc" {{ get_selected('newwin.nw_device', 'pc') }} >PC</option>
                                <option value="mobile" {{ get_selected('newwin.nw_device', 'mobile') }} >모바일</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_disable_hours">시간<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <span class="frm_info">고객이 다시 보지 않음을 선택할 시 몇 시간동안 팝업레이어를 보여주지 않을지 설정합니다.</span>
                            <input type="text" name="nw_disable_hours" value="{{ newwin.nw_disable_hours|default(24) }}" id="nw_disable_hours" required="" class="frm_input required" size="5"> 시간
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_begin_time">시작일시<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_begin_time" value="{{ newwin.nw_begin_time }}" id="nw_begin_time" required="" class="frm_input required" size="21" maxlength="19">
                            <input type="checkbox" name="nw_begin_chk" value="{{ start_day }}" id="nw_begin_chk" onclick="if (this.checked == true) this.form.nw_begin_time.value=this.form.nw_begin_chk.value; else this.form.nw_begin_time.value = this.form.nw_begin_time.defaultValue;">
                            <label for="nw_begin_chk">시작일시를 오늘로</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_end_time">종료일시<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_end_time" value="{{ newwin.nw_end_time }}" id="nw_end_time" required="" class="frm_input required" size="21" maxlength="19">
                            <input type="checkbox" name="nw_end_chk" value="{{ after_7days }}" id="nw_end_chk" onclick="if (this.checked == true) this.form.nw_end_time.value=this.form.nw_end_chk.value; else this.form.nw_end_time.value = this.form.nw_end_time.defaultValue;">
                            <label for="nw_end_chk">종료일시를 오늘로부터 7일 후로</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_left">팝업레이어 좌측 위치<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_left" value="{{ newwin.nw_left|default(10) }}" id="nw_left" required="" class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_top">팝업레이어 상단 위치<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_top" value="{{ newwin.nw_top|default(10) }}" id="nw_top" required="" class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_width">팝업레이어 넓이<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_width" value="{{ newwin.nw_width|default(450) }}" id="nw_width" required="" class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_height">팝업레이어 높이<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_height" value="{{ newwin.nw_height|default(500) }}" id="nw_height" required="" class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_subject">팝업 제목<strong class="sound_only"> 필수</strong></label></th>
                        <td>
                            <input type="text" name="nw_subject" value="{{ newwin.nw_subject }}" id="nw_subject" required="" class="frm_input required" size="80">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_content">내용</label></th>
                        <td>{{ editor.body("nw_content", newwin.nw_content) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <a href="{{ url_for('newwin_list') }}" class=" btn btn_02">목록</a>
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>
    </form>
    <script>
        $(function() {
            $("#nw_begin_time, #nw_end_time").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd 00:00:00",
                showButtonPanel: true,
                yearRange: "c-99:c+99",
                maxDate: "+0d"
            });
        });

        function frmnewwin_check(f) {
            errmsg = "";
            errfld = "";
            const editor = CKEDITOR.instances.nw_content;
            const editorContent = editor.getData().trim();

            check_field(f.nw_subject, "제목을 입력하세요.");

            if (errmsg != "") {
                alert(errmsg);
                errfld.focus();
                return false;
            }

            if (!editorContent) {
                alert('팝업 내용을 입력 해주세요.');
                editor.focus();
                return false;
            }

            f.token.value = generate_token();

            return true;
        }
    </script>
{% endblock content %}