{% extends "base.html" %}

{% block title %}팝업레이어 관리{% endblock title %}
{% block subtitle %}팝업레이어 관리{% endblock subtitle %}

{% block content %}
    <div class="local_ov01 local_ov">
        <span class="btn_ov01">
            <span class="ov_txt">전체 </span>
            <span class="ov_num"> {{ newwins|count }}건</span>
        </span>
    </div>
    <div class="btn_fixed_top ">
        <a href="{{ url_for('newwin_form_add') }}" class="btn btn_01">새창관리추가</a>
    </div>
    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>팝업레이어 관리 목록</caption>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">접속기기</th>
                    <th scope="col">시작일시</th>
                    <th scope="col">종료일시</th>
                    <th scope="col">시간</th>
                    <th scope="col">Left</th>
                    <th scope="col">Top</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
                {% for newwin in newwins %}
                    <tr class="bg{{ loop.cycle('0', '1') }}">
                        <td class="td_num">{{ newwin.nw_id }}</td>
                        <td class="td_left">{{ newwin.nw_subject }}</td>
                        <td class="td_device">
                            {% if newwin.nw_device == 'pc' %}
                                PC
                            {% elif newwin.nw_device == 'mobile' %}
                                Mobile
                            {% else %}
                                모두
                            {% endif %}
                        </td>
                        <td class="td_datetime">{{ newwin.nw_begin_time }}</td>
                        <td class="td_datetime">{{ newwin.nw_end_time }}</td>
                        <td class="td_num">{{ newwin.nw_disable_hours }}</td>
                        <td class="td_num">{{ newwin.nw_left|number_format }}</td>
                        <td class="td_num">{{ newwin.nw_top|number_format }}</td>
                        <td class="td_num">{{ newwin.nw_width|number_format }}</td>
                        <td class="td_num">{{ newwin.nw_height|number_format }}</td>
                        <td class="td_mng td_mng_m">
                            <a href="{{ url_for('newwin_form_edit', nw_id=newwin.nw_id) }}" class="btn btn_03">
                                <span class="sound_only">{{ newwin.nw_subject }} </span>수정
                            </a>
                            <a href="{{ url_for('newwin_delete', nw_id=newwin.nw_id) }}" onclick="return delete_confirm(this);" class="btn btn_02">
                                <span class="sound_only">{{ newwin.nw_subject }} </span>삭제
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="11" class="empty_table">자료가 한건도 없습니다.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}