{% extends "base_sub.html" %}

{% block title %}플러그인 상세보기{% endblock title %}

{% block content %}
    <div id="plugin_detail">
        <h2>{{ name }}</h2>
        <div class="plugin_dt_img">
            {% if info.screenshot %}
                <img src="{{ info.screenshot }}" alt="{{ name }}">
            {% else %}
                <img src="/static/admin/img/plugin_img.jpg" alt="">
            {% endif %}
        </div>
        <div class="plugin_dt_if">
            <p>{{ info.detail }}</p>
            <table>
                <tr>
                    <th scope="row">Version</th>
                    <td>{{ info.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Maker</th>
                    <td>{{ info.maker }}</td>
                </tr>
                <tr>
                    <th scope="row">License</th>
                    <td>{{ info.license }}</td>
                </tr>
            </table>
            <div class="plugin_dt_btn">
                <!-- <a href="/admin/plugin_preview?plugin={{ plugin }}" class="plugin_pr btn_03" target="plugin_preview">미리보기</a> -->
                <button type="button" class="close_btn">Close</button>
            </div>
        </div>
    </div>

    <script>
        document.querySelector(".close_btn").addEventListener("click", function() {
            document.getElementById("plugin_detail").remove();
        });
    </script>
{% endblock content %}