{% extends "base.html" %}

{% block title %}플러그인 관리{% endblock title %}
{% block subtitle %}플러그인 관리{% endblock subtitle %}

{% block content %}

<h1 id="container_title">플러그인 관리</h1>
<div class="container_wr">

    <div class="local_ov01 local_ov">
        <a href="/admin/plugin_list" class="ov_listall">전체목록</a>
        <span class="btn_ov01">
            <span class="ov_txt">전체 </span>
            <span class="ov_num"> {{ total_count }} </span>
        </span>
        
        {% if plugin_list %}
        <ul id="plugin_list">
            {% for plugin in plugin_list %}
            <li>
                <div class="tmli_if">
                    {% if plugin.screenshot %}
                    <img src="{{ plugin.screenshot }}" alt="{{ plugin.plugin_name }}">
                    {% else %}
                    <img src="/static/admin/img/plugin_img.jpg" alt="">
                    {% endif %}
                    <div class="tmli_tit">
                        <p>{{ plugin.plugin_name }}</p>
                    </div>
                </div>
                {{ plugin.btn_active|safe }}
                {% if plugin.is_enable  == True %}
                <span class="plugin_sl plugin_sl_use">사용중</span>
                 <button type="button" class="plugin_sl plugin_disable" 
                         data-name="{{ plugin.plugin_name }}"
                         data-module_name="{{ plugin.module_name }}">사용안함
                 </button>
                {% else %}
                <button type="button" class="plugin_sl plugin_enable" 
                        data-name="{{ plugin.plugin_name }}"
                        data-module_name="{{ plugin.module_name }}"
                        data-set_plugin="">플러그인 적용
                </button>
                {% endif %}
                <button type="button" class="tmli_dt plugin_detail" data-module_name="{{ plugin.module_name }}">상세보기</button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no_plugin">설치된 플러그인이 없습니다.</p>
        {% endif %}

    </div>
</div>

<script>
    $(function() {
        $(".plugin_enable").on("click", function() {
            const plugin_name  = $(this).data("name");
            const module_name  = $(this).data("module_name");
    
            if(!confirm(name+" 플러그인을 적용하시겠습니까?"))
                return false;
    
            let formData = new FormData();
            formData.append('type', 'enable');
            formData.append('plugin_name', plugin_name);
            formData.append('module_name', module_name);
            $.ajax({
                type: "POST",
                url: "/admin/plugin_update",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function(response) {
                    if(response.message) {
                        alert(response.message);
                        document.location.reload();
                    }
                    
                },fail: function(response) {
                    alert(response.message);
                }
            });
        });
    
        $(".plugin_disable").on("click", function() {
            const plugin_name  = $(this).data("name");
            const module_name  = $(this).data("module_name");
    
            if(!confirm(name+" 플러그인 사용설정을 해제하시겠습니까?"))
                return false;
                
            let formData = new FormData();
            formData.append('type', 'disable');
            formData.append('plugin_name', plugin_name);
            formData.append('module_name', module_name);
    
            $.ajax({
                type: "POST",
                url: "/admin/plugin_update",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function(response) {
                    if(response.message) {
                        alert(response.message);
                        document.location.reload();
                    }
                }
            });
        });
    
        $(".plugin_detail").on("click", function() {
            const module_name = $(this).data("module_name");
    
            $("#plugin_detail").remove();
    
            $.ajax({
                type: "POST",
                url: "/admin/plugin_detail",
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    "module_name": module_name
                },
                cache: false,
                async: false,
                success: function(data) {
                    $("#plugin_list").after(data);
                },
                error: function(data) {
                    data = data.responseJSON;
                    alert(data.detail );
                }
            });
        });
    });
</script>

{% endblock %}
