{% extends "base_sub.html" %}

{% block title %}테마 상세보기{% endblock title %}

{% block content %}
    <div id="theme_detail">
        <h2>{{ info.theme_name }}</h2>
        <div class="theme_dt_img">
            {% if info.screenshot %}
                <img src="{{ info.screenshot }}" alt="{{ info.theme_name }}">
            {% else %}
                <img src="/static/admin/img/theme_img.jpg" alt="테마 없음">
            {% endif %}
        </div>
        <div class="theme_dt_if">
            <p>{{ info.detail }}</p>
            <table>
                <tr>
                    <th scope="row">Version</th>
                    <td>{{ info.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Maker</th>
                    <td>{{ info.maker }}</td>
                </tr>
                <tr>
                    <th scope="row">License</th>
                    <td>{{ info.license }}</td>
                </tr>
            </table>
            <div class="theme_dt_btn">
                <!-- <a href="/admin/theme_preview?theme={{ theme }}" class="theme_pr btn_03" target="theme_preview">미리보기</a> -->
                <button type="button" class="close_btn">Close</button>
            </div>
        </div>
    </div>

    <script>
        document.querySelector(".close_btn").addEventListener("click", function() {
            document.getElementById("theme_detail").remove();
        });
    </script>
{% endblock content %}