{% macro search(request, fr_date='', to_date='') -%}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="{{ request.url_for('static', path='/admin/calendar_style.css') }}" rel="stylesheet" />
    <script>
    jQuery(function($){
        $.datepicker.regional["ko"] = {
            closeText: "닫기",
            prevText: "이전달",
            nextText: "다음달",
            currentText: "오늘",
            monthNames: ["1월(JAN)","2월(FEB)","3월(MAR)","4월(APR)","5월(MAY)","6월(JUN)", "7월(JUL)","8월(AUG)","9월(SEP)","10월(OCT)","11월(NOV)","12월(DEC)"],
            monthNamesShort: ["1월","2월","3월","4월","5월","6월", "7월","8월","9월","10월","11월","12월"],
            dayNames: ["일","월","화","수","목","금","토"],
            dayNamesShort: ["일","월","화","수","목","금","토"],
            dayNamesMin: ["일","월","화","수","목","금","토"],
            weekHeader: "Wk",
            dateFormat: "yymmdd",
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: ""
        };
        $.datepicker.setDefaults($.datepicker.regional["ko"]);
    });
    </script>
    <form name="fvisit" id="fvisit" class="local_sch03 local_sch" method="get">
        <div class="sch_last">
            <strong>기간별검색</strong>
            <input type="text" name="fr_date" value="{{ fr_date }}" id="fr_date" class="frm_input" size="11" maxlength="10">
            <label for="fr_date" class="sound_only">시작일</label>
            ~
            <input type="text" name="to_date" value="{{ to_date }}" id="to_date" class="frm_input" size="11" maxlength="10">
            <label for="to_date" class="sound_only">종료일</label>
            <input type="submit" value="검색" class="btn_submit">
        </div>
    </form>

    <script>
        $(function(){
            $("#fr_date, #to_date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                showButtonPanel: true,
                yearRange: "c-99:c+99",
                maxDate: "+0d"
            });
        });
        
        function fvisit_submit(act)
        {
            var f = document.fvisit;
            f.action = act;
            f.submit();
        }
    </script>
{%- endmacro %}

{% macro anchor(type, fr_date='', to_date='') -%}
    <ul class="anchor">
        <li {% if type == 'list' %}class="active"{% endif %}><a href="./visit_list?fr_date={{ fr_date }}&to_date={{ to_date }}">접속자</a></li>
        <li {% if type == 'domain' %}class="active"{% endif %}><a href="./visit_domain?fr_date={{ fr_date }}&to_date={{ to_date }}">도메인</a></li>
        <li {% if type == 'browser' %}class="active"{% endif %}><a href="./visit_browser?fr_date={{ fr_date }}&to_date={{ to_date }}">브라우저</a></li>
        <li {% if type == 'os' %}class="active"{% endif %}><a href="./visit_os?fr_date={{ fr_date }}&to_date={{ to_date }}">운영체제</a></li>
        <li {% if type == 'device' %}class="active"{% endif %}><a href="./visit_device?fr_date={{ fr_date }}&to_date={{ to_date }}">접속기기</a></li>
        <li {% if type == 'hour' %}class="active"{% endif %}><a href="./visit_hour?fr_date={{ fr_date }}&to_date={{ to_date }}">시간</a></li>
        <li {% if type == 'weekday' %}class="active"{% endif %}><a href="./visit_weekday?fr_date={{ fr_date }}&to_date={{ to_date }}">요일</a></li>
        <li {% if type == 'date' %}class="active"{% endif %}><a href="./visit_date?fr_date={{ fr_date }}&to_date={{ to_date }}">일</a></li>
        <li {% if type == 'month' %}class="active"{% endif %}><a href="./visit_month?fr_date={{ fr_date }}&to_date={{ to_date }}">월</a></li>
        <li {% if type == 'year' %}class="active"{% endif %}><a href="./visit_year?fr_date={{ fr_date }}&to_date={{ to_date }}">년</a></li>
    </ul>
{%- endmacro %}