{% extends "base.html" %}
{% import "/visit_forms.html" as form %}

{% block title %}요일별 접속자집계{% endblock title %}
{% block subtitle %}요일별 접속자집계{% endblock subtitle %}

{% block content %}
    {{ form.search(request, fr_date, to_date) }}
    {{ form.anchor('weekday', fr_date, to_date) }}

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>요일별 접속자집계 목록</caption>
            <thead>
                <tr>
                    <th scope="col">요일</th>
                    <th scope="col">그래프</th>
                    <th scope="col">접속자수</th>
                    <th scope="col">비율(%)</th>
                </tr>
            </thead>
            <tbody>
            {% for dow, visit in visits.items() %}
                <tr class="bg{{ loop.cycle('0', '1') }}">
                    <td class="td_category">{{ dow }}</td>
                    <td>
                        <div class="visit_bar">
                            <span style="width:{{ visit.rate }}%"></span>
                        </div>
                    </td>
                    <td class="td_num_c3">{{ visit.count|number_format }}</td>
                    <td class="td_num">{{ visit.rate }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="empty_table">자료가 없습니다.</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">합계</td>
                    <td><strong>{{ total_records|number_format }}</strong></td>
                    <td>100%</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}