{% extends "base_sub.html" %}
{% import "/sideview/macros.html" as sideview %}

{% block title %}내 쪽지함{% endblock title %}

{% block content %}
    <div id="memo_view" class="new_win">
        <h1 id="win_title">
            {% if kind == "recv" %}
                받은 쪽지 보기
            {% else %}
                보낸 쪽지 보기
            {% endif %}
        </h1>
        <div class="new_win_con2">
            <!-- 쪽지함 선택 시작 { -->
            <ul class="win_ul">
                <li class="{% if kind == "recv" %}selected{% endif %}"><a href="{{ url_for('memo_list') }}?kind=recv">받은쪽지</a></li>
                <li class="{% if kind == "send" %}selected{% endif %}"><a href="{{ url_for('memo_list') }}?kind=send">보낸쪽지</a></li>
                <li><a href="{{ url_for('memo_form') }}">쪽지쓰기</a></li>
            </ul>
            <!-- } 쪽지함 선택 끝 -->
            <article id="memo_view_contents">
                <header>
                    <h2>쪽지 내용</h2>
                </header>
                <div id="memo_view_ul">
                    <div class="memo_view_li memo_view_name">
                        <ul class="memo_from">
                            <li class="memo_profile">
                                <img src="{{ get_member_image(target.mb_id) }}" alt="profile_image">
                            </li>
                            <li class="memo_view_nick">
                                {{ sideview.get(request, target.mb_id, getattr(target, "mb_nick", "[회원정보 없음]"))|safe }}
                            </li>
                            <li class="memo_view_date">
                                <span class="sound_only">받은시간</span>
                                <i class="fa fa-regular fa-clock" aria-hidden="true"></i>
                                {{ memo.me_send_datetime }}
                            </li> 
                            <li class="memo_op_btn list_btn">
                                <a href="{{ url_for('memo_list') }}?{{ request.query_params }}" class="btn_b01 btn">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="sound_only">목록</span>
                                </a>
                            </li>
                            <li class="memo_op_btn del_btn">
                                <a href="{{ url_for('memo_delete', me_id=memo.me_id) }}?{{ request.query_params }}" onclick="del(this.href); return false;" class="memo_del btn_b01 btn">
                                    <i class="fa fa-regular fa-trash-can" aria-hidden="true"></i>
                                    <span class="sound_only">삭제</span>
                                </a>
                            </li>
                        </ul>
                        <div class="memo_btn">
                            {% if prev_memo %}
                                <a href="{{ url_for('memo_view', me_id=prev_memo.me_id) }}?{{ request.query_params }}" class="btn_left">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;이전쪽지
                                </a>
                            {% endif %}
                            {% if next_memo %}
                                <a href="{{ url_for('memo_view', me_id=next_memo.me_id) }}?{{ request.query_params }}" class="btn_right">
                                    다음쪽지&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p>{{ memo.me_memo|safe }}</p>
            </article>
            <div class="win_btn">
                {% if kind == 'recv' %}
                    <a href="{{ url_for('memo_form') }}?me_recv_mb_id={{ target.mb_id }}&amp;me_id={{ memo.me_id }}" class="reply_btn">답장</a>
                {% endif %}
                <button type="button" onclick="window.close();" class="btn_close">창닫기</button>
            </div>
        </div>
    </div>
{% endblock content %}