{% extends "base_sub.html" %}

{% block title %}내 쪽지함{% endblock title %}

{% block content %}
    <div id="memo_write" class="new_win">
        <h1 id="win_title"><i class="fa fa-regular fa-envelope" aria-hidden="true"></i> 쪽지 보내기</h1>
        <div class="new_win_con2">
            <!-- 쪽지함 선택 시작 { -->
            <ul class="win_ul">
                <li><a href="{{ url_for('memo_list') }}?kind=recv">받은쪽지</a></li>
                <li><a href="{{ url_for('memo_list') }}?kind=send">보낸쪽지</a></li>
                <li class="selected"><a href="{{ url_for('memo_form') }}">쪽지쓰기</a></li>
            </ul>
            <!-- } 쪽지함 선택 끝 -->

            <form name="fmemoform" action="{{ url_for('memo_form_update') }}" onsubmit="return fmemoform_submit(this);" method="post" autocomplete="off">
                <input type="hidden" name="token" value="">
                <div class="form_01">
                    <h2 class="sound_only">쪽지쓰기</h2>
                    <ul>
                        <li>
                            <label for="me_recv_mb_id" class="sound_only">받는 회원아이디<strong>필수</strong></label>
                            <input type="text" name="me_recv_mb_id" value="{{ target.mb_id }}" id="me_recv_mb_id" required="" class="frm_input full_input required" size="47" placeholder="받는 회원아이디">
                            <span class="frm_info">여러 회원에게 보낼때는 컴마(,)로 구분하세요.</span>
                            <br><span class="frm_info">쪽지 보낼때 회원당 {{ request.state.config.cf_memo_send_point|number_format }}점의 포인트를 차감합니다.</span>
                        </li>
                        <li>
                            <label for="me_memo" class="sound_only">내용</label>
                            <textarea name="me_memo" id="me_memo" required="" class="required">
                                {%- if memo %}
                                    {{- "----- 이전 쪽지내용 -------\n" ~ memo.me_memo -}}
                                {% endif -%}
                            </textarea>
                        </li>
                        <li>
                            <span class="sound_only">자동등록방지</span>
                            <!-- Captcha Start -->
                            <fieldset id="captcha" class="captcha">
                                {% include captcha_widget(request) ignore missing %}
                            </fieldset>
                            <!-- Captcha End -->
                        </li>
                    </ul>
                </div>

                <div class="win_btn">
                    <button type="submit" id="btn_submit" class="btn btn_b02 reply_btn">보내기</button>
                    <button type="button" onclick="window.close();" class="btn_close">창닫기</button>
                </div>
            </form>
        </div>
    </div>
<script>
    function fmemoform_submit(f)
    {
        f.token.value = generate_token();
        if (f.token.value == "") {
            alert("토큰 생성에 실패하였습니다.");
            return false;
        }
        // captcha 사용시
        if (typeof check_captcha === "function") {
            if (!check_captcha(f)) {
                return false;
            }
        }

        return true;
    }
      
      // 다크모드 설정
      function handleDarkModeChange() {
            const isUserColorTheme = localStorage.getItem('color-theme');
            const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

            const initialTheme = getUserTheme();
            if (initialTheme === 'dark') {
              document.documentElement.setAttribute('color-theme', 'dark');
            } else {
              document.documentElement.setAttribute('color-theme', 'light');
            }
          }; 

          document.addEventListener('DOMContentLoaded', handleDarkModeChange)

          // 로컬스토리지 데이터에따라 실시간 변경
          window.addEventListener('storage', function (event) {
              handleDarkModeChange();
          });
    

</script>
{% endblock content %}