{% extends "base_sub.html" %}
{% import "/sideview/macros.html" as sideview %}

{% block title %}내 쪽지함{% endblock title %}

{% block content %}
    <div id="memo_list" class="new_win">
        <h1 id="win_title">
            내 쪽지함
            <div class="win_total">
                {% if kind == "recv" %}
                    전체 받은쪽지 
                {% else %}
                    전체 보낸쪽지 
                {% endif %}
                {{ total_records|number_format }}통
                <br>
            </div>
        </h1>
        <div class="new_win_con2">
            <ul class="win_ul">
                <li class="{% if kind == "recv" %}selected{% endif %}"><a href="{{ url_for('memo_list') }}?kind=recv">받은쪽지</a></li>
                <li class="{% if kind == "send" %}selected{% endif %}"><a href="{{ url_for('memo_list') }}?kind=send">보낸쪽지</a></li>
                <li><a href="{{ url_for('memo_form') }}">쪽지쓰기</a></li>
            </ul>
            <div class="memo_list">
                <ul>
                {% for memo in memos %}
                    {% set is_read=(False if is_none_datetime(memo.me_read_datetime) else True) %}
                    {% set target_member=memo.target_member %}
                    
                    <li class="{% if is_read %}read{% endif %}">
                        <div class="memo_li profile_big_img">
                            <img src="{{ get_member_image(target_member.mb_id) }}" alt="profile_image">
                            {% if not is_read %}
                                <span class="no_read">안 읽은 쪽지</span>
                            {% endif %}
                        </div>
                        <div class="memo_li memo_name">
                            {{ sideview.get(request, target_member.mb_id, target_member.mb_nick|default_if_none("[회원정보 없음]"))|safe }}
                            <span class="memo_datetime">
                                <i class="fa fa-regular fa-clock" aria-hidden="true"></i>
                                {{ memo.me_send_datetime }}
                            </span>
                            <div class="memo_preview">
                                <a href="{{ url_for('memo_view', me_id=memo.me_id) }}?{{ request.query_params }}">
                                    {{ memo.me_memo|truncate(50, True, '...') }}
                                </a>
                            </div>
                        </div>	
                        <a href="{{ url_for('memo_delete', me_id=memo.me_id) }}?page={{ page }}" onclick="del(this.href); return false;" class="memo_del"><i class="fa fa-regular fa-trash-can" aria-hidden="true"></i> <span class="sound_only">삭제</span></a>
                    </li>
                {% else %}
                    <li class="empty_table">쪽지가 없습니다.</li>
                {% endfor %}
                </ul>
            </div>
    
            {{ paging|safe }}

            <p class="win_desc">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                쪽지 보관일수는 최장 <strong>{{ request.state.config.cf_memo_del|number_format }}</strong>일 입니다.
            </p>
    
            <div class="win_btn">
                <button type="button" onclick="window.close();" class="btn_close">창닫기</button>
            </div>
        </div>
    </div>
    <script>  
      // 다크모드 설정
      function handleDarkModeChange() {
            const isUserColorTheme = localStorage.getItem('color-theme');
            const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

            const initialTheme = getUserTheme();
            if (initialTheme === 'dark') {
              document.documentElement.setAttribute('color-theme', 'dark');
            } else {
              document.documentElement.setAttribute('color-theme', 'light');
            }
          }; 

          document.addEventListener('DOMContentLoaded', handleDarkModeChange)

          // 로컬스토리지 데이터에따라 실시간 변경
          window.addEventListener('storage', function (event) {
              handleDarkModeChange();
          });
    </script>
{% endblock content %}