<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>{% block title %}관리자 base{% endblock %} | 그누보드5</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/admin/admin.css">
<link rel="stylesheet" href="/static/admin/font-awesome.min.css">
    
<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "{{request.base_url}}";
var g5_bbs_url   = "{{request.base_url}}bbs";
var g5_is_member = "1";
var g5_is_admin  = "super";
var g5_is_mobile = "";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_editor    = "";
var g5_cookie_domain = "";
var g5_shop_url = "/shop";
var g5_admin_url = "/admin";
</script>
<script src="/static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/jquery-migrate-1.4.1.min.js"></script>
<script src="/static/js/jquery.menu.js"></script>
<script src="/static/js/common.js"></script>

<script src="/static/js/placeholders.min.js"></script>
{% block head %}
{% endblock %}
{% include "plugin_menu_header.html" %}

</head>
<body>
<div id="hd_login_msg">최고관리자 최고관리자님 로그인 중 <a href="/bbs/logout">로그아웃</a></div>
<script>
    var admin_csrf_token_key = "";
    var tempX = 0;
    var tempY = 0;

    function imageview(id, w, h) {

        menu(id);

        var el_id = document.getElementById(id);

        //submenu = eval(name+".style");
        submenu = el_id.style;
        submenu.left = tempX - (w + 11);
        submenu.top = tempY - (h / 2);

        selectBoxVisible();

        if (el_id.style.display != 'none')
            selectBoxHidden(id);
    }
</script>

<div id="to_content"><a href="#container">본문 바로가기</a></div>

<header id="hd">
    <h1>그누보드5</h1>
    <div id="hd_top">
        <button type="button" id="btn_gnb" class="btn_gnb_close ">메뉴</button>
        <div id="logo"><a href="/admin/"><img src="/static/admin/img/logo.png" alt="그누보드5 관리자"></a></div>

        <div id="tnb">
            <ul>
                                    <li class="tnb_li"><a href="/shop/" class="tnb_shop" target="_blank" title="쇼핑몰 바로가기">쇼핑몰 바로가기</a></li>
                                <li class="tnb_li"><a href="/" class="tnb_community" target="_blank" title="커뮤니티 바로가기">커뮤니티 바로가기</a></li>
                <li class="tnb_li"><a href="/admin/service" class="tnb_service">부가서비스</a></li>
                <li class="tnb_li"><button type="button" class="tnb_mb_btn">관리자<span class="./img/btn_gnb.png">메뉴열기</span></button>
                    <ul class="tnb_mb_area">
                        <li><a href="/admin/member_form?w=u&amp;mb_id=admin">관리자정보</a></li>
                        <li id="tnb_logout"><a href="/bbs/logout">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <nav id="gnb" class="gnb_large ">
        <h2>관리자 주메뉴</h2>
        <ul class="gnb_ul">

        {% macro render_admin_menu(menu_key, submenus, loop_index) %}
        <li class="gnb_li {{ 'on' if request_menu_key == menu_key else '' }}">
            <button type="button" class="btn_op menu-{{ menu_key }} menu-order-{{ loop_index }}" title="{{ submenus[0]['name'] }}">{{ submenus[0]['name'] }}</button>
            <div class="gnb_oparea_wr">
                <div class="gnb_oparea">
                    <h3>{{ submenus[0]['name'] }}</h3>
                    <ul>
                        {% for submenu in submenus[1:] %}
                            <li data-menu="{{ submenu['id'] }}">
                                <a href="/admin/{{ submenu['url'] }}" class="gnb_2da">{{ submenu['name'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endmacro %}
        
        {# 관리자 메뉴 #}
        {% set request_menu_key = request.session.get('menu_key', '')[:3] %}
        {% if get_admin_menus %}
            {% set admin_menus=get_admin_menus() %}
        {% endif %}
            
        {% for menu_key, submenus in admin_menus.items() %}
            {{ render_admin_menu(menu_key[4:], submenus, loop.index) }}
        {% endfor %}

        {# 플러그인 메뉴 #}
        {% set request_menu_key = request.session.get('menu_key', '') %}
        {% set plugin_menus=get_admin_plugin_menus() %}
        {% for plugin in plugin_menus %}
            {% if plugin %}
                {% for menu_key, submenus in plugin.items() %}
                    {{ render_admin_menu(menu_key, submenus, loop.index) }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </nav>

</header>
<script>
    jQuery(function($) {

        var menu_cookie_key = 'g5_admin_btn_gnb';

        $(".tnb_mb_btn").click(function() {
            $(".tnb_mb_area").toggle();
        });

        $("#btn_gnb").click(function() {

            var $this = $(this);

            try {
                if (!$this.hasClass("btn_gnb_open")) {
                    set_cookie(menu_cookie_key, 1, 60 * 60 * 24 * 365);
                } else {
                    delete_cookie(menu_cookie_key);
                }
            } catch (err) {}

            $("#container").toggleClass("container-small");
            $("#gnb").toggleClass("gnb_small");
            $this.toggleClass("btn_gnb_open");

        });

        $(".gnb_ul li .btn_op").click(function() {
            $(this).parent().addClass("on").siblings().removeClass("on");
        });

    });
</script>

{% if errors %}
<div class="errors">
    {% for error in errors %}
        <li>{{ errors|safe }}</li>
    {% endfor %}
</div>
{% endif %}

<div id="wrapper">
    <div id="container" class="">
        <h1 id="container_title">{% block subtitle %}관리자메인{% endblock subtitle %}</h1>
        <div class="container_wr">
            {% block content %}{% endblock %}
        </div>
        <footer id="ft">
            <p>
                Copyright &copy; 49.247.41.166. All rights reserved. Version 5.5.8.3.4<br>
                <button type="button" class="scroll_top"><span class="top_img"></span><span class="top_txt">TOP</span></button>
            </p>
        </footer>
    </div>
</div>

<script>
    $(".scroll_top").click(function() {
        $("body,html").animate({
            scrollTop: 0
        }, 400);
    })
</script>


<script src="/static/admin/admin.js"></script>
<script src="/static/js/jquery.anchorScroll.js"></script>
<script>
    $(function() {

        var admin_head_height = $("#hd_top").height() + $("#container_title").height() + 5;

        $("a[href^='#']").anchorScroll({
            scrollSpeed: 0, // scroll speed
            offsetTop: admin_head_height, // offset for fixed top bars (defaults to 0)
            onScroll: function() {
                // callback on scroll start
            },
            scrollEnd: function() {
                // callback on scroll end
            }
        });

        
        // 현재 페이지 메뉴 활성화
        const current_menu = "{{ request.session.get('menu_key', '') }}"
        document.querySelector(`li[data-menu="${current_menu}"] > a`).classList.add('on');
        
        var hide_menu = false;
        var mouse_event = false;
        var oldX = oldY = 0;

        $(document).mousemove(function(e) {
            if (oldX == 0) {
                oldX = e.pageX;
                oldY = e.pageY;
            }

            if (oldX != e.pageX || oldY != e.pageY) {
                mouse_event = true;
            }
        });

        // 주메뉴
        var $gnb = $(".gnb_1dli > a");
        $gnb.mouseover(function() {
            if (mouse_event) {
                $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
                $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
                menu_rearrange($(this).parent());
                hide_menu = false;
            }
        });

        $gnb.mouseout(function() {
            hide_menu = true;
        });

        $(".gnb_2dli").mouseover(function() {
            hide_menu = false;
        });

        $(".gnb_2dli").mouseout(function() {
            hide_menu = true;
        });

        $gnb.focusin(function() {
            $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
            $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
            menu_rearrange($(this).parent());
            hide_menu = false;
        });

        $gnb.focusout(function() {
            hide_menu = true;
        });

        $(".gnb_2da").focusin(function() {
            $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
            var $gnb_li = $(this).closest(".gnb_1dli").addClass("gnb_1dli_over gnb_1dli_on");
            menu_rearrange($(this).closest(".gnb_1dli"));
            hide_menu = false;
        });

        $(".gnb_2da").focusout(function() {
            hide_menu = true;
        });

        $('#gnb_1dul>li').bind('mouseleave', function() {
            submenu_hide();
        });

        $(document).bind('click focusin', function() {
            if (hide_menu) {
                submenu_hide();
            }
        });

        // 폰트 리사이즈 쿠키있으면 실행
        var font_resize_act = get_cookie("ck_font_resize_act");
        if (font_resize_act != "") {
            font_resize("container", font_resize_act);
        }
    });

    function submenu_hide() {
        $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
    }

    function menu_rearrange(el) {
        var width = $("#gnb_1dul").width();
        var left = w1 = w2 = 0;
        var idx = $(".gnb_1dli").index(el);

        for (i = 0; i <= idx; i++) {
            w1 = $(".gnb_1dli:eq(" + i + ")").outerWidth();
            w2 = $(".gnb_2dli > a:eq(" + i + ")").outerWidth(true);

            if ((left + w2) > width) {
                el.removeClass("gnb_1dli_over").addClass("gnb_1dli_over2");
            }

            left += w1;
        }
    }
</script>




</body>
</html>
