{% extends "base.html" %}

{% block title %}내용관리{% endblock title %}
{% block subtitle %}내용관리{% endblock subtitle %}

{% block content %}

<div class="local_ov01 local_ov">
        <span class="btn_ov01"><span class="ov_txt">전체 내용</span><span class="ov_num"> {{ contents|length }}건</span></span>
</div>

<div class="btn_fixed_top">
    <a href="{{ url_for('content_form_add') }}" class="btn btn_01">내용 추가</a>
</div>

<div class="tbl_head01 tbl_wrap">
    <table>
        <caption>내용관리 목록</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">제목</th>
                <th scope="col">관리</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
                <tr class="bg{{ loop.index0 }}">
                    <td class="td_id">{{ content.co_id }}</td>
                    <td class="td_left">{{ content.co_subject }}</td>
                    <td class="td_mng td_mng_l">
                        <a href="{{ url_for('content_form_edit', co_id=content.co_id) }}" class="btn btn_03"><span class="sound_only">회사소개 </span>수정</a>
                        <a href="{{ url_for('content_view', co_id=content.co_id) }}" class="btn btn_02"><span class="sound_only">회사소개 </span> 보기</a>
                        <a href="{{ url_for('content_delete', co_id=content.co_id) }}" onclick="return delete_confirm(this);" class="btn btn_02"><span class="sound_only">회사소개 </span>삭제</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}