{% extends "base.html" %}

{% block title %}FAQ 관리{% endblock title %}
{% block subtitle %}FAQ 관리 목록{% endblock subtitle %}

{% block content %}
    <div class="container_wr">
        <div class="local_ov01 local_ov">
            <span class="btn_ov01">
                <span class="ov_txt">전체 FAQ</span>
                <span class="ov_num">{{ faq_masters|count|number_format }}건</span>
            </span>
        </div>
        <div class="local_desc01 local_desc">
            <ol>
                <li>FAQ는 무제한으로 등록할 수 있습니다</li>
                <li>
                    <strong>FAQ추가</strong>를 눌러 FAQ Master를 생성합니다. (하나의 FAQ 타이틀 생성 : 자주하시는 질문, 이용안내..등 )
                </li>
                <li>
                    생성한 FAQ Master 의 <strong>제목</strong>을 눌러 세부 내용을 관리할 수 있습니다.
                </li>
            </ol>
        </div>
        <div class="btn_fixed_top">
            <a href="{{ url_for("faq_master_add_form") }}" class="btn_01 btn">FAQ추가</a>
        </div>
        <div class="tbl_head01 tbl_wrap">
            <table>
                <caption>FAQ관리 목록</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">제목</th>
                        <th scope="col">FAQ수</th>
                        <th scope="col">순서</th>
                        <th scope="col">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faq_master in faq_masters %}
                        <tr class="bg{{ loop.cycle('0', '1') }}">
                            <td class="td_num">{{ faq_master.fm_id }}</td>
                            <td class="td_left">
                                <a href="{{ url_for('faq_list', fm_id=faq_master.fm_id) }}">{{ faq_master.fm_subject }}</a>
                            </td>
                            <td class="td_num">{{ faq_master.faqs|count }}</td>
                            <td class="td_num">{{ faq_master.fm_order }}</td>
                            <td class="td_mng td_mng_l">
                                <a href="{{ url_for('faq_master_update_form', fm_id=faq_master.fm_id) }}" class="btn btn_03">
                                    <span class="sound_only">{{ faq_master.fm_subject }}</span>수정
                                </a>
                                <a href="{{ url_for('faq_view', fm_id=faq_master.fm_id) }}" class="btn btn_02">
                                    <span class="sound_only">{{ faq_master.fm_subject }}</span>보기
                                </a>
                                <a href="{{ url_for('faq_master_delete', fm_id=faq_master.fm_id) }}" onclick="return delete_confirm3(this);" class="btn btn_02">
                                    <span class="sound_only">{{ faq_master.fm_subject }}</span>삭제
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="empty_table"><span>자료가 없습니다.</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
