{% extends "base.html" %}
{% import "/sideview/macros.html" as sideview %}

{% block title %}관리자메인{% endblock title %}

{% block content %}
<section>
    <h2>신규가입회원 {{ new_member_rows }}건 목록</h2>
    <div class="local_desc02 local_desc">
        총회원수 {{ total_member_count|number_format }}명 중 차단 {{ intercept_count|number_format }}명, 탈퇴 : {{ leave_count|number_format }}명
    </div>

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>신규가입회원</caption>
            <thead>
                <tr>
                    <th scope="col">회원아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">권한</th>
                    <th scope="col">포인트</th>
                    <th scope="col">수신</th>
                    <th scope="col">공개</th>
                    <th scope="col">인증</th>
                    <th scope="col">차단</th>
                    <th scope="col">그룹</th>
                </tr>
            </thead>
            <tbody>
            {% for member in new_members %}
                {% set group_count = member.groups|length %}
                <tr>
                    <td class="td_mbid">{{ member.mb_id }}</td>
                    <td class="td_mbname">{{ member.mb_name }}</td>
                    <td class="td_mbname sv_use">
                        <div>{{ sideview.get(request, member.mb_id, member.mb_nick, member.wr_email, member.wr_homepage)|safe }}</div>
                    </td>
                    <td class="td_num">{{ member.mb_level }}</td>
                    <td><a href="/admin/point_list?sfl=mb_id&stx={{ member.mb_id }}">{{ member.mb_point|number_format }}</a></td>
                    <td class="td_boolean">{{ '예' if member.mb_mailling else '아니오' }}</td>
                    <td class="td_boolean">{{ '예' if member.mb_open else '아니오' }}</td>
                    <td class="td_boolean">{{ '예' if member.mb_email_certify.year > 2000 else '아니오' }}</td>
                    <td class="td_boolean">{{ '예' if member.mb_intercept_date else '아니오' }}</td>
                    <td class="td_category">
                        {% if group_count > 0 %}
                            <a href="/admin/boardgroupmember_form/{{ member.mb_id }}">{{ group_count|number_format }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" class="empty_table">자료가 없습니다.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn_list03 btn_list">
        <a href="/admin/member_list">회원 전체보기</a>
    </div>

</section>


<section>
    <h2>최근게시물</h2>

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>최근게시물</caption>
            <thead>
                <tr>
                    <th scope="col">그룹</th>
                    <th scope="col">게시판</th>
                    <th scope="col">제목</th>
                    <th scope="col">이름</th>
                    <th scope="col">일시</th>
                </tr>
            </thead>
            <tbody>
                {% for row in new_writes %}
                <tr>
                    <td class="td_category">
                        <a href="/bbs/new?gr_id={{ row.gr_id }}">{{ row.gr_subject|truncate(10) }}</a>
                    </td>
                    <td class="td_category">
                        <a href="/board/{{ row.bo_table }}">{{ row.bo_subject|truncate(20) }}</a>
                    </td>
                    <td>
                        <a href="{{ row.link }}">{{ row.subject|striptags|truncate(100) }}</a>
                    </td>
                    <td class="td_mbname">
                        <div>
                            {% if row.write %}
                            {{ sideview.get(request, row.mb_id, row.name, row.write.wr_email, row.write.wr_homepage)|safe }}
                            {% endif %}
                        </div>
                    </td>
                    <td class="td_datetime">
                        {{ row.datetime }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn_list03 btn_list">
        <a href="/bbs/new">최근게시물 더보기</a>
    </div>
</section>

<section>
    <h2>최근 포인트 발생내역</h2>
    <div class="local_desc02 local_desc">
        전체 {{ total_point_count|number_format }}건 중 {{ new_point_rows }}건 목록
    </div>

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>최근 포인트 발생내역</caption>
            <thead>
                <tr>
                    <th scope="col">회원아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">일시</th>
                    <th scope="col">포인트 내용</th>
                    <th scope="col">포인트</th>
                    <th scope="col">포인트합</th>
                </tr>
            </thead>
            <tbody>
            {% for row in new_points %}
                <tr>
                    <td class="td_mbid"><a href="/admin/point_list?sfl=mb_id&stx={{ row.mb_id }}">{{ row.mb_id }}</a></td>
                    <td class="td_mbname">{{ row.member.mb_name }}</td>
                    <td class="td_name sv_use">
                        <div>{{ sideview.get(request, row.member.mb_id, row.member.mb_nick, row.member.wr_email, row.member.wr_homepage)|safe }}</div>
                    </td>
                    <td class="td_datetime">{{ row.po_datetime.strftime('%Y-%m-%d') }}</td>
                    <td><a href="{{ row.link }}">{{ row.po_content }}</a></td>
                    <td class="td_numbig">{{ row.po_point|number_format }}</td>
                    <td class="td_numbig">{{ row.po_mb_point|number_format }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="empty_table">자료가 없습니다.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn_list03 btn_list">
        <a href="/admin/point_list">포인트내역 전체보기</a>
    </div>
</section>
{% endblock content %}