<div class="notice ft_cnt">
    <h2><a href="{{ url_for('list_post', bo_table=bo_table) }}">{{ board.subject }}</a></h2>
    <ul>
        {% for write in writes -%}
        <li>
            <!-- <span class="lock_icon"><i class="fa fa-lock" aria-hidden="true"></i></span> -->
            {% if write.icon_new %}<span class="new_icon">N<span class="sound_only">새글</span></span>{% endif %}
            <a href="{{ url_for('read_post', bo_table=bo_table, wr_id=write.wr_id) }}">
                {% if write|string in board.bo_notice %}
                    <strong>{{ write.subject }}</strong>
                {% else %}
                    {{ write.subject }}
                {% endif %}
                {% if write.wr_comment %}{{ write.wr_comment }}{% endif %}
            </a>
        </li>
        {% else %}
            <li class="empty_li">게시물이 없습니다.</li>
        {% endfor -%}
    </ul>
</div>