<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
{% if request.state.config.cf_add_meta %}
    {{ request.state.config.cf_add_meta|safe }}
{% endif %}
<title>{% block title %}그누보드{% endblock title %}</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{ theme_asset('css/board.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/connect.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/poll.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/popular.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/member.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/latest_list.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/latest_block.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/latest.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/outlogin.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/latest_notice.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/visit.css') }}">
<link rel="stylesheet" href="{{ theme_asset('css/default.css') }}">

<!-- basic theme -->
<!-- 그누보드 core -->
<link rel="stylesheet" href="/static/js/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/static/js/font-awesome/css/font-awesome.min.css">

<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/jquery-migrate-3.4.0.min.js"></script>
<script src="/static/js/jquery.menu.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/wrest.js"></script>
<script src="/static/js/placeholders.min.js"></script>
<script src="/static/js/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/js/jquery.bxslider.js"></script>    
<script>
// 자바스크립트에서 사용하는 전역변수 선언
var g6_url       = "{{ request.base_url }}";
var g6_bbs_url   = "{{ request.base_url }}bbs";
var g6_is_member = "{{ 1 if request.state.login_member else '' }}";
var g6_is_mobile = "{{ 1 if request.state.is_mobile else '' }}";
var g6_editor    = "{{ request.state.editor }}";
var g6_cookie_domain = "{{ request.state.cookie_domain }}";
var g6_shop_url = "{{ request.base_url }}shop";
</script>
{% block head %}
{% endblock head %}
{% if request.state.config %}
    {{ request.state.config.cf_add_script|safe }}
{% endif %}
</head>
<body>
{% block base_body %}
    {% block content %}
    {% endblock content %}
{% endblock base_body %}
</body>
</html>
