{% extends "base_sub.html" %}

{% block body_html %}
    <!-- 상단 시작 { -->
      <div id="hd">
        <h1 id="hd_h1"></h1>
        <div id="skip_to_container"><a href="#container">본문 바로가기</a></div>
    
        {% include "/bbs/newwin.inc.html" %}

    <div id="tnb">
      <div class="inner">
          <!-- <ul id="hd_define">
            <li class="active"><a href="/">커뮤니티</a></li>
            <li><a href="/shop">쇼핑몰</a></li>
          </ul> -->
          <ul id="hd_qnb">
            <li><a href="{{ url_for('faq_view') }}">FAQ</a></li>
            <li><a href="{{ url_for('qa_list') }}">Q&A</a></li>
            <li><a href="/bbs/new">새글</a></li>
            <li><a href="/bbs/current_connect" class="visit">
                접속자<strong class="visit-num">{{ current_login_count[0] }}</strong></a>
                <!-- current_login_count[1]은 회원 수 -->
            </li>
        </ul>
        </div>
    </div>

    <div id="hd_wrapper">

        <div id="logo">
            <a href="/"><img src="/static/img/logo_gnuboard6.png" alt="그누보드6"></a>
        </div>

        <button type="button" id="gnb_open" class="hd_opener">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span class="sound_only">열기</span>
        </button>
        <div id="gnb_mo" class="gnb_mo">
          <button type="button" id="gnb_close" class="hd_closer">
              <span class="sound_only">메뉴 닫기</span>
              <i class="fa fa-xmark" aria-hidden="true"></i>
          </button>
          <!-- 아웃 로그인 -->
          {% if request.state.login_member %}
              {% include "mobile/bbs/outlogin_after.html" ignore missing %}
          {% else %}
              {% include "mobile/bbs/outlogin_before.html" ignore missing %}
          {% endif %}

          <!-- 메뉴 -->
          {% include "mobile/bbs/menu.html" ignore missing %}

          <ul id="hd_nb">
              <li class="hd_nb1">
                  <a href="/bbs/faq" id="snb_faq">
                      <i class="fa fa-question" aria-hidden="true"></i>FAQ
                  </a>
              </li>
              <li class="hd_nb2">
                  <a href="/bbs/qalist" id="snb_qa">
                      <i class="fa fa-comments" aria-hidden="true"></i>1:1문의
                  </a>
              </li>
              <li class="hd_nb3">
                  <a href="/bbs/current_connect" id="snb_cnt">
                      <i class="fa fa-users" aria-hidden="true"></i>접속자
                     <span>{{ current_login_count[0]|number_format }}</span>
                  </a>
              </li>
              <li class="hd_nb4">
                  <a href="/bbs/new" id="snb_new">
                      <i class="fa fa-history" aria-hidden="true"></i>새글
                  </a>
              </li>
          </ul>
      </div>


        <!-- 검색영역 -->
        <div class="hd_sch_wr">
            <fieldset id="hd_sch">
                <legend>사이트 내 전체검색</legend>
                <form name="fsearchbox" method="get" action="/bbs/search" onsubmit="return fsearchbox_submit(this);">
                <input type="hidden" name="sfl" value="wr_subject||wr_content">
                <input type="hidden" name="sop" value="and">
                <label for="sch_stx" class="sound_only">검색어 필수</label>
                <input type="text" name="stx" id="sch_stx" maxlength="20" placeholder="검색어를 입력해주세요">
                <button type="submit" id="sch_submit" value="검색"><i class="fa fa-search" aria-hidden="true"></i><span class="sound_only">검색</span></button>
                </form>

                <script>
                function fsearchbox_submit(f)
                {
                    var stx = f.stx.value.trim();
                    if (stx.length < 2) {
                        alert("검색어는 두글자 이상 입력하십시오.");
                        f.stx.select();
                        f.stx.focus();
                        return false;
                    }

                    // 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
                    var cnt = 0;
                    for (var i = 0; i < stx.length; i++) {
                        if (stx.charAt(i) == ' ')
                            cnt++;
                    }

                    if (cnt > 1) {
                        alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
                        f.stx.select();
                        f.stx.focus();
                        return false;
                    }
                    f.stx.value = stx;

                    return true;
                }
                </script>
            </fieldset>
            <!-- 인기검색어 시작 { -->
            {% include "/bbs/popular.html" %}
            <!-- } 인기검색어 끝 -->
        </div>

        <!-- 모바일 검색 버튼 -->
        <button type="button" id="user_btn" class="hd_opener"><i class="fa fa-search" aria-hidden="true"></i><span class="sound_only">사용자메뉴</span></button>

        <script>
          var gnb_opener = document.querySelector("#gnb_open");
          var sch_opener = document.querySelector("#user_btn");
          var close_btn = document.querySelector("#gnb_close");
          var hd_sch_wr = document.querySelector(".hd_sch_wr");
          var hd_gnb_wr = document.querySelector("#gnb_mo");
  
          function handleSearchClick() {
            hd_sch_wr.classList.toggle("active");
          }
          function handleGnbClick() {
            hd_gnb_wr.classList.add("active");
          }
          function delGnbClick() {
            hd_gnb_wr.classList.remove("active");
          }
  
          sch_opener.addEventListener("click", handleSearchClick);
          gnb_opener.addEventListener("click", handleGnbClick);
          close_btn.addEventListener("click", delGnbClick);
     
        </script>

        <!-- 프로필 -->
        <div class="profile_wrap">
          <span class="profile_img" tabindex="0">
            <img src="{{ get_member_image(request.state.login_member.mb_id)|safe }}" alt="profile_image">
          </span>
          <ul class="hd_login">       
            {% if request.state.login_member %}
            <li><a href="/bbs/member_confirm?url=/bbs/register_form">정보수정</a></li>
            {% if request.state.is_super_admin %}
              <li class="tnb_admin"><a href="/admin">관리자</a></li>
            {% endif %}
            <li><a href="/bbs/logout">로그아웃</a></li>
            {% else %}
            <li><a href="/bbs/register">회원가입</a></li>
            <li><a href="/bbs/login">로그인</a></li>
            {% endif %}
          </ul>
        </div>
    </div>

    <!-- 프로필 이미지 클릭 이벤트 -->
    <script>
        var profileImg = document.querySelector(".profile_wrap .profile_img");
        var mypageBox = document.querySelector(".hd_login");

        function handleProfileClick() {
          mypageBox.classList.add("active");
        }

        function handleProfileFocusout() {
          mypageBox.classList.remove("active");
        }

        profileImg.addEventListener("click", handleProfileClick);
        profileImg.addEventListener("focusout", handleProfileFocusout);
    </script>

</div>
<!-- } 상단 끝 -->

{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<hr>

<!-- 콘텐츠 시작 { -->
  <div id="wrapper">
    <div id="container_wr">
   
        <div id="container">
            <h2 id="container_title"><span>{% block subtitle %}{% endblock subtitle %}</span></h2>
            {% block content %}
            {% endblock content %}
        </div>
    <div id="aside">
        {% if request.state.login_member %}
            {% include "bbs/outlogin_after.html" %}
        {% else %}
            {% include "bbs/outlogin_before.html" %}
        {% endif %}
        {% if menus -%}
          <!-- 메뉴 -->
          <nav id="gnb">
            <h2>메인메뉴</h2>
            <div class="gnb_wrap">
                {% include "/bbs/menu.html" ignore missing %}
            </div>
          </nav>
        {%- endif %}
        {% include "/bbs/poll.html" %}
        <!-- 접속자집계 시작 { -->
        {% if render_visit_statistics %}
            {{ render_visit_statistics(request)|safe }}
        {% endif %}
        <!-- } 접속자집계 끝 -->  
      <script>
        // aside/최신글 - 탭메뉴 기능
        var tabItems = document.querySelectorAll('.aside_tab ul.tab_01 li');

          tabItems.forEach(function (item) {
            item.addEventListener('click', function () {
                var asideTabId = this.getAttribute('data-tab');

                // Remove 'current' class from all tab items and content elements
                tabItems.forEach(function (tabItem) {
                    tabItem.classList.remove('current');
                });

                var contentElements = document.querySelectorAll('.aside_tab .content01');
                contentElements.forEach(function (contentElement) {
                    contentElement.classList.remove('current');
                });

                // Add 'current' class to the clicked tab item and corresponding content element
                this.classList.add('current');
                document.getElementById(asideTabId).classList.add('current');
            });
        });

      </script>
    </div>
</div>

</div>
<!-- } 콘텐츠 끝 -->


<hr>

<!-- 하단 시작 { -->
<div id="ft">

    <div id="ft_wr">
        <div id="ft_link" class="ft_cnt">
            <a href="{{ url_for('content_view', co_id='company') }}">회사소개</a>
            <a href="{{ url_for('content_view', co_id='privacy') }}">개인정보처리방침</a>
            <a href="{{ url_for('content_view', co_id='provision') }}">서비스이용약관</a>
            {% if not request.state.is_responsive %}
                {% if request.state.is_mobile %}
                    <a href="{{ url_for('device_change', device='pc') }}">PC버전</a>
                {% else %}
                    <a href="{{ url_for('device_change', device='mobile') }}">모바일버전</a>
                {% endif %}
            {% endif %}
        </div>
        <div id="ft_company" class="ft_cnt">

	    </div>
    </div>
    <div id="ft_copy">Copyright &copy; <b>{{ request.url.hostname }}.</b> All rights reserved.</div>

    <button type="button" id="top_btn">
    	<i class="fa fa-arrow-up" aria-hidden="true"></i><span class="sound_only">상단으로</span>
    </button>
    <label id="darkmode_btn" class="toggle-switch light-mode">
      <input type="checkbox" id="dark-mode-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="visible bright" viewBox="0 0 20 20" fill="currentColor"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="visible dark" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path></svg>
    </label>
</div>

{% if request.state.config.cf_analytics %}
    {{ request.state.config.cf_analytics|safe }}
{% endif %}

<!-- } 하단 끝 -->

<script>

  // 상단 스크롤 버튼
    $(function() {
        $("#top_btn").on("click", function() {
            $("html, body").animate({scrollTop:0}, '500');
            return false;
        });
    });

  
  // 다크모드 설정
  const $checkbox = document.querySelector('#dark-mode-toggle');

  const isUserColorTheme = localStorage.getItem('color-theme');
  const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

  const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

  document.addEventListener('DOMContentLoaded', function () {
  const initialTheme = getUserTheme();
    if (initialTheme === 'dark') {
      $checkbox.checked = true;
      localStorage.setItem('color-theme', 'dark');
      document.documentElement.setAttribute('color-theme', 'dark');
    } else {
      $checkbox.checked = false;
      localStorage.setItem('color-theme', 'light');
      document.documentElement.setAttribute('color-theme', 'light');
    }
  }); 

  $checkbox.addEventListener('click', e => {
    if (e.target.checked) {
      localStorage.setItem('color-theme', 'dark');
      document.documentElement.setAttribute('color-theme', 'dark');
    } else {
      localStorage.setItem('color-theme', 'light');
      document.documentElement.setAttribute('color-theme', 'light');
    }
  });

</script>
{% endblock body_html %}