{% macro get(request, mb_id, name='', email='', homepage='') -%}
    {% set bo_table = request.path_params.bo_table %}
    {% set use_member_icon = request.state.config.cf_use_member_icon %}
    {% if mb_id %}
        <span class="sv_wrap">
            <a href="/bbs/profile/{{ mb_id }}" class="sv_member" title="{{ name }} 자기소개" target="_blank" rel="nofollow" onclick="return false;">
                {% if use_member_icon != 0 %}
                <span class="profile_img"><img src="{{ get_member_icon(mb_id) }}" width="22" height="22" alt=""></span>
                {% endif %}
                {% if use_member_icon != 1 %}
                {{ name }}
                {% endif %}
            </a>
            <span class="sv">
                <a href="/bbs/memo_form?me_recv_mb_id={{ mb_id }}" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                {% if email %}
                    <a href="/bbs/formmail/{{ mb_id }}?name={{ name }}&email={{ email }}" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                {% endif %}
                {% if homepage %}
                    <a href="{{ homepage }}" rel="nofollow noopener" target="_blank">홈페이지</a>
                {% endif %}
                <a href="/bbs/profile/{{ mb_id }}" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                {% if bo_table %}
                    <a href="{{ request.url.include_query_params(sfl="mb_id,1", stx=mb_id) }}" rel="nofollow">아이디로 검색</a>
                {% endif %}
                <a href="/bbs/new?mb_id={{ mb_id }}" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                {% if request.state.is_super_admin -%}
                    <a href="/admin/member_form?mb_id={{ mb_id }}" target="_blank" rel="nofollow">회원정보변경</a>
                    <a href="/admin/point_list?sfl=mb_id&stx={{ mb_id }}" target="_blank" rel="nofollow">포인트내역</a>
                {%- endif %}
            </span>
        </span>
    {% else %}
        {% if bo_table %}
            <span class="sv_wrap">
                <a href="/board/{{ bo_table }}?sfl=wr_name,1&stx={{ name }}" title="{{ name }} 이름으로 검색" class="sv_guest" rel="nofollow" onclick="return false;">
                    {{ name }}
                </a>
                <span class="sv">
                    <a href="/board/{{ bo_table }}?sfl=wr_name,1&stx={{ name }}" rel="nofollow">이름으로 검색</a>
                    {% if email %}<a href="/bbs/formmail/{{ mb_id }}?name={{ name }}&email={{ email }}" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>{% endif %}
                    {% if homepage %}<a href="{{ homepage }}" rel="nofollow noopener" target="_blank">홈페이지</a>{% endif %}
                </span>
            </span>
        {% else %}
            {{ name }}
        {% endif %}
    {% endif %}
{%- endmacro %}