{% extends "base.html" %}

{% block title %}
    게시물 목록
{% endblock %}

{% block content %}

<div id="hd_login_msg">{{ outlogin.wr_nick }}님 로그인 중 <a href="/bbs/logout">로그아웃</a></div>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="container_wr">
   
    <div id="container">
        <h2 id="container_title"><span title="제목제목제목 &gt; 자유게시판">{{ board.bo_subject }}</span></h2>
<script src="http://49.247.41.166/gnuboard5/js/viewimageresize.js"></script>

<!-- 게시물 읽기 시작 { -->

<article id="bo_v" style="width:100%">
    <header>
        <h2 id="bo_v_title">
            <span class="bo_v_tit">
            {{ write.wr_subject }}</span>
        </h2>
    </header>
    {% for comment in comments %}
        <div>{{ comment.wr_id }}. {{ comment.wr_content }}</div>
    {% endfor %}
</article>

<!-- 댓글 쓰기 시작 { -->
<aside id="bo_vc_w" class="bo_vc_w">
    <h2>댓글쓰기</h2>
    <form name="fviewcomment" id="fviewcomment" action="/board/write_comment_update/" method="post" autocomplete="off">
    <input type="hidden" name="w" value="c" id="w">
    <input type="hidden" name="bo_table" value="{{ board.bo_table }}">
    <input type="hidden" name="wr_id" value="{{ write.wr_id }}">
    <input type="hidden" name="comment_id" value="" id="comment_id">
    <input type="hidden" name="sca" value="">
    <input type="hidden" name="sfl" value="">
    <input type="hidden" name="stx" value="">
    <input type="hidden" name="spt" value="">
    <input type="hidden" name="page" value="">
    <input type="hidden" name="is_good" value="">

    <span class="sound_only">내용</span>
        <textarea id="wr_content" name="wr_content" maxlength="10000" required class="required" title="내용" placeholder="댓글내용을 입력해주세요" 
     style="width:500px; height:100px;"></textarea>
    <div class="bo_vc_w_wr">
        <div class="bo_vc_w_info">
                                            </div>
        <div class="btn_confirm">
        	<span class="secret_cm chk_box">
	            <input type="checkbox" name="wr_secret" value="secret" id="wr_secret" class="selec_chk">
	            <label for="wr_secret"><span></span>비밀글</label>
            </span>
            <button type="submit" id="btn_submit" class="btn_submit">댓글등록</button>
        </div>
    </div>
    </form>
</aside>

{% endblock %}