{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', path="js/viewimageresize.js") }}"></script>
{% endblock head %}

{% block title %}
    {{ write.subject }} > {{ board.bo_subject }}
{% endblock title %}
{% block subtitle %}
    {{ board.bo_subject }}
{% endblock subtitle %}

{% block content %}
{% set login_member=request.state.login_member %}
    <!-- 게시물 읽기 시작 { -->
    <article id="bo_v" style="width:100%">
        <header>
            <h2 id="bo_v_title">
                {% if board.bo_use_category and write.ca_name %}
                    <span class="bo_v_cate">{{ write.ca_name }}</span>
                {% endif %}
                <span class="bo_v_tit">{{ write.wr_subject|truncate(250, False, '...', 0) }}</span>
            </h2>
        </header>

        <section id="bo_v_info">
            <h2>페이지 정보</h2>
            <div class="profile_info">
                <div class="pf_img"><img src="{{ url_for('static', path='/img/no_profile.gif') }}" alt="profile_image"></div>
                <div class="profile_info_ct">
                    <span class="sound_only">작성자</span>
                    <strong>
                        <span class="sv_wrap">
                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;">
                                <span class="profile_img">
                                    <img src="{{ url_for('static', path='/img/no_profile.gif') }}" alt="no_profile" width="22" height="22">
                                </span>
                                최고관리자
                            </a>
                            </span>
                            {% if request.state.is_super_admin %}
                                &nbsp;({{ write.wr_ip }})
                            {% elif board.bo_use_ip_view %}
                                &nbsp;({{ write.wr_ip }}) <!-- 변환된 IP 출력 -->
                            {% endif %}
                    </strong>
                    <br>
                    <span class="sound_only">댓글</span><strong><a href="#bo_vc"> <i class="fa fa-commenting-o" aria-hidden="true"></i> {{ write.wr_comment }}건</a></strong>
                    <span class="sound_only">조회</span><strong><i class="fa fa-eye" aria-hidden="true"></i> {{ write.wr_hit }}회</strong>
                    <strong class="if_date"><span class="sound_only">작성일</span><i class="fa fa-clock-o" aria-hidden="true"></i> {{ write.wr_datetime }}</strong>
                </div>
            </div>
            <!-- 게시물 상단 버튼 시작 { -->
            <div id="bo_v_top">
                <ul class="btn_bo_user bo_v_com">
                    <li>
                        <a href="{{ url_for('list_post', bo_table=board.bo_table) }}?{{ request.query_params }}" class="btn_b01 btn" title="목록">
                            <i class="fa fa-list" aria-hidden="true"></i><span class="sound_only">목록</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('write_form_add', bo_table=board.bo_table) }}?prent_id={{ write.wr_id }}" class="btn_b01 btn" title="답변">
                            <i class="fa fa-reply" aria-hidden="true"></i><span class="sound_only">답변</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('write_form_add', bo_table=board.bo_table) }}" class="btn_b01 btn" title="글쓰기">
                            <i class="fa fa-pencil" aria-hidden="true"></i><span class="sound_only">글쓰기</span>
                        </a>
                    </li>
                    {% if request.state.is_super_admin or write.mb_id == login_member.mb_id %}
                    <li>
                        <button type="button" class="btn_more_opt is_view_btn btn_b01 btn">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i><span class="sound_only">게시판 리스트 옵션</span>
                        </button>
                        <ul class="more_opt is_view_btn" style="display: none;">
                            <li>
                                <a href="{{ url_for('write_form_edit', bo_table=board.bo_table, wr_id=write.wr_id) }}?{{ request.query_params }}">
                                    수정<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('delete_post', bo_table=board.bo_table, wr_id=write.wr_id) }}?token={{ generate_token(request, 'delete') }}" onclick="del(this.href); return false;">
                                    삭제<i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            {# TODO: 게시판관리자, 그룹관리자 추가 #}
                            {% if request.state.is_super_admin %}
                            <li>
                                <a href="#" onclick="board_move(this.href, 'copy'); return false;">
                                    복사<i class="fa fa-files-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="board_move(this.href, 'move'); return false;">
                                    이동<i class="fa fa-arrows" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul> 
                    </li>
                    {% endif %}
                </ul>
                <script>
                    jQuery(function($){
                        // 게시판 보기 버튼 옵션
                        $(".btn_more_opt.is_view_btn").on("click", function(e) {
                            e.stopPropagation();
                            $(".more_opt.is_view_btn").toggle();
                        })
                        $(document).on("click", function (e) {
                            if(!$(e.target).closest('.is_view_btn').length) {
                                $(".more_opt.is_view_btn").hide();
                            }
                        });
                    });
                </script>
            </div>
            <!-- } 게시물 상단 버튼 끝 -->
        </section>

        <section id="bo_v_atc">
            <h2 id="bo_v_atc_title">본문</h2>
            <div id="bo_v_share">
                <!-- SNS START -->
                <!-- SNS END -->
                {% if login_member %}
                    <a href="" target="_blank" class="btn btn_b03" onclick="win_scrap(this.href); return false;">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>스크랩
                    </a>
                {% endif %}
            </div>

            <!-- 파일 출력 START -->
            <div id="bo_v_img"></div>
            <!-- 파일 출력 END -->

            <!-- 본문 내용 시작 { -->
            <div id="bo_v_con">{{ write.wr_content|safe }}</div>
            <!-- } 본문 내용 끝 -->
            <!-- 서명 START -->
            {% if board.bo_use_signature and write.mb_id %}
            <p>{{ login_member.mb_signature }}</p>
            {% endif %}
            <!-- 서명 END -->

        <!--  추천 비추천 시작 { -->
        {% if login_member %}
            <div id="bo_v_act">
                {% if board.bo_use_good %}
                <span class="bo_v_act_gng">
                    <a href="" id="good_button" class="bo_v_good">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span class="sound_only">추천</span>
                        <strong>{{ write.wr_good }}</strong>
                    </a>
                    <b id="bo_v_act_good"></b>
                </span>
                {% endif %}
                {% if board.bo_use_nogood %}
                <span class="bo_v_act_gng">
                    <a href="" id="nogood_button" class="bo_v_nogood">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        <span class="sound_only">비추천</span>
                        <strong>{{ write.wr_nogood }}</strong>
                    </a>
                    <b id="bo_v_act_nogood"></b>
                </span>
                {% endif %}
            </div>
        {% endif %}
        <!-- }  추천 비추천 끝 -->
    </section>

    <ul class="bo_v_nb">
        {% if prev %}
        <li class="btn_prv">
            <span class="nb_tit">
                <i class="fa fa-chevron-up" aria-hidden="true"></i> 이전글
            </span>
            <a href="{{ url_for('read_post', bo_table=board.bo_table, wr_id=prev.wr_id ) }}?{{ request.query_params }}">
                {{ prev.wr_subject }}
            </a>
            <span class="nb_date">{{ prev.wr_datetime }}</span>
        </li>
        {% endif %}
        {% if next %}
        <li class="btn_next">
            <span class="nb_tit">
                <i class="fa fa-chevron-down" aria-hidden="true"></i> 다음글
            </span>
            <a href="{{ url_for('read_post', bo_table=board.bo_table, wr_id=next.wr_id ) }}?{{ request.query_params }}">
                {{ next.wr_subject }}
            </a>
            <span class="nb_date">{{ next.wr_datetime }}</span>
        </li>
        {% endif %}
    </ul>
    <script>
        // 글자수 제한
        var char_min = parseInt({{ board.bo_comment_min }}); // 최소
        var char_max = parseInt({{ board.bo_comment_max }}); // 최대
    </script>
    <button type="button" class="cmt_btn">
        <span class="total"><b>댓글</b> {{ comments|count }}</span>
        <span class="cmt_more"></span>
    </button>
    <!-- 댓글 시작 { -->
    <section id="bo_vc">
        <h2>댓글목록</h2>
        <p id="bo_vc_empty">등록된 댓글이 없습니다.</p>
    </section>
    <!-- } 댓글 끝 -->

    <!-- 댓글 쓰기 시작 { -->
    <aside id="bo_vc_w" class="bo_vc_w">
        <h2>댓글쓰기</h2>

        <form name="fviewcomment" id="fviewcomment" action="{{ url_for('write_comment_update') }}" onsubmit="return fviewcomment_submit(this);" method="post" autocomplete="off">
            <input type="hidden" name="bo_table" value="{{ board.bo_table }}">
            <input type="hidden" name="wr_id" value="{{ write.wr_id }}">
            <input type="hidden" name="comment_id" value="" id="comment_id">
            <input type="hidden" name="sca" value="{{ request.query_params.sca }}">
            <input type="hidden" name="sfl" value="{{ request.query_params.sfl }}">
            <input type="hidden" name="stx" value="{{ request.query_params.stx }}">
            <input type="hidden" name="spt" value="{{ request.query_params.spt }}">
            <input type="hidden" name="page" value="{{ request.query_params.page }}">
            <input type="hidden" name="is_good" value="">

            <span class="sound_only">내용</span>
            <textarea id="wr_content" name="wr_content" maxlength="10000" required="" class="required" title="내용" placeholder="댓글내용을 입력해주세요"></textarea>

            <script>
            $(document).on("keyup change", "textarea#wr_content[maxlength]", function() {
                var str = $(this).val()
                var mx = parseInt($(this).attr("maxlength"))
                if (str.length > mx) {
                    $(this).val(str.substr(0, mx));
                    return false;
                }
            });
            </script>
            <div class="bo_vc_w_wr">
                <div class="bo_vc_w_info"></div>
                <div class="btn_confirm">
                    <span class="secret_cm chk_box">
                        <input type="checkbox" name="wr_secret" value="secret" id="wr_secret" class="selec_chk">
                        <label for="wr_secret"><span>&nbsp;</span>비밀글</label>
                    </span>
                    <button type="submit" id="btn_submit" class="btn_submit">댓글등록</button>
                </div>
            </div>
        </form>
    </aside>

    <form name="fwrite_copy" id="fwrite_copy" action="{{ url_for('move_post', bo_table=board.bo_table) }}" method="post">
        <input type="hidden" name="sw" value="">
        <input type="hidden" name="chk_wr_id[]" value="{{ write.wr_id }}">
    </form>

    <script>
    var save_before = '';
    var save_html = document.getElementById('bo_vc_w').innerHTML;

    function good_and_write()
    {
    var f = document.fviewcomment;
    if (fviewcomment_submit(f)) {
        f.is_good.value = 1;
        f.submit();
    } else {
        f.is_good.value = 0;
    }
    }

    function fviewcomment_submit(f)
    {
    var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자

    f.is_good.value = 0;

    var subject = "";
    var content = "";
    $.ajax({
        url: g5_bbs_url+"/ajax.filter.php",
        type: "POST",
        data: {
            "subject": "",
            "content": f.wr_content.value
        },
        dataType: "json",
        async: false,
        cache: false,
        success: function(data, textStatus) {
            subject = data.subject;
            content = data.content;
        }
    });

    if (content) {
        alert("내용에 금지단어('"+content+"')가 포함되어있습니다");
        f.wr_content.focus();
        return false;
    }

    // 양쪽 공백 없애기
    var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자
    document.getElementById('wr_content').value = document.getElementById('wr_content').value.replace(pattern, "");
    if (char_min > 0 || char_max > 0)
    {
        check_byte('wr_content', 'char_count');
        var cnt = parseInt(document.getElementById('char_count').innerHTML);
        if (char_min > 0 && char_min > cnt)
        {
            alert("댓글은 "+char_min+"글자 이상 쓰셔야 합니다.");
            return false;
        } else if (char_max > 0 && char_max < cnt)
        {
            alert("댓글은 "+char_max+"글자 이하로 쓰셔야 합니다.");
            return false;
        }
    }
    else if (!document.getElementById('wr_content').value)
    {
        alert("댓글을 입력하여 주십시오.");
        return false;
    }

    if (typeof(f.wr_name) != 'undefined')
    {
        f.wr_name.value = f.wr_name.value.replace(pattern, "");
        if (f.wr_name.value == '')
        {
            alert('이름이 입력되지 않았습니다.');
            f.wr_name.focus();
            return false;
        }
    }

    if (typeof(f.wr_password) != 'undefined')
    {
        f.wr_password.value = f.wr_password.value.replace(pattern, "");
        if (f.wr_password.value == '')
        {
            alert('비밀번호가 입력되지 않았습니다.');
            f.wr_password.focus();
            return false;
        }
    }


    set_comment_token(f);

    document.getElementById("btn_submit").disabled = "disabled";

    return true;
    }

    function comment_box(comment_id, work)
    {
    var el_id,
        form_el = 'fviewcomment',
        respond = document.getElementById(form_el);

    // 댓글 아이디가 넘어오면 답변, 수정
    if (comment_id)
    {
        if (work == 'c')
            el_id = 'reply_' + comment_id;
        else
            el_id = 'edit_' + comment_id;
    }
    else
        el_id = 'bo_vc_w';

    if (save_before != el_id)
    {
        if (save_before)
        {
            document.getElementById(save_before).style.display = 'none';
        }

        document.getElementById(el_id).style.display = '';
        document.getElementById(el_id).appendChild(respond);
        //입력값 초기화
        document.getElementById('wr_content').value = '';
        
        // 댓글 수정
        if (work == 'cu')
        {
            document.getElementById('wr_content').value = document.getElementById('save_comment_' + comment_id).value;
            if (typeof char_count != 'undefined')
                check_byte('wr_content', 'char_count');
            if (document.getElementById('secret_comment_'+comment_id).value)
                document.getElementById('wr_secret').checked = true;
            else
                document.getElementById('wr_secret').checked = false;
        }

        document.getElementById('comment_id').value = comment_id;
        document.getElementById('w').value = work;

        if(save_before)
            $("#captcha_reload").trigger("click");

        save_before = el_id;
    }
    }

    function comment_delete()
    {
    return confirm("이 댓글을 삭제하시겠습니까?");
    }

    comment_box('', 'c'); // 댓글 입력폼이 보이도록 처리하기위해서 추가 (root님)

    </script>
    <!-- } 댓글 쓰기 끝 -->
    <script>
    jQuery(function($) {            
    //댓글열기
    $(".cmt_btn").click(function(e){
        e.preventDefault();
        $(this).toggleClass("cmt_btn_op");
        $("#bo_vc").toggle();
    });
    });
    </script>
    </article>
    <!-- } 게시판 읽기 끝 -->

    <script>
        function board_move(href, sw) {
            var f = document.fwrite_copy;
            var sub_win = window.open(href, "move", "left=50, top=50, width=500, height=550, scrollbars=1");

            f.sw.value = sw;
            f.target = "move";
            f.submit();
        }
    </script>

    <script>
    $(function() {
    $("a.view_image").click(function() {
        window.open(this.href, "large_image", "location=yes,links=no,toolbar=no,top=10,left=10,width=10,height=10,resizable=yes,scrollbars=no,status=no");
        return false;
    });

    // 추천, 비추천
    $("#good_button, #nogood_button").click(function() {
        var $tx;
        if(this.id == "good_button")
            $tx = $("#bo_v_act_good");
        else
            $tx = $("#bo_v_act_nogood");

        excute_good(this.href, $(this), $tx);
        return false;
    });

    // 이미지 리사이즈
    $("#bo_v_atc").viewimageresize();
    });

    function excute_good(href, $el, $tx)
    {
    $.post(
        href,
        { js: "on" },
        function(data) {
            if(data.error) {
                alert(data.error);
                return false;
            }

            if(data.count) {
                $el.find("strong").text(number_format(String(data.count)));
                if($tx.attr("id").search("nogood") > -1) {
                    $tx.text("이 글을 비추천하셨습니다.");
                    $tx.fadeIn(200).delay(2500).fadeOut(200);
                } else {
                    $tx.text("이 글을 추천하셨습니다.");
                    $tx.fadeIn(200).delay(2500).fadeOut(200);
                }
            }
        }, "json"
    );
    }
    </script>
    <!-- } 게시글 읽기 끝 -->
{% endblock content %}