{% set social_list = getattr(request.state.config, 'cf_social_servicelist', '') %}
{% set is_use_social = getattr(request.state.config, 'cf_social_login_use', 0) %}

{% if is_use_social and social_list %}
<div class="login-sns sns-wrap-32 sns-wrap-over" id="sns_login">
    <h3>소셜계정으로 로그인</h3>
    <div class="sns-wrap">
        {% if 'naver' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=naver" class="sns-icon social_link sns-naver" title="네이버">
            <span class="ico"></span>
            <span class="txt">네이버<i> 로그인</i></span>
        </a>
        {% endif %}
        {% if 'kakao' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=kakao" class="sns-icon social_link sns-kakao" title="카카오">
            <span class="ico"></span>
            <span class="txt">카카오<i> 로그인</i></span>
        </a>
        {% endif %}
        {% if 'facebook' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=facebook" class="sns-icon social_link sns-facebook" title="페이스북">
            <span class="ico"></span>
            <span class="txt">페이스북<i> 로그인</i></span>
        </a>
        {% endif %}
        {% if 'google' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=google" class="sns-icon social_link sns-google" title="구글">
            <span class="ico"></span>
            <span class="txt">구글<i> 로그인</i></span>
        </a>
        {% endif %}
        {% if 'twitter' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=twitter" class="sns-icon social_link sns-twitter" title="트위터">
            <span class="ico"></span>
            <span class="txt">트위터<i> 로그인</i></span>
        </a>
        {% endif %}
        {% if 'apple' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=apple" class="sns-icon social_link sns-apple" title="애플">
            <span class="ico"></span>
            <span class="txt">애플<i> 로그인</i></span>
        </a>
        {% endif %}
        {#
        {% if 'payco' in social_list %}
        <a href="{{ url_for('request_social_login') }}?provider=payco" class="sns-icon social_link sns-payco" title="페이코">
            <span class="ico"></span>
            <span class="txt">페이코<i> 로그인</i></span>
        </a>
        {% endif %}
        #}
    </div>
</div>
{% endif %}