{% extends "base_sub.html" %}

{% block title %}
    비밀번호 입력
{% endblock title %}

{% block content %}
<!-- 비밀번호 확인 시작 { -->
    <div id="pw_confirm" class="mbskin">
        <h1>{{ write.subject }}</h1>
        <p>
            {% if action == "update" %}
            <strong>작성자만 글을 수정할 수 있습니다.</strong>
            작성자 본인이라면, 글 작성시 입력한 비밀번호를 입력하여 글을 수정할 수 있습니다.
            {% elif "delete" in action %}
            <strong>작성자만 글을 삭제할 수 있습니다.</strong>
            작성자 본인이라면, 글 작성시 입력한 비밀번호를 입력하여 글을 삭제할 수 있습니다.
            {% else %}
            <strong>비밀글 기능으로 보호된 글입니다.</strong>
            작성자와 관리자만 열람하실 수 있습니다.<br> 본인이라면 비밀번호를 입력하세요.
            {% endif %}
        </p>
    
        <form name="fboardpassword" action="{{ url_for("password_check", action=action, bo_table=bo_table, wr_id=write.wr_id) }}?{{ request.query_params }}" method="post"  onsubmit="return password_form_submit(this);">
            <input type="hidden" name="token" value="">
        
            <fieldset>
                <label for="pw_wr_password" class="sound_only">비밀번호<strong>필수</strong></label>
                <input type="password" name="wr_password" id="password_wr_password" required class="frm_input required" size="15" maxLength="20" placeholder="비밀번호">
                <input type="submit" value="확인" class="btn_submit">
            </fieldset>
        </form>
    </div>
<!-- } 비밀번호 확인 끝 -->
    <script>
        function password_form_submit(f) {
            f.token.value = generate_token();

            return true;
        }
        
    // 다크모드 설정
    function handleDarkModeChange() {
          const isUserColorTheme = localStorage.getItem('color-theme');
          const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
          const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

          const initialTheme = getUserTheme();
          if (initialTheme === 'dark') {
            document.documentElement.setAttribute('color-theme', 'dark');
          } else {
            document.documentElement.setAttribute('color-theme', 'light');
          }
        }; 

        document.addEventListener('DOMContentLoaded', handleDarkModeChange)

        // 로컬스토리지 데이터에따라 실시간 변경
        window.addEventListener('storage', function (event) {
            handleDarkModeChange();
        });
        
    </script>
{% endblock content %}