<div class="tbl_head01 tbl_wrap">
    <table>
        <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">선택</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <tr>
                    <td>{{ data.subject }} </td>
                    <td class="td_mngsmall">
                        <input type="hidden" name="subject[]" value="{{ data.subject }}">
                        <input type="hidden" name="link[]" value="{{ url_for('group_board_list', gr_id=data.id) }}">
                        <button type="button" class="add_select btn btn_03">
                            <span class="sound_only">{{ data.subject }} </span>
                            선택
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="local_desc01 menu_exists_tip" style="display:none">
    <p>* <strong>빨간색</strong>의 제목은 이미 메뉴에 연결되어 경우 표시됩니다.</p>
</div>

<div class="btn_win02 btn_win">
    <button type="button" class="btn_02 btn" onclick="window.close();">창닫기</button>
</div>