{% extends "base_sub.html" %}

{% block title %}폼메일{% endblock title %}

{% block content %}
<div id="formmail" class="new_win">
    <h1 id="win_title">{{ to_name }}님께 메일보내기</h1>

    <form name="fformmail" action="/bbs/formmail_send" onsubmit="return fformmail_submit(this);" method="post" enctype="multipart/form-data" style="margin:0px;">
        <input type="hidden" name="token" value="">
        <input type="hidden" name="to" value="{{ to_email }}">
        <input type="hidden" name="attach" value="2">
        {% if member %}
        <input type="hidden" name="fnick" value="{{ member.mb_nick }}">
        <input type="hidden" name="fmail" value="{{ member.mb_email }}">
        {% endif %}

        <div class="form_01 new_win_con">
            <h2 class="sound_only">메일쓰기</h2>
            <ul>
                {% if not member %}
                <li>
                    <label for="fnick" class="sound_only">이름<strong>필수</strong></label>
                    <input type="text" name="fnick" id="fnick" required class="frm_input full_input required" placeholder="이름">
                </li>
                <li>
                    <label for="fmail" class="sound_only">E-mail<strong>필수</strong></label>
                    <input type="text" name="fmail"  id="fmail" required class="frm_input full_input required" placeholder="E-mail">
                </li>
                {% endif %}
                <li>
                    <label for="subject" class="sound_only">제목<strong>필수</strong></label>
                    <input type="text" name="subject" id="subject" required class="frm_input full_input required"  placeholder="제목">
                </li>
                <li class="chk_box">
                    <span class="sound_only">형식</span>
                    <input type="radio" name="type" value="0" id="type_text" checked>
                    <label for="type_text"><span></span>TEXT</label>
                    
                    <input type="radio" name="type" value="1" id="type_html">
                    <label for="type_html"><span></span>HTML</label>
                    
                    <input type="radio" name="type" value="2" id="type_both">
                    <label for="type_both"><span></span>TEXT+HTML</label>
                </li>
                <li>
                    <label for="content" class="sound_only">내용<strong>필수</strong></label>
                    <textarea name="content" id="content" required class="required"></textarea>
                </li>
                <li class="formmail_flie">
                    <div class="file_wr">
                        <label for="file1" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span class="sound_only"> 첨부 파일 1</span></label>
                        <input type="file" name="file1"  id="file1"  class="frm_file full_input">
                </div>
                <div class="frm_info">첨부 파일은 누락될 수 있으므로 메일을 보낸 후 파일이 첨부 되었는지 반드시 확인해 주시기 바랍니다.</div>   
                </li>
                <li class="formmail_flie">
                    <div class="file_wr">
                        <label for="file2" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span class="sound_only"> 첨부 파일 2</span></label>
                        <input type="file" name="file2" id="file2" class="frm_file full_input">
                    </div>
                </li>
                <li>
                    <span class="sound_only">자동등록방지</span>
                    <!-- Captcha Start -->
                    <fieldset id="captcha" class="captcha">
                        {% include captcha_widget(request) ignore missing %}
                    </fieldset>
                    <!-- Captcha End -->
                </li>
            </ul>
            <div class="win_btn">
                <button type="submit" id="btn_submit" class="btn_b02 reply_btn">메일발송</button>
                <button type="button" onclick="window.close();" class="btn_close">창닫기</button>
            </div>
        </div>
    </form>
</div>

<script>
with (document.fformmail) {
    if (typeof fname != "undefined")
        fname.focus();
    else if (typeof subject != "undefined")
        subject.focus();
}

function fformmail_submit(f)
{

    if (f.file1.value || f.file2.value) {
        if (!confirm("첨부파일의 용량이 큰경우 전송시간이 오래 걸립니다.\n\n메일보내기가 완료되기 전에 창을 닫거나 새로고침 하지 마십시오."))
            return false;
    }

     // captcha 사용시
     if (typeof check_captcha === "function") {
        if (!check_captcha(f)) {
            return false;
        }
    }

    document.getElementById('btn_submit').disabled = true;

    return true;
}
</script>
{% endblock content %}