<ul id="gnb_1dul">
    <li class="gnb_1dli gnb_mnal">
        <button type="button" class="gnb_menu_btn" title="전체메뉴">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="sound_only">전체메뉴열기</span>
        </button>
    </li>
    {% for menu in menus %}
        {% set is_submenu = True if menu.sub|count > 0 else False %}
        <li class="gnb_1dli {% if is_submenu %}gnb_al_li_plus{% endif %}" style="z-index:{{ 999 - loop.index }}">
            <a href="{{ menu.me_link }}" target="_{{ menu.me_target }}" class="gnb_1da">{{ menu.me_name }}</a>
            {% if is_submenu %}
                <span class="bg">하위분류</span>
                <div class="gnb_2dul">
                    <ul class="gnb_2dul_box">
                        {% for sub in menu.sub %}
                            <li class="gnb_2dli">
                                <a href="{{ sub.me_link }}" target="_{{ sub.me_target }}" class="gnb_2da">{{ sub.me_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% else %}
        <li class="gnb_empty">
            메뉴 준비 중입니다.
            <a href="{{ url_for('menu_list') }}">관리자모드 &gt; 환경설정 &gt; 메뉴설정</a>에서 설정하실 수 있습니다.
        </li>
    {% endfor %}
</ul>
<div id="gnb_all">
    <h2>전체메뉴</h2>
    <ul class="gnb_al_ul">
        {% for menu in menus %}
            {% set is_submenu = True if menu.sub|count > 0 else False %}
            <li class="gnb_al_li">
                <a href="{{ menu.me_link }}" target="_{{ menu.me_target }}" class="gnb_al_a">{{ menu.me_name }}</a>
                {% if is_submenu %}
                    <ul>
                        {% for sub in menu.sub %}
                            <li><a href="{{ sub.me_link }}" target="_{{ sub.me_target }}">{{ sub.me_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li class="gnb_empty">
                메뉴 준비 중입니다.
                <br><a href="{{ url_for('menu_list') }}">관리자모드 &gt; 환경설정 &gt; 메뉴설정</a>에서 설정하실 수 있습니다.
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="gnb_close_btn">
        <i class="fa fa-xmark" aria-hidden="true"></i>
    </button>
</div>
<div id="gnb_all_bg"></div>

<script>
    $(function(){
        $(".gnb_menu_btn").click(function(){
            $("#gnb_all, #gnb_all_bg").show();
        });
        $(".gnb_close_btn, #gnb_all_bg").click(function(){
            $("#gnb_all, #gnb_all_bg").hide();
        });
    });
</script>
