{% extends "base_sub.html" %}
{% set login_member = request.state.login_member %}

{% block title %}{{ login_member.mb_nick }}님의 포인트 내역{% endblock title %}

{% block content %}
<div id="point" class="new_win">
    <h1 id="win_title">{{ login_member.mb_nick }}님의 포인트 내역</h1>
    <div class="new_win_con2">
        <ul class="point_all">
            <li class="full_li">
                보유포인트
                <span>{{ login_member.mb_point|number_format }}</span>
            </li>
        </ul>
        <ul class="point_list">
        {% for point in points %}
            <li class="{% if not point.is_positive %}point_use{% endif %}">
                <div class="point_top">
                    <span class="point_tit">{{ point.po_content }}</span>
                    <span class="point_num">
                        {% if point.is_positive -%}
                            +
                        {%- endif -%}
                        {{ point.po_point|number_format }}
                    </span>
                </div>
                <span class="point_date1">
                    <i class="fa fa-regular fa-clock" aria-hidden="true"></i>
                    {{ point.po_datetime }}
                </span>
                <span class="point_date {% if point.po_expired %}txt_expired{% endif %}" style="margin-left:5px;">
                {%- if point.is_positive -%}
                    {%- if point.po_expired -%}
                        만료 {{ point.po_expire_date|datetime_format("%Y-%m-%d") }}
                    {%- elif point.po_expire_date|datetime_format("%Y-%m-%d")  == "9999-12-31" -%}
                        &nbsp;
                    {%- else -%}
                        | 만료 예정 : {{ point.po_expire_date|datetime_format("%Y-%m-%d") }}
                    {%- endif -%}
                {%- endif -%}
                </span>
            </li>
        {% endfor %}
            
            <li class="point_status">
                소계
                <span>+{{ sum_positive|number_format }}</span>
                <span>{{ sum_negative|number_format }}</span>
            </li>
        </ul>
    </div>
    {{ paging|safe }}
    <button type="button" onclick="javascript:window.close();" class="btn_close">창닫기</button>
</div>
<script>
    // 다크모드 설정
    function handleDarkModeChange() {
          const isUserColorTheme = localStorage.getItem('color-theme');
          const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
          const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme);

          const initialTheme = getUserTheme();
          if (initialTheme === 'dark') {
            document.documentElement.setAttribute('color-theme', 'dark');
          } else {
            document.documentElement.setAttribute('color-theme', 'light');
          }
        }; 

        document.addEventListener('DOMContentLoaded', handleDarkModeChange)

        // 로컬스토리지 데이터에따라 실시간 변경
        window.addEventListener('storage', function (event) {
            handleDarkModeChange();
        });
</script>
{% endblock content %}