{% extends "base.html" %}

{% block title %}회원 비밀번호 확인{% endblock title %}

{% block content %}
<div id="mb_confirm" class="mbskin">
    <h1>회원 비밀번호 확인</h1>
    {% if request.url == url_for('member_leave_form') %}
        <p>
            <strong>회원탈퇴를 하시려면 비밀번호를 한번 더 입력해주세요.</strong>
        </p>
    {% else %}
        <p>
            <strong>비밀번호를 한번 더 입력해주세요.</strong>
            회원님의 정보를 안전하게 보호하기 위해 비밀번호를 한번 더 확인합니다.
        </p>
    {% endif %}

    <form name="fmemberconfirm" action="{{ action_url }}"
          onsubmit="return fmemberconfirm_submit(this)"
          method="post">
        <input type="hidden" name="mb_id" value="{{ member.mb_id }}">
        <input type="hidden" name="token" value="">

        <fieldset>
            <span class="confirm_id">회원아이디</span>
            <span id="mb_confirm_id"> {{ member.mb_id }} </span>
            <label for="confirm_mb_password" class="sound_only">비밀번호<strong>필수</strong></label>
            <input type="password" name="mb_password" id="confirm_mb_password" required class="required frm_input"
                   size="15" maxLength="20" placeholder="비밀번호">
            <input type="submit" value="확인" id="btn_submit" class="btn_submit">
        </fieldset>
    </form>
</div>

<script>
    function fmemberconfirm_submit(f)
    {
        document.getElementById("btn_submit").disabled = true;

        f.token.value = generate_token();

        return true;
    }
</script>
{% endblock content %}
