{% extends "base.html" %}

{% block title %}회원정보 찾기{% endblock title %}
{% block subtitle %}회원정보 > 비밀번호 재설정{% endblock subtitle %}

{% block content %}
<div id="find_info" class="new_win">
    <div class="new_win_con">
        <form name="fpasswordreset" action="/bbs/password_reset/{{ member.mb_id }}" onsubmit="return fpasswordreset_submit(this);" method="post" autocomplete="off">
            <input type="hidden" name="token" value="">
            <h3>비밀번호 재설정</h3>
            <fieldset id="info_fs">
                <p>재설정할 비밀번호를 입력해주세요.</p>
                <label for="mb_password" class="sound_only">비밀번호<strong class="sound_only">필수</strong></label>
                <input type="password" name="mb_password" id="mb_password" required="" class="required frm_input full_input" size="30" placeholder="비밀번호">
                <label for="mb_password_confirm" class="sound_only">비밀번호 확인<strong class="sound_only">필수</strong></label>
                <input type="password" name="mb_password_confirm" id="mb_password_confirm" required="" class="required frm_input full_input" size="100" placeholder="비밀번호 확인">
            </fieldset>

            <!-- Captcha Start -->
            <fieldset id="captcha" class="captcha">
                {% include captcha_widget(request) ignore missing %}
            </fieldset>
            <!-- Captcha End -->

            <div class="win_btn">
                <button type="submit" class="btn_submit">비밀번호 변경</button>
            </div>
        </form>
    </div>
</div>
<script>    
function fpasswordreset_submit(f) {
    // captcha 사용시
    if (typeof check_captcha === "function") {
        if (!check_captcha(f)) {
            return false;
        }
    }

    f.token.value = generate_token();

    return true;
}
</script>
{% endblock content %}