{% extends "base.html" %}

{% block title %}회원정보 찾기{% endblock title %}
{% block subtitle %}회원정보 > 비밀번호 찾기{% endblock subtitle %}

{% block content %}
<div id="find_info" class="new_win">
    <div class="new_win_con">
        <form name="fpasswordlost" action="/bbs/password_lost" onsubmit="return fpasswordlost_submit(this);" method="post" autocomplete="off">
            <input type="hidden" name="token" value="">
            <h3>회원가입정보로 비밀번호 찾기</h3>
            <fieldset id="info_fs">
                <p>
                    아이디, 이메일 주소를 입력해주세요.<br>
                    등록된 회원정보가 있다면 해당 이메일로 비밀번호를 재설정할 수 있는 링크를 보내드립니다.
                </p>
                <label for="mb_name" class="sound_only">아이디<strong class="sound_only">필수</strong></label>
                <input type="text" name="mb_id" id="mb_id" required="" class="required frm_input half_input" size="30" placeholder="아이디">
                <label for="mb_email" class="sound_only">E-mail 주소<strong class="sound_only">필수</strong></label>
                <input type="text" name="mb_email" id="mb_email" required="" class="required frm_input full_input email" size="100" placeholder="E-mail 주소">
            </fieldset>

            <!-- Captcha Start -->
            <fieldset id="captcha" class="captcha">
                {% include captcha_widget(request) ignore missing %}
            </fieldset>
            <!-- Captcha End -->

            <div class="win_btn">
                <button type="submit" class="btn_submit">비밀번호 재설정 메일 발송</button>
            </div>
        </form>
    </div>
</div>
<script>    
function fpasswordlost_submit(f) {
    // captcha 사용시
    if (typeof check_captcha === "function") {
        if (!check_captcha(f)) {
            return false;
        }
    }

    f.token.value = generate_token();

    return true;
}
</script>
{% endblock content %}