{% extends "base.html" %}

{% block title %}
회원가입
{% endblock %}

{% block content %}

{% if errors %}
<ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1 id="container_title">회원가입</h1>
<!-- 회원정보 입력/수정 시작 { -->

<!--	{% set form_action_url = url_for('register_form') if not member.id else url_for("member_profile_update", mb_no=member.id) %}-->


<div class="register">
    <form id="fregisterform" name="fregisterform" action="{{ form.action_url }}"
          onsubmit="return fregisterform_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off">
        <input type="hidden" name="agree" value="{{ register.agree if register is defined else '' }}">
        <input type="hidden" name="agree2" value="{{ register.agree2 if register2 is defined else '' }}">
        <input type="hidden" name="cert_type" value="">
        <input type="hidden" name="cert_no" value="">
        <input type="hidden" name="mb_sex" value="">
        <input type="hidden" name="token" value="{{ generate_one_time_token('create') }}">

        <div id="register_form" class="form_01">
            <div class="register_form_inner">
                <h2>사이트 이용정보 입력</h2>
                <ul>
                    <li>
                        <label for="reg_mb_id">
                            아이디 (필수)
                            <button type="button" class="tooltip_icon">
								<i class="fa fa-question-circle-o" aria-hidden="true"></i>
								<span class="sound_only">설명보기</span>
							</button>
                            <span class="tooltip">영문자, 숫자, _ 만 입력 가능. 최소 3자이상 입력하세요.</span>
                        </label>
                        <input type="text" name="mb_id" value="{{ member.mb_id if register is defined else '' }}"
                               id="reg_mb_id" required class="frm_input full_input required " minlength="3"
                               maxlength="20" placeholder="아이디">
                        <span id="msg_mb_id"></span>
                    </li>
                    <li class="half_input left_input margin_input">
                        <label for="reg_mb_password">비밀번호 (필수)</label>
                        <input type="password" name="mb_password" id="reg_mb_password" 
						{{ "required" if is_creating else None }}
                        class="frm_input full_input required" minlength="3" maxlength="20" placeholder="비밀번호">
                    </li>
                    <li class="half_input left_input">
                        <label for="reg_mb_password_re">비밀번호 확인 (필수)</label>
                        <input type="password" name="mb_password_re" id="reg_mb_password_re"
							   {{ "required" if is_creating else None }}
                               class="frm_input full_input required" minlength="3" maxlength="20" placeholder="비밀번호 확인">
                    </li>
                </ul>
            </div>

            <div class="tbl_frm01 tbl_wrap register_form_inner">
                <h2>개인정보 입력</h2>
                <ul>
                    <li>
                    </li>
                    <li>
                        <label for="reg_mb_name">이름 (필수)</label>
                        <input type="text" id="reg_mb_name" name="mb_name"
                               value="{{ member.mb_name if register is defined else '' }}" required
                               class="frm_input full_input required " size="10" placeholder="이름">
                    </li>
                    <li>
                        <label for="reg_mb_nick">
                            닉네임 (필수)
                            <button type="button" class="tooltip_icon">
                                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                <span class="sound_only">설명보기</span>
							</button>
                            <span class="tooltip">공백없이 한글,영문,숫자만 입력 가능 (한글2자, 영문4자 이상)<br> 닉네임을 바꾸시면 앞으로 60일 이내에는 변경 할 수 없습니다.</span>
                        </label>

                        <input type="hidden" name="mb_nick_default" value="">
                        <input type="text" name="mb_nick" value="{{ member.mb_nick if register is defined else '' }}"
                               id="reg_mb_nick" required class="frm_input required nospace full_input" size="10"
                               maxlength="20" placeholder="닉네임">
                        <span id="msg_mb_nick"></span>
                    </li>

                    <li>
                        <label for="reg_mb_email">E-mail (필수)</label>

                        <input type="hidden" name="old_email" value="">
                        <input type="text" name="mb_email" value="{{ member.mb_email if register is defined else '' }}"
                               id="reg_mb_email" required class="frm_input email full_input required" size="70"
                               maxlength="100" placeholder="E-mail">
                    </li>


                    <li>
                    </li>
                    <li>
                    </li>

                </ul>
            </div>

            <div class="tbl_frm01 tbl_wrap register_form_inner">
                <h2>기타 개인설정</h2>
                <ul>

                    <li class="chk_box">
                        <input type="checkbox" name="mb_mailling" value="1" id="reg_mb_mailling" checked
                               class="selec_chk">
                        <label for="reg_mb_mailling">
                            <span></span>
                            <b class="sound_only">메일링서비스</b>
                        </label>
                        <span class="chk_li">정보 메일을 받겠습니다.</span>
                    </li>


                    <li class="chk_box">
                        <input type="checkbox" name="mb_open" value="1" id="reg_mb_open" checked class="selec_chk">
                        <label for="reg_mb_open">
                            <span></span>
                            <b class="sound_only">정보공개</b>
                        </label>
                        <span class="chk_li">다른분들이 나의 정보를 볼 수 있도록 합니다.</span>
                        <button type="button" class="tooltip_icon"><i class="fa fa-question-circle-o"
                                                                      aria-hidden="true"></i><span class="sound_only">설명보기</span>
                        </button>
                        <span class="tooltip">
							정보공개를 바꾸시면 앞으로 0일 이내에는 변경이 안됩니다.
						</span>
                        <input type="hidden" name="mb_open_default" value="">
                    </li>


                    <li class="is_captcha_use">
                        자동등록방지

                        <script>var g5_captcha_url  = "http://g5.pypot.com/plugin/kcaptcha";</script>
                        <script src="http://g5.pypot.com/plugin/kcaptcha/kcaptcha.js"></script>
                        <fieldset id="captcha" class="captcha">
                            <legend><label for="captcha_key">자동등록방지</label></legend>
                            <img src="http://g5.pypot.com/plugin/kcaptcha/img/dot.gif" alt="" id="captcha_img"><input
                                type="text" name="captcha_key" id="captcha_key" required class="captcha_box required"
                                size="6" maxlength="6">
                            <button type="button" id="captcha_mp3"><span></span>숫자음성듣기</button>
                            <button type="button" id="captcha_reload"><span></span>새로고침</button>
                            <span id="captcha_info">자동등록방지 숫자를 순서대로 입력하세요.</span>
                        </fieldset>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn_confirm">
            <a href="/" class="btn_close">취소</a>
            <button type="submit" id="btn_submit" class="btn_submit" accesskey="s">회원가입</button>
        </div>
    </form>
</div>
<script>
    $(function() {
        $("#reg_zip_find").css("display", "inline-block");
        var pageTypeParam = "pageType=register";
    
                });
    
    // submit 최종 폼체크
    function fregisterform_submit(f)
    {
        // 회원아이디 검사
        if (f.w.value == "") {
            var msg = reg_mb_id_check();
            if (msg) {
                alert(msg);
                f.mb_id.select();
                return false;
            }
        }
    
        if (f.w.value == "") {
            if (f.mb_password.value.length < 3) {
                alert("비밀번호를 3글자 이상 입력하십시오.");
                f.mb_password.focus();
                return false;
            }
        }
    
        if (f.mb_password.value != f.mb_password_re.value) {
            alert("비밀번호가 같지 않습니다.");
            f.mb_password_re.focus();
            return false;
        }
    
        if (f.mb_password.value.length > 0) {
            if (f.mb_password_re.value.length < 3) {
                alert("비밀번호를 3글자 이상 입력하십시오.");
                f.mb_password_re.focus();
                return false;
            }
        }
    
        // 이름 검사
        if (f.w.value=="") {
            if (f.mb_name.value.length < 1) {
                alert("이름을 입력하십시오.");
                f.mb_name.focus();
                return false;
            }
    
            /*
            var pattern = /([^가-힣\x20])/i;
            if (pattern.test(f.mb_name.value)) {
                alert("이름은 한글로 입력하십시오.");
                f.mb_name.select();
                return false;
            }
            */
        }
    
        
        // 닉네임 검사
        if ((f.w.value == "") || (f.w.value == "u" && f.mb_nick.defaultValue != f.mb_nick.value)) {
            var msg = reg_mb_nick_check();
            if (msg) {
                alert(msg);
                f.reg_mb_nick.select();
                return false;
            }
        }
    
        // E-mail 검사
        if ((f.w.value == "") || (f.w.value == "u" && f.mb_email.defaultValue != f.mb_email.value)) {
            var msg = reg_mb_email_check();
            if (msg) {
                alert(msg);
                f.reg_mb_email.select();
                return false;
            }
        }
    
        
        if (typeof f.mb_icon != "undefined") {
            if (f.mb_icon.value) {
                if (!f.mb_icon.value.toLowerCase().match(/.(gif|jpe?g|png)$/i)) {
                    alert("회원아이콘이 이미지 파일이 아닙니다.");
                    f.mb_icon.focus();
                    return false;
                }
            }
        }
    
        if (typeof f.mb_img != "undefined") {
            if (f.mb_img.value) {
                if (!f.mb_img.value.toLowerCase().match(/.(gif|jpe?g|png)$/i)) {
                    alert("회원이미지가 이미지 파일이 아닙니다.");
                    f.mb_img.focus();
                    return false;
                }
            }
        }
    
        if (typeof(f.mb_recommend) != "undefined" && f.mb_recommend.value) {
            if (f.mb_id.value == f.mb_recommend.value) {
                alert("본인을 추천할 수 없습니다.");
                f.mb_recommend.focus();
                return false;
            }
    
            var msg = reg_mb_recommend_check();
            if (msg) {
                alert(msg);
                f.mb_recommend.select();
                return false;
            }
        }
    
        if (!chk_captcha()) return false;
    
        document.getElementById("btn_submit").disabled = "disabled";
    
        return true;
    }
    
    jQuery(function($){
        //tooltip
        $(document).on("click", ".tooltip_icon", function(e){
            $(this).next(".tooltip").fadeIn(400).css("display","inline-block");
        }).on("mouseout", ".tooltip_icon", function(e){
            $(this).next(".tooltip").fadeOut();
        });
    });

</script>

<!-- } 회원정보 입력/수정 끝 -->

{% endblock %}
