<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    function getRecaptchaTokenName() {
        return 'g-recaptcha-response';
    }
    
    function check_captcha(form) {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
        });
        if (document.getElementById(getRecaptchaTokenName()).value == "") {
            grecaptcha.execute();
        }
        
        return false;
    }
    
    function recaptchaOnSubmit(token) {
        const form = document.getElementById(getRecaptchaTokenName()).closest("form");
        if (form) {
            form.submit();
        }
    }
</script>


<div class="g-recaptcha" data-sitekey="{{ request.state.config.cf_recaptcha_site_key }}" 
     data-size="invisible"
     data-callback="recaptchaOnSubmit"
></div>
